@import '../../../../../../common/src/ui/styles/theme.scss';

.paperWalletInfoCard {
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333));
}

.infoSection {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--light-mode-light-grey-plus-56, var(--dark-mode-light-black, #282828));
}
