@import '../../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.banner {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  &.popupView {
    margin-bottom: 0;
  }

  .bannerDescriptionContainer {
    align-items: center;
  }

  .bannerDescription {
    max-width: 315px;
    font-weight: 500;
  }
}

.bannerPopup {
  border-radius: 16px;
  background-color: var(--dark-mode-dark-grey-plus, var(--color-magnolia, #fcf5e3));
}
