@import '../../../styles/utils/functions.scss';
@import '../../../../../../packages/common/src/ui/styles/theme.scss';

.nftsLayout {
  overflow: hidden;
  margin-top: size_unit(1);
  margin-right: -#{size_unit(1)};
  width: 100%;
}

.nfts {
  display: flex;
  flex-direction: column;
  flex: 1;
  .content {
    flex: 1;
    padding-bottom:size_unit(2);
    display: flex;
    flex-direction: column;
  }
  .content::-webkit-scrollbar {
    width: 0;
    scrollbar-width: thin;
  }

  .content::-webkit-scrollbar-track {
    width: 6px;
    background-color: var(--color-white, #ffffff);
    border-radius: 0px 0px 0px size_unit(2);
  }

  .content::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: var(--light-mode-light-grey-plus);
    border-radius: size_unit(2);
  }
}

.header {
  align-items: baseline;
  color: var(--text-color-black);
  display: flex;
  font-size: var(--heading);
  font-weight: 700;
  line-height: size_unit(4);
  margin-bottom: 0;
  padding: 0 25px size_unit(4) 25px;
  .subItem {
    color: var(--text-color-secondary);
    font-size: var(--bodyLarge);
    font-weight: 600;
    line-height: size_unit(3);
    margin-bottom: -#{size_unit(1)};
    margin-left: size_unit(1);
  }
}

.footer {
  button.sendBtn {
    width: 100%;
    font-weight: 600 !important;
  }
}

.secondaryTitle {
  font-size: var(--heading);
  font-weight: 700;
  line-height: size_unit(5);
  text-align: left;
  margin-top: size_unit(1);
  color: var(--text-color-primary);
  text-align: left;
  width: 100%;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  margin-right: size_unit(3);
  margin-bottom: 18px;
  .title {
    margin-bottom: 0 !important;
  }
  .newFolderBtn {
    min-width: size_unit(6) !important;
    min-height: size_unit(6) !important;
    margin: -#{size_init(1)} 0;
    padding: 0;
    .newFolderIcon {
      font-size: var(--bodyLarge);
    }
  }
}
