@import '../../styles/theme.scss';
@import '../../../../../../packages/common/src/ui/styles/abstracts/_typography';

.dappInfo {
  font-weight: 500;
  line-height: 1.7;
  color: var(--text-color-light-grey) !important;
}

.dappInfoContainer {
  padding: size_unit(2);
  margin: size_unit(1);
  background-color: var(--data-light-grey);
}