@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/_typography.scss';

.address {
  display: flex;
  justify-content: space-between;
  padding: size_unit(2.5) 0;
}

.tokenCount {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.addressText {
  line-height: size_unit(2);
}
