@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/_typography.scss';

.root {
  color: var(--text-color-primary);
}

.address {
  display: flex;
  justify-content: space-between;
  padding: size_unit(2.5) 0;
}

.tokenCount {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.positiveAmount {
  color: var(--data-green, #2cb67d);
}
