@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/_typography.scss';

.address {
  display: flex;
  justify-content: space-between;
  padding: size_unit(2.5) 0;
}

.addressInfo {
  color: var(--text-color-primary, #ffffff) !important;
  font-size: medium;
  font-weight: 500;
}


.summaryContent {
  padding-bottom: size_unit(2.5);
}

.tokenCount {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.positiveAmount {
  color: var(--data-green, #2CB67D) !important;
}
