.titleBadge {
  border-radius: 16px;
  background: var(--Gradient-Lace, linear-gradient(94deg, #FF92E1 -18.3%, #FDC300 118.89%));
  display: flex;
  align-items: center; 
  justify-content: center;   
  padding: 0 8px;
  height: 20px;
}
.badgeCaption {
  color: var(--White, #FFF);  
}

.scroll {
  overflow: auto;
  height: 200px;
  padding: 0 4px;
  color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #6f7786));
}
.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 6px;
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #efefef)); 
}

.track {
  min-width: 6px;
}