@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

$button_size: 52px;
[ant-click-animating-without-extra-node='true']::after {
  display: none;
  color: var(--text-color-secondary) !important;
}

:global(.ant-btn:focus) {
  color: var(--text-color-secondary) !important;
}

:global(.anticon) {
  &.valid {
    color: var(--text-color-green);
  }

  &.invalid {
    color: var(--text-color-red);
  }
}

button.addressBookBtn {
  @include flex-center;
  background-color: var(--color-white, var(--dark-mode-grey, #ffffff));
  color: var(--text-color-secondary);
  border-radius: 11px; // should we use size_unit function in this case?
  border: none;
  height: $button_size;
  min-height: $button_size;
  min-width: $button_size;
  width: $button_size;
  box-shadow: none !important;

  &:active,
  &:focus {
    box-shadow: none !important;
    border: none !important;
    background-color: var(--color-white, var(--dark-mode-grey, #ffffff)) !important;
  }

  &:hover {
    box-shadow: none !important;
    background-color: var(--color-white, var(--dark-mode-grey, #ffffff));
    color: var(--light-mode-dark-grey, #fff) !important;
  }

  &:disabled {
    background-color: var(--color-white, var(--dark-mode-grey, #ffffff)) !important;
    .icon {
      opacity: 0.24;
      color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #c0c0c0));
    }
  }

  .icon {
    font-size: size_unit(3);
  }
}

.addressOption {
  color: var(--text-color-primary);
  display: flex;
  font-size: var(--bodyLarge);
  font-weight: 600;
  justify-content: space-between;
  letter-spacing: -0.015em;
  line-height: size_unit(3);
  width: 100%;

  :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
    background-color: var(--color-white, var(--dark-mode-grey, #ffffff));
    color: var(--light-mode-dark-grey, #fff) !important;
  }

  > span {
    align-items: center;
    display: flex;
    flex: 1;
    min-width: 0;
    font-weight: 400;
    padding-right: size_unit(6);
    &:first-child {
      font-weight: 600;
    }

    p {
      margin: 0 !important;
    }
  }
}

.children {
  pointer-events: none;
  position: absolute;
  top: 30px;
  left: 22px;
  width: 100%;
  z-index: 1;
  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey, #2f2f2f)) !important;
  
  @media (max-width: $breakpoint-popup) {
    top: 8px;
    left: 0;
  }

  .validAddress {
    color: var(--text-color-primary);
    font-size: var(--bodyLarge);
    font-weight: 500;
    justify-content: space-between;
    letter-spacing: -0.015em;
    line-height: size_unit(3);

    p {
      margin: 0 !important;
    }
  }
}

.addressOption {
  color: var(--text-color-primary) !important;
  font-weight: 600 !important;
  > span {
    &:first-child {
      font-weight: 600 !important;
    }
  }
}

@media (max-width: $breakpoint-popup) {
  .addressOption {
    color: var(--text-color-primary) !important;
    font-weight: 500 !important;
    flex-direction: column;
    > span {
      color: var(--text-color-primary) !important;
      &:first-child {
        font-weight: 600 !important;
      }
    }
  }
}
