@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.form {
  padding: size_unit(3) size_unit(4) size_unit(4) !important;
  border: 2px solid var(--light-mode-light-grey-plus);
  border-radius: size_unit(2);
  background-color: var(--dark-mode-mid-black, transparent);
}

.addressFormComponent {
  border: none;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: size_unit(2);
}

.title {
  @include text-subHeading-bold;
  color: var(--text-color-primary, #3d3b39);
}

.subTitle {
  @include text-body-medium;
  color: var(--text-color-secondary, #878e9e);
  margin-top: size_unit(1);
  margin-bottom: size_unit(4);
}
.formContent .inputWrapper {
  margin-bottom: 0px;
  :global(.ant-input-affix-wrapper) {
    background-color: var(--light-mode-light-grey) !important;
    border-radius: size_unit(2) !important;
    margin-bottom: 0;
  }

  &:nth-child(2) {
    margin-top: size_unit(1.5);
    margin-bottom: size_unit(1);
  }

  .textArea,
  .input {
    background-color: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
    border-radius: size_unit(2) !important;
    margin-bottom: 0;
  }

  .textArea {
    min-height: 64px !important;
    &::placeholder {
      margin-left: 4px !important;
    }
  }

  :global {
    .ant-form-item-explain {
      height: 0px !important;
      max-height: 0px !important;
    }
    .ant-form-item-explain-error {
      color: var(--data-pink);
      font-size: var(--bodySmall);
      font-weight: normal;
      line-height: size_unit(2);
      padding-left: size_unit(2) !important;
      position: absolute;
      margin-top: size_unit(1);
    }
  }
}

.actions {
  margin-bottom: 0px !important;

  .submitBtn {
    font-weight: $font-weight-semi-bold !important;
    &:disabled {
      border: 2px solid var(--light-mode-mid-grey, var(--dark-mode-mid-grey)) !important;
    }
  }
}

.input {
  :global(.ant-input-suffix) {
    width: 100%;
    font-size: size_unit(2.5);
    flex-direction: row-reverse;
  }

  :global(.ant-input) {
    width: calc(100% - 72px) !important;
  }
}

.icon {
  font-size: $font-size-bodyLarge;
}

:global(.anticon) {
  &.valid {
    color: var(--text-color-green);
  }

  &.invalid {
    color: var(--text-color-red);
  }
}