.passwordExtendedLayout {
  flex: 1;
  padding: 40px 58px 0 58px; // required to mimic existing layout in send tx flow
}

.passwordPopUpLayout {
  padding-top: 64px;
}

.passwordBoxPopupContainer {
  width: 100%;
}

.description {
  color: var(--text-color-secondary, #a9a9a9);
}
