@import '../../../styles/theme.scss';
@import '../../../../../../common/src/ui/styles/abstracts/typography';

%text {
  @include text-body-semi-bold;
  color: var(--text-color-primary);
}

.transactionCost {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: size_unit(1);

  .infoIcon {
    width: size_unit(3);
    height: size_unit(3);
    margin-bottom: -#{size_unit(0.625)};
    color: var(--text-color-secondary);
    cursor: pointer;
  }

  span.label {
    @extend %text;
  }
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  span.ada {
    @extend %text;
    font-weight: 500;
  }
  span.fiat {
    @extend %text;
    color: var(--text-color-secondary);
    font-weight: 500;
  }
}
