@import '../../../../../common/src/ui/styles/theme';

.search {
  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
  border-radius: size_unit(2) !important;
  height: size_unit(8) !important;
  margin-top: size_unit(3);
  padding-left: size_unit(3) !important;
  padding-right: size_unit(3) !important;
  transition: none;
  :global {
    .ant-input {
      transition: none;
      font-weight: 400 !important;
      font-size: var(--bodyLarge) !important;
      ::placeholder {
        font-weight: 400 !important;
        font-size: var(--bodyLarge) !important;
      }
    }
  }
}
