@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';
@import '../../../../../common/src/ui/styles/theme.scss';

.assetInputContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: size_unit(2);
  padding-bottom: size_unit(3);
  background-color: var(--light-mode-light-grey, var(--dark-mode-dark-grey, #383838));

  @media (max-width: $breakpoint-popup) {
    padding-bottom: size_unit(2);
  }

  .assetRow {
    position: relative;
    padding: size_unit(3) size_unit(4);
    scroll-margin-bottom: 80px;

    @media (max-width: $breakpoint-popup) {
      padding: size_unit(3);
      &:first-child {
        padding-top: size_unit(2);
      }
    }

    .close {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: size_unit(4);
      position: absolute;
      top: size_unit(5);
      right: -#{size_unit(2)};
      background-color: var(--color-white, var(--dark-mode-grey, #383838));
      color: var(--text-color-secondary);
      box-shadow: var(--shadows-lighter-assets);
      border-radius: 100%;
      width: size_unit(4);
      height: size_unit(4);
      cursor: pointer;

      .icon {
        font-size: 10px;
      }

      &:hover {
        color: var(--text-color-primary);
        background-color: var(--light-mode-light-grey-56, var(--dark-mode-grey, #383838));
      }

      &:active {
        color: var(--light-mode-black, var(--dark-mode-light-grey, #a9a9a9));
        background-color: var(--color-white, var(--dark-mode-grey, #383838));
      }

      @media (max-width: $breakpoint-popup) {
        width: size_unit(3);
        height: size_unit(3);
        right: -#{size_unit(1.5)};
        top: size_unit(5);
      }
    }

    .firstRow {
      top: size_unit(5.5) !important;
    }
  }

  .divider {
    height: 1px;
    margin: 0 size_unit(3);
    background-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333));
  }
}

.customBtn[data-color='secondary'] {
  background-color: var(--color-white, var(--dark-mode-grey, #ffffff)) !important;
  color: var(--text-color-secondary) !important;
  display: flex;
  justify-content: center;
  gap: size_unit(1.5);
  align-items: center;
  min-height: size_unit(6) !important;
  width: calc(100% - #{size_unit(6)}) !important;
  margin: 0 size_unit(3);

  &:hover {
    color: var(--text-color-primary) !important;
    background-color: var(--color-white, var(--dark-mode-mid-grey, #ffffff)) !important;
  }
  &:active {
    color: var(--text-color-secondary) !important;
  }

  &:disabled {
    color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #c0c0c0)) !important;
  }

  .plusIcon {
    font-size: 12px;
  }

  p {
    @include text-body-semi-bold;
    margin: 0;
  }
}
