@import '../../styles/theme.scss';

$text-box-btn-bg: var(--light-mode-light-grey-56, var(--dark-mode-mid-grey, #ffffff));
$text-box-btn-color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #6f7786));
$text-box-btn-shadow: var(--shadows-lighter-assets, none);

$text-box-btn-color-hover: var(--light-mode-dark-grey, var(--text-color-primary, #6f7786));

.textBoxBtn {
  @include flex-center;
  background-color: $text-box-btn-bg;
  color: $text-box-btn-color;
  width: 52px;
  height: 52px;
  border-radius: 11px;
  cursor: pointer;
  border: none;

  .textBoxIcon {
    font-size: 12px;
  }

  &:hover {
    box-shadow: $text-box-btn-shadow;
    color: $text-box-btn-color-hover;
  }

  &:active {
    color: $text-box-btn-color;
  }

  &:disabled {
    border: none;
    cursor: not-allowed;
    color: $text-box-btn-color;
    box-shadow: none;
    .textBoxIcon {
      opacity: 0.24;
    }
  }
}
