@import '../../../../../../common/src/ui/styles/theme';
@import '../../../../../../common/src/ui/styles/abstracts/typography';

.sharedWalletQuorumOption {
    align-items: center;
    
    .cardContainer { 
        width: 450px;
        padding: 20px;
    }

    .dropdownCopy {
        margin: 10px;
    }
}