@import '../../../../../common/src/ui/styles/abstracts/mixins';
@import '../../../../../common/src/ui/styles/theme.scss';

.root {
  overflow: hidden;
}

.timeline {
  width: 204px;
  border-right: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  margin: 0 0 0 40px !important;
  min-width: 200px;
  padding-top: 100px !important;
  .activeText {
    @include text-bodySmall-semi-bold;
  }
}

.scrollArea {
  flex: 1;
}

.scrollAreaViewport {
  max-height: 310px;
  overflow-y: visible;
}

.scrollBar {
  padding: 0;
  right: -25px !important;
}
