@import '../../styles/theme.scss';
@import '../../../../../../packages/common/src/ui/styles/abstracts/typography';

%textTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listItemContainer {
  align-content: center;
  background: transparent;
  border-radius: size_unit(2);
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  gap: 3%;
  grid-template-columns: 1fr 1fr;
  height: size_unit(9);
  padding: 0 size_unit(2);
  width: 100%;
  :global(.ant-menu) {
    background-color: var(--color-white, #ffffff) !important;
  }

  &.small {
    grid-template-columns: 50% 47%;
    height: size_unit(8);
    padding: 0 size_unit(2) 0 size_unit(1);
  }


  &:hover {
    background: var(--light-mode-light-grey, var(--dark-mode-mid-grey, #333333));
  }

  @media (max-width: $breakpoint-popup) {
    & > div:nth-child(1) {
      padding: 16px 0;
    }
  }
}

.listItemBlock {
  align-items: center;
  display: flex;
  gap: size_unit(1);
  &.small {
    gap: size_unit(2);

    .addressColor {
      color: var(--text-color-secondary) !important;
      text-align: right;
    }
  }
  .listItemName {
    @include text-bodyLarge-bold;
    align-items: center;
    color: var(--text-color-primary) !important;
    display: flex;
    flex: 1;
    min-width: 236px;
    @media (max-width: $breakpoint-popup) {
      min-width: 0;
    }

    &.small {
      font-size: var(--body) !important;
      line-height: size_unit(3) !important;
    }
  }
  .listItemAddress {
    flex: 1 1 256px;
    font-size: var(--bodySmall) !important;
    font-weight: 500 !important;
    line-height: size_unit(2) !important;
    & > * {
      width: 100%;
    }
    @media ( max-width: $breakpoint-popup) {
      flex: initial;
    }
  }
  .listItemWarning {
    min-width: size_unit(2.5);
    min-height: size_unit(2.5);
  }
  .textField {
    color: var(--text-color-primary) !important;
    @extend %textTruncate;
    margin-bottom: 0 !important;
    width: 100% !important;
    text-transform: none !important;
  }

  .addressColor {
    color: var(--text-color-secondary) !important;
    text-align: left;
  }
}

.addressBox {
  min-width: 0;
  @media (max-width: $breakpoint-popup) {
    justify-self: end;
  }
}

.listItemAvatar {
  align-items: center;
  background: rgba(127, 90, 240, 0.1) !important;
  border-radius: 50%;
  color: var(--primary-default, #7f5af0) !important;
  display: flex;
  font-size: var(--body) !important;
  font-weight: 700 !important;
  height: size_unit(6);
  justify-content: center;
  line-height: size_unit(3) !important;
  min-height: size_unit(6);
  min-width: size_unit(6);
  width: size_unit(6);
  &.small {
    height: size_unit(5);
    min-height: size_unit(5);
    min-width: size_unit(5);
    width: size_unit(5);
  }
}
