@import '../../../styles/theme.scss';
@import '../../../../../../common/src/ui/styles/abstracts/_typography.scss';

.header {
  font-size: var(--bodyLarge);
  letter-spacing: -0.015em;
  margin-bottom: size_unit(1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-weight: 600;
    line-height: size_unit(3);
    /* or 133% */
    /* Secondary - Black */
    color: var(--text-color-primary);
  }
  .type {
    font-weight: 500;
    line-height: size_unit(4);
    /* or 178% */
    text-align: right;
    /* Primary - Purple */
    color: var(--primary-default, #7f5af0);
  }
}
