@import '../../styles/theme';
.error {
  align-items: center;
  background: var(--color-magnolia, #fcf5e3);
  box-sizing: border-box;
  border-radius: size_unit(1.5);
  color: var(--text-color-black);
  display: flex;
  font-size: size_unit(2);
  font-weight: 600;
  line-height: size_unit(3);
  justify-content: center;
  padding: size_unit(2) size_unit(3);
  width: auto;

  .icon {
    color: var(--hover-orange);
    font-size: size_unit(2);
    margin-right: size_unit(3);
  }
}
