@import '../../../../../../cardano/src/ui/styles/theme.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;

  :global(.ant-list-split) :local(.listItemWrapper) {
    border-bottom: none !important;
    padding: 0;
    padding-bottom: size_unit(1);
    &:last-child {
      padding-bottom: 0px;
    }
  }
}

.stakepoolTable {
  width: 100%;
  .header {
    display: grid;
    flex: 1;
    grid-template-columns: 50% 25% 25%;
    padding-bottom: size_unit(2);
    > * {
      align-items: center;
      display: flex;
      gap: size_unit(2);
      padding-right: size_unit(6);
      &:last-child {
        padding-right: 0;
        justify-content: flex-end;
      }
      p {
        align-items: center;
        color: var(--text-color-secondary, #6b7280);
        cursor: pointer;
        display: flex;
        font-size: var(--body);
        font-weight: normal;
        line-height: size_unit(3);
        margin: 0;
        white-space: nowrap;
      }
    }
  }
  .selectedPools {
    display: flex;
    flex-direction: column;
    gap: size_unit(1);
  }
  .poolsSeparator {
    border-bottom: 1px solid var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    margin: size_unit(3) 0;
  }
}

.triangle {
  font-size: 6px;
  color: var(--text-color-secondary);
  margin-left: 6px;
  display: flex;
  align-self: center;
  margin-top: 2px;
  &.active {
    color: var(--text-color-primary);
  }
  &.up {
    transform: rotate(180deg);
  }

  svg {
    width: 9px;
    height: 18px;
  }
}

.skeleton {
  display: flex;
  align-items: center;
  gap: size_unit(3);
  min-height: 64px;
  padding: size_unit(3) size_unit(3) 0 size_unit(1);

  .skeletonAvatar {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border-radius: 100px;
    height: size_unit(6);
    width: size_unit(6);
  }
  .skeletonTitle {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border-radius: 12px;
    height: 19px;
    flex: 1;
  }
}

.iconWrapper {
  cursor: pointer;
  display: flex;

  .icon {
    color: var(--light-mode-mid-grey, var(--dark-mode-light-grey));
    font-size: size_unit(2.5);
    margin-left: size_unit(1);
    margin-right: size_unit(0.5);
    &:hover {
      color: var(--light-mode-dark-grey, var(--text-color-primary));
    }
  }
}


