@import '../../../../../../packages/common/src/ui/styles/theme.scss';

ul.lockedStakeKeysList.lockedStakeKeysList {
  margin-top: size_unit(1);
  margin-bottom: size_unit(1);

  p.content.content {
    margin-bottom: 0;
  }
}
