@import '../theme.scss';

$font-size-map: (
  'bodyXS': 12px,
  'bodySmall': 14px,
  'body': 16px,
  'bodyLarge': 18px,
  'subHeading': 25px,
  'heading': 32px,
  'pageHeading': 45px,
  'display': 58px
);

$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

$font-size-bodyXS: 12px;
$font-size-bodySmall: 14px;
$font-size-body: 16px;
$font-size-bodyLarge: 18px;
$font-size-subHeading: 25px;
$font-size-heading: 32px;
$font-size-pageHeading: 45px;
$font-size-display: 58px;

@mixin text-properties($size, $weight, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin text-display {
  @include text-properties($font-size-display, $font-weight-bold, size_unit(8));
}

@mixin text-pageHeading {
  @include text-properties($font-size-pageHeading, $font-weight-bold, size_unit(7));
}

@mixin text-heading {
  @include text-properties($font-size-heading, $font-weight-bold, size_unit(5));
}

@mixin text-subHeading-bold {
  @include text-properties($font-size-subHeading, $font-weight-bold, size_unit(4));
}

@mixin text-subHeading-semi-bold {
  @include text-properties($font-size-subHeading, $font-weight-semi-bold, size_unit(4));
}

@mixin text-bodyLarge-bold {
  @include text-properties($font-size-bodyLarge, $font-weight-bold, size_unit(3));
}

@mixin text-bodyLarge-semi-bold {
  @include text-properties($font-size-bodyLarge, $font-weight-semi-bold, size_unit(3));
}

@mixin text-bodyLarge-medium {
  @include text-properties($font-size-bodyLarge, $font-weight-medium, size_unit(3));
}

@mixin text-bodyLarge-regular {
  @include text-properties($font-size-bodyLarge, $font-weight-regular, size_unit(3));
}

@mixin text-body-bold {
  @include text-properties($font-size-body, $font-weight-bold, size_unit(3));
}

@mixin text-body-semi-bold {
  @include text-properties($font-size-body, $font-weight-semi-bold, size_unit(3));
}

@mixin text-body-medium {
  @include text-properties($font-size-body, $font-weight-medium, size_unit(3));
}

@mixin text-body-regular {
  @include text-properties($font-size-body, $font-weight-regular, size_unit(3));
}

@mixin text-bodySmall-bold {
  @include text-properties($font-size-bodySmall, $font-weight-bold, size_unit(3));
}

@mixin text-bodySmall-semi-bold {
  @include text-properties($font-size-bodySmall, $font-weight-semi-bold, size_unit(3));
}

@mixin text-bodySmall-medium {
  @include text-properties($font-size-bodySmall, $font-weight-medium, size_unit(3));
}

@mixin text-bodySmall-regular {
  @include text-properties($font-size-bodySmall, $font-weight-regular, size_unit(3));
}

@mixin text-bodyXS-medium {
  @include text-properties($font-size-bodyXS, $font-weight-medium, size_unit(2));
}

@mixin text-address($size: $font-size-bodySmall, $weight: $font-weight-regular, $height: auto) {
  @include text-properties($size, $weight, $height);
}

@mixin text-form-label($size: $font-size-bodyXS, $weight: $font-weight-regular, $height: size_unit(2)) {
  @include text-properties($size, $weight, $height);
}

@mixin text-bodyXs-semi-bold($size: $font-size-bodyXS, $weight: $font-weight-semi-bold, $height: size_unit(2)) {
  @include text-properties($size, $weight, $height);
}
