# This file should be renamed to .env.local (not .env) so it has higher
# priority than the .env file

EXPO_PUBLIC_POSTHOG_API_URL=
EXPO_PUBLIC_POSTHOG_API_TOKEN=

EXPO_PUBLIC_FEATURE_FLAG_CHECK_FREQUENCY_SECONDS=

# Cardano Services
EXPO_PUBLIC_CARDANO_SERVICES_URL_MAINNET=
EXPO_PUBLIC_CARDANO_SERVICES_URL_PREPROD=
EXPO_PUBLIC_CARDANO_SERVICES_URL_PREVIEW=

# Sentry

# SENTRY_AUTH_TOKEN is provided in the release workflow to upload sourcemaps
EXPO_PUBLIC_SENTRY_AUTH_TOKEN=
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_ENVIRONMENT=
EXPO_PUBLIC_SENTRY_ORG=
EXPO_PUBLIC_SENTRY_PROJECT_ID=

# preview, preprod, undeployed
EXPO_PUBLIC_DEFAULT_MIDNIGHT_TESTNET_NETWORK_ID=preview

# Preprod, Preview
EXPO_PUBLIC_DEFAULT_CARDANO_TESTNET_CHAIN_ID=
# Fonts
EXPO_PUBLIC_FONT_TYPEKIT_URL=
# In App URLs
EXPO_PUBLIC_COOKIE_POLICY_URL=
EXPO_PUBLIC_FAQ_URL=
EXPO_PUBLIC_FAQ_RECOVERY_PHRASE_URL=
EXPO_PUBLIC_FAQ_COPY_PASTE_RECOVERY_PHRASE_URL=
EXPO_PUBLIC_RECOVERY_PHRASE_VIDEO_URL=
EXPO_PUBLIC_PRIVACY_POLICY_URL=
EXPO_PUBLIC_TERMS_AND_CONDITIONS_URL=
EXPO_PUBLIC_ZENDESK_NEW_REQUEST_URL=
EXPO_PUBLIC_BANXA_URL=
EXPO_PUBLIC_GOV_TOOLS_URL=
EXPO_PUBLIC_LEARN_MORE_URL=
EXPO_PUBLIC_URL_LACE_PAGE=

# Blockfrost
EXPO_PUBLIC_BLOCKFROST_URL_MAINNET=
EXPO_PUBLIC_BLOCKFROST_URL_PREPROD=
EXPO_PUBLIC_BLOCKFROST_URL_PREVIEW=
EXPO_PUBLIC_BLOCKFROST_PROJECT_ID_MAINNET=
EXPO_PUBLIC_BLOCKFROST_PROJECT_ID_PREPROD=
EXPO_PUBLIC_BLOCKFROST_PROJECT_ID_PREVIEW=
EXPO_PUBLIC_BLOCKFROST_IPFS_URL=

# Maestro - API keys not needed when using IOG proxies (default)
EXPO_PUBLIC_MAESTRO_PROJECT_ID_TESTNET=
EXPO_PUBLIC_MAESTRO_PROJECT_ID_MAINNET=
EXPO_PUBLIC_MAESTRO_URL_TESTNET=https://dev-maestro.lw.iog.io
EXPO_PUBLIC_MAESTRO_URL_MAINNET=https://maestro.lw.iog.io

# Explorer URLs
EXPO_PUBLIC_CEXPLORER_URL_MAINNET=https://cexplorer.io
EXPO_PUBLIC_CEXPLORER_URL_PREVIEW=https://preview.cexplorer.io
EXPO_PUBLIC_CEXPLORER_URL_PREPROD=https://preprod.cexplorer.io
EXPO_PUBLIC_CEXPLORER_URL_SANCHONET=https://sancho.cexplorer.io

EXPO_PUBLIC_NFT_CDN_URL=

# CoinGecko
EXPO_PUBLIC_COINGECKO_API_BASE_URL=

STEELSWAP_API_BASE_URL=https://steelswap.lw.iog.io
