# Root Level
*                       @input-output-hk/lace-tech-leads
yarn.lock               @input-output-hk/lace-core

# Packages Teams

/v1/packages/bitcoin/      @input-output-hk/lace-core
/v1/packages/cardano/      @input-output-hk/lace-core
/v1/packages/common/       @input-output-hk/lace-core
/v1/packages/core/         @input-output-hk/lace-core
/v1/packages/e2e-tests/    @input-output-hk/xsy-lace-test-engineers
/v1/packages/nami/         @input-output-hk/lace-core
/v1/packages/staking/      @input-output-hk/lace-core
/v1/packages/translation/  @input-output-hk/lace-core

# Apps
/v1/apps/                  @input-output-hk/lace-core
