# Root Level
*                       @input-output-hk/lace-tech-leads
yarn.lock               @input-output-hk/lace-core

# Packages Teams
/packages/cardano/      @input-output-hk/lace-core
/packages/common/       @input-output-hk/lace-core
/packages/core/         @input-output-hk/lace-core
/packages/e2e-tests/    @input-output-hk/xsy-lace-test-engineers
/packages/nami/         @input-output-hk/lace-core
/packages/staking/      @input-output-hk/lace-core
/packages/translation/  @input-output-hk/lace-core

# Apps
/apps/                  @input-output-hk/lace-core
