repository:
  allow_merge_commit: true
  allow_rebase_merge: false
  allow_squash_merge: false
  default_branch: main
  delete_branch_on_merge: true
  has_downloads: false
  has_issues: true
  has_projects: false
  has_wiki: false
  name: wallet-world
  private: true
  topics: lace
