@import '../../../../../common/src/ui/styles/theme';

.item {
  @include flex-center;
  background: var(--light-mode-light-grey, var(--dark-mode-grey));
  border-radius: 12px;
  gap: size_unit(2);
  height: size_unit(6);
  width: size_unit(6);
  cursor: pointer !important;
  &:hover {
    background: var(--light-mode-light-grey, var(--dark-mode-mid-grey));
    .icon,
    .text {
      color: var(--text-color-primary) !important;
    }
  }

  .text {
    color: var(--text-color-secondary);
    font-size: var(--body);
    font-weight: 600;
    line-height: size_unit(3);
  }
  .icon {
    color: var(--text-color-secondary) !important;
    font-size: size_unit(3) !important;
  }
}
