@import '../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../packages/common/src/ui/styles/abstracts/typography';

.migrationInProgressContainer {
  @include flex-center;
  height: 100%;
  flex-direction: column;
  gap: size_unit(2);

  .mark {
    width: 80px;
  }

  .title {
    @include text-heading;
    color: var(--text-color-primary);
  }

  .description {
    @include flex-center;
    @include text-body-semi-bold;
    flex-direction: column;
    gap: size_unit(2);
    color: var(--text-color-secondary) !important;
    text-align: center;
    margin-bottom: 0 !important;
    max-width: 398px;

    @media (max-width: $breakpoint-popup) {
      max-width: 260px;
      padding: 0;
      font-size: var(--body);
      line-height: size_unit(3);
      margin-bottom: 0;
    }
  }
}
