.idea
.env
.history
.lh
*.crx
*.d.ts
*.ts.map
*.tsbuildinfo
!declaration.d.ts
*dist/
*demo/
*node_modules/
*yarn-error.log
storybook-static
build-storybook.log
.DS_Store
coverage
.rollup.cache
.tool-versions
.vscode
yalc.lock

# PRJ Spec
/.cache

# Nix
result

.yarn/*
.pnp.*
.yalc/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
