registry=https://registry.npmjs.org/
@input-output-hk:registry=https://npm.pkg.github.com
engine-strict=true
@hugeicons-pro:registry=https://npm.hugeicons.com/
@midnight-ntwrk:registry=https://npm.pkg.github.com