@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: size_unit(5);
  width: 100%;
  min-height: 144px;
  position: absolute;
}

.text {
  color: var(--text-color-secondary);
  font-size: var(--bodySmall);
  font-weight: 400;
  line-height: size_unit(4);
  margin-top: -6px;
  text-align: center;
}
