@import '../../styles/theme.scss';

.actionableAlert {
  width: 100%;
  display: flex;
  align-items: center;
  padding: size_unit(2) size_unit(3);
  background: var(--color-magnolia, #fcf5e3);
  border-radius: 12px;
  gap: 20px;

  .icon {
    color: var(--hover-orange);
    font-size: var(--bodyLarge);
  }

  .message {
    flex: 1;
    font-weight: 600;
    font-size: var(--body);
    line-height: size_unit(3);
    color: var(--text-color-black);
  }
}
