@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.listContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -#{size_unit(2)};
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .addAddressBtn {
    max-height: 48px !important;
  }
}

.btnIcon {
  font-size: 20px;
}
