import { inferStoreContext } from '@lace-contract/module';

import { <%= propertyName %>Actions, <%= propertyName %>Selectors } from './slice';
export { <%= propertyName %>Actions, <%= propertyName %>Selectors } from './slice';

export type * from './slice';

export default inferStoreContext({
  load: async () => import('./init'),
  context: {
    actions: <%= propertyName %>Actions,
    selectors: <%= propertyName %>Selectors,
  },
});
