@import '../../../../../common/src/ui/styles/theme';

.paragraph {
  font-size: var(--bodyXS);
  font-weight: 400;
  line-height: size_unit(2);
  color: var(--text-color-secondary);
  margin-left: 24px;
  min-height: 20px;
}

.error {
  color: var(--data-pink);
}

.walletNameInputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.paddingLeft {
  padding-left: 24px !important;
}
