@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.authorizeDapp {
  justify-content: space-between;
  flex: 1;
  display: flex;
  flex-direction: column;
  .dappInfo {
    margin-top: 0;
  }
  .title {
    @include text-bodyLarge-bold;
    margin-top: size_unit(3);
    color: var(--text-color-primary);
  }

  .permissions {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

    ul {
      list-style: none;
      font-style: normal;
      font-weight: 500;
      font-size: var(--bodySmall);
      line-height: size_unit(3);
      padding: 0 0 0 size_unit(3);
      color: var(--text-color-secondary);
    }

    ul li::before {
      content: '\2022';
      font-weight: bold;
      font-size: large;
      display: inline-block;
      width: size_unit(2);
      margin-left: -#{size_unit(2)};
    }
  }

  .warning {
    @include text-bodySmall-medium;
    min-height: size_unit(3);
    margin-bottom: 20px;
    border-radius: size_unit(2);
    color: var(--primary-default, #7f5af0);
  }

  .actions {
    display: flex;
    gap: size_unit(1);
  }
}
