@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../../../packages/common/src/ui/styles/abstracts/typography';
@import '../../../../../../../../../packages/common/src/ui/styles/abstracts/mixins';

.container {
  display: flex;
  flex-direction: column;
  padding: size_unit(3) size_unit(1) size_unit(3) size_unit(2);
}

.titleSection {
  color: var(--text-color-primary) !important;
  display: flex;
  flex-direction: column;
  gap: size_unit(2);
  margin-top: size_unit(3);
  .title {
    @include text-body-semi-bold;
    color: var(--text-color-primary) !important;
  }
  .subTitle {
    @include text-body-medium;
    color: var(--text-color-secondary) !important;
  }
}

.popUpContent, .extendedContent {
  display: flex;
  flex-direction: column;
  margin-top: size_unit(4);
  padding-right: size_unit(1);
  overflow-y: scroll;
  @include scroll-bar-style;
}

.popUpContent {
  max-height: 295px;
}

.extendedContent {
  max-height: 355px;
}

.iconClassName {
  @media (max-width: $breakpoint-popup) {
    font-size: 14px !important;
  }
}
