@import '../../../../../../../../packages/common/src/ui/styles/theme';
@import '../../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.startOverDialog {
  :global(.ant-modal-content) {
    background: var(--color-white, var(--dark-mode-light-black));
    box-shadow: var(--shadow-setup-box);
    border-radius: size_unit(4);
  }
  :global(.ant-modal-body) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: size_unit(5) !important;
  }
}

.title {
  font-size: var(--subHeading) !important;
  font-weight: 700 !important;
  line-height: size_unit(4) !important;
  color: var(--text-color-primary) !important;
  margin-bottom: 0 !important;
  text-align: center;
}

.description {
  font-size: var(--body) !important;
  font-weight: 500 !important;
  line-height: size_unit(3) !important;
  color: var(--text-color-secondary) !important;
  margin-top: size_unit(3) !important;
  text-align: center;
}

.buttons {
  display: flex;
  gap: size_unit(2);
  margin-top: size_unit(4) !important;
}
