@import '../../../../../styles/utils/functions.scss';
@import '../../../../../../../../packages/common/src/ui/styles/abstracts/typography';

:root {
  :global(.ant-drawer-header) {
    border: none;
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  gap: size_unit(2);
  margin: 0;
  @include text-bodyLarge-medium;
  letter-spacing: -0.015em;
  text-align: left;
  color: var(--text-color-secondary);
}

.drawerHeaderTitle {
  display: flex;
  flex-direction: column;
  gap: size_unit(2);

  .title {
    @include text-heading;
    letter-spacing: -0.015em;
    text-align: left;
    color: var(--text-color-primary);
    margin: 0;
  }
  .subtitle {
    margin: 0;
    @include text-bodyLarge-medium;
    letter-spacing: -0.015em;
    text-align: left;
    color: var(--text-color-secondary);
  }
}

.infoContainer {
  padding: size_unit(4.5) 0;
  width: 100%;
}

:global(.ant-divider-horizontal) {
  color: var(--text-color-primary) !important;

  &:before, &:after {
    background-color: var(--dark-mode-light-grey, --text-color-primary);
  }
}

.addNewAddressContainer {
  :global(.ant-typography) {
    font-weight: 400 !important;
  }

  button {
    border: 1.5px solid var(--light-mode-dark-grey);
  }

  .addNewAddressBanner {
    height: 80px;
  }

  .addNewAddressBannerIcon {
    color: var(--text-color-red);
  }
}
