@import '../../../../../styles/index';
@import '../../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.password {
  display: flex;
  justify-content: center;
}
