@import '../../../../../styles/index';
@import '../../../../../../../../packages/common/src/ui/styles/theme.scss';

.amountSection {
  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey, #383838));
  border-radius: 16px;
}

.customFee {
  width: 50%;
}
