@import '../../../../../styles/index';
@import '../../../../../../../../packages/common/src/ui/styles/theme.scss';

.successTxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: size_unit(2);
  flex: 1;
  justify-content: center;
  width: 100%;
}

.message {
  margin-bottom: 34px;
}
