@import '../../styles/theme.scss';
@import '../../styles/abstracts/mixins';

.customDrawer {
  :global {
    background: rgba(85, 83, 81, 0.88) !important;

    .ant-drawer-content-wrapper {
      box-shadow: none !important;
      padding: size_unit(3) !important;
    }

    .ant-drawer-wrapper-body {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    .ant-drawer-content {
      border-radius: size_unit(4) !important;
      background-color: var(--bg-color-modal, #ffffff);
      @include scroll-bar-style;
    }

    .ant-drawer-body {
      display: flex !important;
      flex-direction: column !important;
      height: 100% !important;
      margin-top: 0px !important;
      padding: 0px !important;
    }

    .ant-drawer-footer {
      padding: 0 !important;
      border: none;
    }
  }
}

.browserView {
  .ant-drawer-content-wrapper {
    margin-right: -#{size_unit(3)} !important;
  }
  .ant-drawer-content {
    width: size_unit(83) !important;
  }
}

.popupView {
  :global {
    .ant-drawer-content-wrapper {
      padding: 0 !important;
      width: 100%;
    }
    .ant-drawer-body {
      overflow: visible !important;
    }
    .ant-drawer-content {
      border-radius: 0 !important;
      background-color: var(--bg-color-modal, #ffffff);
      margin: 0 1px;
    }
    .ant-drawer-title {
      .ant-btn-icon-only {
        height: size_unit(5) !important;
        width: size_unit(5) !important;
      }
    }
  }

  .content {
    .scrollableContent {
      margin-right: size_unit(0.5) !important;
      overflow-y: scroll;
      padding-left: 25px;
      padding-right: 17px;
      &.nonScrollableContent {
        margin-right: 0px !important;
        padding-right: 25px !important;
      }
    }
  }

  .footer {
    padding: size_unit(2) size_unit(3);
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding-top: size_unit(4.5) !important;
  @media (max-width: $breakpoint-popup) {
    padding-top: size_unit(1) !important;
    padding-bottom: size_unit(2) !important;
  }
  .scrollableContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: size_unit(5);
    padding-right: size_unit(3);
    margin-right: size_unit(2);

    @include scroll-bar-style;

    &.nonScrollableContent {
      margin-right: 0px !important;
      padding-right: size_unit(5) !important;
    }
  }
}

.footer {
  padding: size_unit(3) size_unit(5);
  border-top: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
}
