@import '../../styles/theme.scss';
@import '../../styles/abstracts/typography';

.navigation {
  align-items: center;
  border-bottom: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333));
  display: flex;
  height: size_unit(11);
  justify-content: space-between;
  padding-left: size_unit(5);
  padding-right: size_unit(5);
  position: relative;
  :global(.ant-btn-icon-only) {
    height: size_unit(5);
    width: size_unit(5);
    z-index: 1;
  }
  @media (max-width: $breakpoint-popup) {
    border-bottom: none;
    height: size_unit(9);
    padding-left: size_unit(3);
    padding-right: size_unit(3);
  }
}

.title {
  @include text-bodyLarge-bold;
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  padding: size_unit(4) size_unit(10);
  position: absolute;
  top: 0;
  width: 100%;
  @media (max-width: $breakpoint-popup) {
    display: none;
  }
}
