// we need to move to @use rule because @import is going to be deprecated https://sass-lang.com/documentation/at-rules/import
// also to use @use we need to move to DartSass
// at the same time libsass is deprecated https://sass-lang.com/blog/libsass-is-deprecated
@import './theme';

:root {
  // custom colours
  --grey: #8f97a8;
  --purple: #702bed;

  .button-small {
    height: size_unit(4.5);
    font-size: size_unit(1.5);
    --border-radius: size_unit(12.5);
    --padding: 0 size_unit(2);
  }
  .button-large {
    font-size: var(--bodySmall);
    line-height: size_unit(2);
    height: size_unit(5);
    font-weight: bold;
  }
  .button-outline {
    --border-color: var(--text-color-primary);
    --color: var(--text-color-primary);
  }
  // Change components color globally https://ionicframework.com/docs/theming/themes#application-colors
}

#lace-popup-body {
  width: $breakpoint-popup;
  height: 600px;
}
#lace-popup {
  height: 600px;
  min-height: 600px;
  width: $breakpoint-popup;
}
