@import '../../../styles/theme.scss';

%textCommonStyles {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: size_unit(3) !important;
}

.input {
  align-items: center;
  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
  border-radius: size_unit(2) !important;
  border: none !important;
  box-shadow: none !important;
  color: var(--text-color-secondary, var(--dark-mode-light-grey)) !important;
  display: flex;
  height: size_unit(8) !important;
  position: relative;
  border: 2px solid transparent !important;

  &:hover {
    border: 2px solid var(--light-mode-light-grey-plus, var(--dark-mode-grey)) !important;
  }
  &.withLabel {
    input {
      bottom: 10px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      position: absolute;
      width: calc(100% - 44px);
    }
  }

  input {
    @extend %textCommonStyles;
    font-size: var(--bodyLarge) !important;
    background: inherit !important;
    color: var(--light-mode-black, var(--text-color-primary)) !important;
  }
  &.invalid {
    .label {
      color: var(--data-pink);
    }
  }
  ::placeholder {
    @extend %textCommonStyles;
    color: var(--text-color-secondary) !important;
  }
  :global {
    .ant-input-prefix {
      height: 100%;
      margin-right: 0;
      position: relative;
    }
  }
}

.label {
  color: var(--text-color-secondary);
  font-size: var(--bodyLarge);
  font-weight: 500;
  line-height: size_unit(3);
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  z-index: 1;
  white-space: nowrap;

  &.filled {
    font-size: var(--bodyXS) !important;
    line-height: size_unit(2) !important;
    transform: translateY(0) !important;
    top: 10px;
    margin: -2px 0;
  }
}
