@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.selectorOverlay {
  margin-top: size_unit(5.5);
  @media (max-width: $breakpoint-popup) {
    margin-top: initial;
  }
}

.assetsContainer {
  gap: size_unit(1);
  display: flex;
  flex-direction: column;
}
