.drawer {
  :global {
    .ant-drawer-body {
      overflow: hidden;
    }
    .ant-drawer-body {
      display: flex;
      flex-direction: column;
      flex: 1 1 0;
      min-height: 0;
    }
  }
}
