@import '../../../../styles/utils/functions.scss';

.footer {
  width: 100%;
  display: flex;
  border-top: 2px solid var(--light-mode-light-grey-plus, transparent);
  z-index: 1;
  background-color: var(--dark-mode-mid-black);
  height: 64px;

  .content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px size_unit(5);

    .icon {
      height: size_unit(2.125);
      width: size_unit(2.125);
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: size_unit(3);
      padding: 0;
      display: flex;
      color: var(--dark-mode-light-grey, var(--text-color-primary, #3d3b39));

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
