@import '../../../../../common/src/ui/styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.disabled {
  opacity: 70%;
  cursor: unset;
}

.tokenContainer {
  width: 100%;
  padding: size_unit(1);
  cursor: pointer;

  &:hover {
    background: var(--light-mode-light-grey, var(--dark-mode-mid-grey, #333333));
    border-radius: size_unit(2);
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  .leftSide {
    display: flex;
    gap: size_unit(3);
    align-items: center;
    max-width: 60%;
  }

  .info,
  .rightSide {
    display: flex;
    flex-direction: column;
    gap: size_unit(0.5);
  }

  .info {
    align-items: flex-start;
    word-break: break-all;
  }
  .rightSide {
    align-items: flex-end;
    max-width: 40%;
  }

  p {
    @include text-body-medium;
    margin: 0;
    color: var(--text-color-secondary, #a9a9a9);
    overflow-wrap: break-word;

    @media (max-width: $breakpoint-popup) {
      @include text-bodySmall-medium;
    }
  }

  h6 {
    @include text-bodyLarge-semi-bold;
    margin: 0;
    color: var(--text-color-primary, #fff);
    overflow-wrap: break-word;

    @media (max-width: $breakpoint-popup) {
      @include text-body-semi-bold;
    }
  }
}

.iconWrapper {
  position: relative;

  .icon {
    height: size_unit(6);
    width: size_unit(6);
    border-radius: 100px;
  }

  .selectedIcon {
    position: absolute;
    top: -5px;
    right: -7px;
    width: 24px;
    height: 24px;
    z-index: 2;
  }
}

.description {
  color: var(--text-color-grey, #6b7280);
}

.overlay {
  background: #3d3b39;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 100%;
  height: size_unit(6);
  width: size_unit(6);
}

.deselect {
  @include text-body-semi-bold;
  color: var(--primary-default, #7f5af0);
}
