@import '../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../packages/common/src/ui/styles/abstracts/mixins';
@import '../../../../../../../packages/common/src/ui/styles/abstracts/variables';

.wrapper {
  padding-right: 0;
  &.hasScrollBar {
    padding-right: size_unit(1);
  }
}

.content {
  overflow: auto;
  padding-top: size_unit(3);
  width: 100%;
  background-color: var(--bg-color-body);
  @media (max-width: $breakpoint-popup) {
    padding: size_unit(2) 1px 0 1px;
    height: 100%;
  }
  .MainContainer {
    padding: 0 size_unit(3);
    height: auto;
    &.hasScrollBar {
      padding-right: calc(#{size_unit(3)} - #{size_unit(1)} - #{$scroll-bar-default-width});
    }
  }

  @include scroll-bar-style;
}

.spinnerContainer {
  padding: size_unit(2);
}
