@import '../../../../styles/utils/functions.scss';
@import '../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.sectionTitleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  gap: size_unit(1);
  margin-bottom: size_unit(7);

  @media (max-width: $breakpoint-popup) {
    margin-bottom: size_unit(2) !important;
  }

  h1 {
    color: var(--text-color-primary);
    font-size: var(--heading);
    font-weight: $font-weight-bold;
    line-height: size_unit(4);
    margin: 0;
  }
  .icon {
    margin-right: size_unit(1);
  }
}

.sectionTitle {
  display: flex;
  justify-content: flex-start;
  gap: size_unit(1);
  align-items: baseline;

  .title {
    color: var(--text-color-primary);
    @include text-heading;
  }
  .sideText {
    color: var(--text-color-secondary);
    @include text-bodyLarge-semi-bold;
  }
}

.sectionTitleContainerPopup {
  margin-left: size_unit(3);
}
