@import '../../styles/theme.scss';
@import '../../../../../../packages/common/src/ui/styles/abstracts/_typography';

.pane {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  min-height: size_unit(8);
  width: 100%;

  > * {
    display: flex;
    flex: 0 0 auto;
    margin-right: size_unit(1);
    &:last-child {
      margin-right: 0;
    }
  }

  .logo {
    align-items: center;
    background: var(--bg-color-body, #ffffff);
    border-radius: 100px;
    border: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
    box-sizing: border-box;
    display: flex;
    height: size_unit(5);
    justify-content: center;
    padding: size_unit(0.5);
    width: size_unit(5);
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    flex: 1;

    .name {
      @include text-body-semi-bold;
      color: var(--text-color-primary);
      font-style: normal;
      word-break: break-all;
    }
    .url {
      @include text-bodySmall-medium;
      color: var(--text-color-secondary);
      font-style: normal;
      word-break: break-all;
    }
  }
}
