@import '../../../ui/styles/theme.scss';
@import '../../../../../common/src/ui/styles/theme.scss';

@mixin iconStyle {
  width: size_unit(2.5);
  height: size_unit(2.5);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: size_unit(2);
  flex: 1;

  .buttonText {
    font-size: var(--body);
    font-weight: 600;
    line-height: size_unit(3);
    text-align: center;
  }

  .icon {
    width: size_unit(2.5);
    height: size_unit(2.5);

    .iconInExpandedView {
      @media (max-width: $breakpoint-large) {
        display: none;
      }
    }
  }
}
