@import '../../styles/theme.scss';
@import '../../../../../../packages/common/src/ui/styles/abstracts/_typography.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: size_unit(3);
  padding: size_unit(3) size_unit(2);
}

.subtitle {
  color: var(--text-color-secondary);
  margin-top: -#{size_unit(2)};
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: size_unit(1);
}

.textAreaWrapper {
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: size_unit(2);
  margin-top: size_unit(3);
}

.nextButton {
  &[class*="contained"] {
    background-color: var(--primary-highlight);
    color: var(--text-color-white);
  }
}

.cancelButton {
  &[class*="outlined"] {
    background-color: var(--light-mode-light-grey-plus);
    color: var(--text-color-primary);
  }
}
