@import '../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../packages/common/src/ui/styles/abstracts/typography';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: size_unit(4);

  .title {
    color: var(--text-color-primary);
    font-size: var(--heading);
    font-weight: 700;
    line-height: size_unit(5);
    letter-spacing: -0.015em;
    text-align: center;
    margin-bottom: 0 !important;

    max-width: 435px;

    @media (max-width: $breakpoint-popup) {
      font-size: var(--heading);
      line-height: size_unit(4);
      margin-bottom: 0;
    }
  }

  .description {
    color: var(--text-color-secondary) !important;
    font-size: var(--body);
    font-weight: 500;
    line-height: size_unit(3);
    text-align: center;
    margin-bottom: 0 !important;
    max-width: 450px;
    padding: 10px;

    @media (max-width: $breakpoint-popup) {
      max-width: 260px;
      padding: 0;
      font-size: var(--body);
      line-height: size_unit(3);
      margin-bottom: 0;
    }
  }
  .vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: size_unit(2);
  }
  .img {
    height: size_unit(10.5);
    width: size_unit(10.5);
    @media (max-width: $breakpoint-popup) {
      width: size_unit(11);
    }
  }

  &.fullWidth {
    width: 100%;
    .description {
      max-width: 100%;
      width: 100%;
    }
    .vertical {
      width: 100%;
    }
  }
}
