@import '../../../styles/colors.scss';
@import '../../../styles/functions.scss';

.iog-button {
  border: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: toRem(12);
  line-height: toRem(16);
  letter-spacing: 0.02em;
  padding: 0 24px;

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:not(.iog-button--reverse) .iog-icon {
    margin-right: 10px;
  }
}

.iog-button--circle {
  border-radius: 50%;
  overflow: hidden;
}

.iog-button--primary {
  background: linear-gradient(75.03deg, $color-heliotrope 15.55%, $color-governor-bay 124.64%);

  &.iog-button--border {
    border: 1px solid $color-white;
  }
}

.iog-button--secondary {
  background: $color-white;
  .iog-text {
    color: $color-cornflower-blue !important;
  }
}

.iog-button--outline {
  position: relative;
  background-image: linear-gradient(
    180deg,
    $color-heliotrope 0%,
    rgba(59, 70, 174, 0.56) 49.55%,
    $color-heliotrope 100%
  );

  &:not(.iog-button--transparent):before {
    content: '';
    background: $color-stratos;
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    z-index: 0;
    border-radius: 100px;
  }

  .iog-icon,
  .iog-text {
    z-index: 1;
  }

  &.iog-button--primary {
    border: 1px solid $color-white;
  }
}

.iog-button--dark {
  position: relative;
  &:not(.iog-button--transparent):before {
    content: '';
    background: $color-stratos;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 100px;
  }

  .iog-icon,
  .iog-text {
    z-index: 1;
  }
}

.iog-button--add-more {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 60px 68px;
  height: auto;
  border: 1px dashed $color-blue-bell;
  border-radius: 8px;
  background: $color-port-gore;
  box-shadow: 0px 0px 20px rgba($color-black, 0.1);
  border-radius: 12px;

  svg {
    width: 24px;
    height: 24px;
    margin: 0;
    margin-bottom: 5px;
  }

  .iog-text {
    font-weight: normal;
  }
}

.iog-button--reverse {
  flex-direction: row-reverse;
  .iog-icon {
    margin-left: 10px;
  }
}

.iog-button--transparent {
  background: transparent;
}

.iog-button--small {
  padding: 0;
  height: auto;
  span {
    font-size: toRem(10);
    line-height: toRem(14);
  }
}

.iog-button--tag {
  padding: 5px 10px;
  height: auto;
  background: $color-ebony;

  span {
    color: $color-cornflower-blue !important;
    font-size: toRem(12);
    line-height: toRem(16);
  }

  .iog-icon {
    stroke: $color-cornflower-blue !important;
    width: 10px;
    height: 10px;
  }
}

.iog-button--solid {
  padding: 0;
  border-radius: 16px;
  // background: $color-background-primary;
  height: auto;

  span {
    color: $color-font-primary !important;
    font-size: toRem(16);
    line-height: toRem(24);
    font-weight: 500 !important;
  }
}

.iog-button--standard {
  padding: 12px 24px;
  border-radius: 16px;
  background: $color-background-primary;
  height: auto;

  span {
    color: $color-font-light;
    font-size: toRem(16);
    line-height: toRem(24);
  }

  &.iog-button--outline {
    border: 1px solid $color-border-hover;
    span {
      color: $color-font-primary !important;
    }
  }

  &.iog-button--transparent {
    background: $color-secondary;
  }

  &.iog-button--secondary {
    background-color: $color-background-light;
    .iog-text {
      color: $color-font-dark !important;
      font-weight: 600;
    }
  }

  &.iog-button--solid {
    background: $color-background-black;
    span {
      color: $color-font-light !important;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}
