@import '../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../packages/common/src/ui/styles/abstracts/mixins';

.pill {
  margin-left: 12px;
  border-radius: size_unit(2);
  padding: 8px 12px;
}

.networkPill {
  @extend .pill;
  background-color: var(--dark-mode-dark-grey-plus, var(--color-magnolia, #fcf5e3));
  color: var(--text-color-primary);
  @include text-bodyXS-medium;
}

.offlinePill {
  @extend .pill;
  border: 1px solid var(--color-pink, #ff5470);
  color: var(--color-pink, #ff5470);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.offlinePillText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  white-space: nowrap;

  .dot {
    font-size: 30px;
    transform: translate(0, -18%);
  }
}

.expandablePill {
  position: absolute;
  left: 60px;
  top: 40px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  padding: 0;
  z-index: 150;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  .offlinePillText,
  .networkPillText {
    display: none;
  }

  &:hover {
    top: 30px;
    margin-left: 12px;
    border-radius: size_unit(2);
    padding: 8px 12px;
    width: auto;
    height: auto;
    transition: all 0.25s ease-in-out;

    .offlinePillText,
    .networkPillText {
      display: flex;
    }
  }
}

.multiWallet {
  width: 100%;
  text-align: center;
  margin-left: 0px;
  border-radius: size_unit(1);
}
