@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

$drawer-width: 664px;

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin-top: size_unit(2);
  
  @media (max-width: $breakpoint-popup) {
    width: 310px;
  }
}

.inputWrapper {
  margin-bottom: size_unit(3) !important;
  :global(.ant-form-item-explain) {
    position: relative;
  }
  :global(.ant-form-item-explain-error) {
    font-size: var(--bodySmall);
    font-weight: normal;
    line-height: size_unit(2);
    padding-left: size_unit(3) !important;
    position: absolute;
    top: size_unit(1);
  }
}

.nameWrapper {
  :global(.ant-input-affix-wrapper) {
    padding-left: 22px;
  }
}

.actionsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: size_unit(2);
  padding-top: size_unit(4);

  @media (max-width: $breakpoint-popup) {
    gap: size_unit(1);
    padding-top: size_unit(2);
  }
}

.input {
  :global {
    .ant-input-affix-wrapper {
      background: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
      border-radius: size_unit(2) !important;
      padding: 0 size_unit(3) !important;

      .ant-input {
        @include text-bodyLarge-medium;
        white-space: nowrap;
        color: var(--text-color-primary) !important;
      }
    }
  }
}

.textAreaWrapper {
  :global {
    .text-area-label {
      left: size_unit(3) !important;
    }
  }
}

.textArea:global(.ant-input) {
  @include text-bodyLarge-semi-bold;
  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
  padding-bottom: size_unit(2) !important;
  padding-left: 22px !important;
  border-radius: size_unit(2) !important;

  @media (max-width: $breakpoint-popup) {
    padding-bottom: size_unit(1) !important;
  }
}

.textArea:global(.ant-input-suffix) {
  width: 100%;
  font-size: 18px;
  flex-direction: row-reverse;
}

.footerContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: size_unit(3);
  padding-bottom: size_unit(3);
  max-width: $drawer-width;

  @media (max-width: $breakpoint-popup) {
    max-width: $breakpoint-popup;
  }
}

.border {
  position: absolute;
  top: 0;
  left: -#{size_unit(5)};
  height: 1px;
  background-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  width: calc(100% + #{size_unit(10)});

  @media (max-width: $breakpoint-popup) {
    left: -#{size_unit(3)};
    width: calc(100% + #{size_unit(6)});
  }
}

.submitBtn {
  margin-bottom: size_unit(2) !important;

  @media (max-width: $breakpoint-popup) {
    margin-bottom: size_unit(1) !important;
  }
}

:global(.anticon) {
  font-size: size_unit(2.5);
  
  &.valid {
    color: var(--text-color-green);
  }

  &.invalid {
    color: var(--text-color-red);
  }
}