@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.footerContainer {
  max-height: size_unit(9);

  .footerButton {
    width: 100%;
    font-weight: 600 !important;
  }
}

.container {
  max-height: 78vh;
}

.drawer {
  :global {
    .ant-drawer-footer {
      z-index: 1;
    }
  }
}
