@import '../../../../../common/src/ui/styles/theme.scss';
.container {
  background-color: #000;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;

  @media screen and (min-width: $breakpoint-minimum) {
    background-position: right 40px bottom 50%;
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.title {
  color: #fff !important;
  white-space: pre-wrap;
}

.description {
  color: #fff !important;
  white-space: pre-wrap;
}
