@import '../../styles/theme.scss';

p {
  &.address {
    color: var(--text-color-black);
    font-size: var(--bodyXS) !important;
    font-weight: normal;
    line-height: size_unit(2) !important;
    margin: 0;
  }
}

.addressGray {
  color: var(--text-color-secondary);
  font-size: var(--bodyXS);
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: size_unit(2);
  margin: 0;
}
