@import '../../styles/theme.scss';

.message {
  :global(.ant-message-notice-content) {
    background: var(--color-white, var(--dark-mode-dark-grey-plus, #fff));
    border-radius: size_unit(2);
    padding: 0;
    overflow: hidden;
    box-shadow: var(--shadows-toast-tooltip);
  }

  :global(.ant-message-custom-content) {
    height: size_unit(8);
    min-width: 228px;

    & > span {
      height: 100%;
      width: 100%;
    }
  }

  .messageContentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .messageContent {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding-left: size_unit(2);
    padding-right: size_unit(3);
  }

  .messageText {
    color: var(--text-color-primary);
    font-size: var(--bodySmall);
    font-weight: 600;
    letter-spacing: -0.015em;
    line-height: size_unit(3);
    padding: 0px 20px 0px size_unit(2);
  }

  .iconContainer {
    align-items: center;
    background-color: var(--light-mode-light-grey, var(--dark-mode-grey, #383838));
    border-radius: 50%;
    display: flex;
    height: size_unit(5);
    justify-content: center;
    width: size_unit(5);

    .icon {
      margin-right: 0 !important;
    }
  }

  .icon {
    color: var(--text-color-secondary) !important;
  }
}
