@import '../../styles/theme.scss';

@mixin assetImageStyle($size) {
  height: size_unit($size);
  min-height: size_unit($size);
  min-width: size_unit($size);
  width: size_unit($size);
}

:global(.ant-table-content > table) {
  table-layout: fixed !important;
}

:global(.ant-table-cell) {
  @media (max-width: $breakpoint-popup) {
    &:first-child {
      padding: 15px 0 14px 16px;
    }

    &:last-child {
      padding: 15px 16px 14px 0;
    }
  }
}

p.green {
  color: var(--text-color-green, #2cb67d) !important;
}

p.red {
  color: var(--text-color-red, #ff5470) !important;
}

p.neutral {
  color: var(--text-color-secondary) !important;
}

.cellTitlePopup {
  font-size: var(--body);
}
.cellSubtitlePopup {
  font-size: var(--bodySmall);
}

.cellContainer {
  display: flex;
  align-items: center;
  gap: size_unit(3);

  .image {
    border-radius: 50%;
    @include assetImageStyle(6);

    @media (max-width: $breakpoint-popup) {
      @include assetImageStyle(5);
    }
  }

  > div {
    flex: 1;
    min-width: 0;
    p {
      margin: 0;
      padding: 0;
    }

    p.title {
      color: var(--text-color-primary);
      font-family: 'proxima-nova', sans-serif;
      font-size: var(--bodyLarge, 18px);
      font-style: normal;
      font-weight: 600;
      line-height: size_unit(3);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (max-width: $breakpoint-popup) {
        font-size: var(--body, 16px);
      }
    }
    p.subtitle {
      display: block;
      color: var(--text-color-secondary);
      font-family: 'proxima-nova', sans-serif;
      font-size: var(--body, 16px);
      font-style: normal;
      font-weight: 500;
      line-height: size_unit(3);
      letter-spacing: 0em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (max-width: $breakpoint-popup) {
        font-size: var(--bodySmall, 14px);
        margin-top: -1px;
      }
    }
  }
  @media (max-width: $breakpoint-popup) {
    gap: size_unit(2);
  }
}

.assetTable {
  :global {
    .ant-table-cell {
      &:first-of-type {
        padding-left: 0 !important;
      }
      &:last-of-type {
        padding-right: 0 !important;
      }
    }

    .ant-table-tbody > tr.ant-table-row:hover > td,
    .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background-color: var(--light-mode-light-grey) !important;
    }
  }
}

.scrollContainer {
  margin-right: -11px !important;
}
