@import '../../../../../packages/common/src/ui/styles/theme';

.wrapper {
  background: var(--bg-color-container, #ffffff);
  box-shadow: var(--dark-mode-shadow-setup-box, var(--shadow-setup-box));
  border-radius: size_unit(2);
}

.container {
  display: flex;
  flex-direction: column;
  padding: size_unit(4);
}

.img {
  margin-bottom: -#{size_unit(3)};
}

.title {
  font-weight: 500;
  font-size: var(--body);
  line-height: size_unit(3);
  color: var(--text-color-secondary);
}
.description {
  color: var(--text-color-primary);
  font-size: var(--bodyLarge);
  line-height: size_unit(3);
  font-weight: 500;
  margin-top: size_unit(0.5);
  margin-bottom: size_unit(4);
}

.button {
  background-color: #252525 !important;
  .icon {
    font-size: var(--subHeading);
  }
}
