@import '../../../../../packages/common/src/ui/styles/theme';
@import '../../../../../packages/common/src/ui/styles/abstracts/typography';

.fundWalletBanner {
  position: relative;
  padding: size_unit(6);
  isolation: isolate;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-color-container, #ffffff);
  box-shadow: var(--dark-mode-shadow-banner, var(--shadow-setup-box));
  border-radius: size_unit(2);
  overflow: hidden;
  gap: size_unit(6);
  @media (max-width: 750px) {
    justify-content: center;
  }
  @media (max-width: $breakpoint-popup) {
    text-align: center;
    padding: size_unit(5);
    margin-bottom: size_unit(3);
    margin-top: size_unit(2);
  }
  * {
    margin: 0;
  }

  .qrCode {
    border: 2px solid transparent;
    color: var(--text-color-primary);
    padding: size_unit(2);
    background: linear-gradient(var(--bg-color-container), var(--bg-color-container)) padding-box, linear-gradient(to right, $theme-primary, $theme-secondary) border-box;
    border-radius: 12px;
  }

  h5 {
    font-weight: 600;
    font-size: size_unit(2);
    line-height: size_unit(3);
    color: var(--text-color-primary);
  }

  .address {
    max-width: 340px;
    line-height: size_unit(3);
    color: var(--text-color-secondary);

    p {
      color: var(--text-color-secondary);
      word-break: break-all;
      @include text-bodySmall-medium;
    }
  }

  .smallContent {
    display: flex;
    flex-direction: column;
    gap: size_unit(4);

    .addressContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: size_unit(2);

      @media (max-width: $breakpoint-popup) {
        gap: size_unit(4);
      }

      .address {
        display: flex;
        flex-direction: column;
        gap: size_unit(1);
      }
    }
  }


  .copyButtonWrapper, button.copyButton {
    @media (max-width: 750px) {
      width: 100%;
    }
  }

  .title {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: size_unit(0.5);

    * {
      color: var(--text-color-primary);
    }

    h1 {
      font-weight: 600;
      font-size: size_unit(4);
      line-height: size_unit(4);
      gap: size_unit(0.5);

      @media (max-width: $breakpoint-popup) {
        font-size: var(--subHeading);
      }
    }

    h2 {
      @include text-bodyLarge-medium;
      color: var(--text-color-secondary);
    }
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    gap: size_unit(6);
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    gap: size_unit(3);
  }
}

.verticalContent {
  display: flex;
  flex-direction: column;
  gap: size_unit(5);
  .bottomContent {
    display: flex;
    justify-content: space-between;
    gap: size_unit(6);

    @media (max-width: $breakpoint-small) {
      gap: size_unit(4);
    }
  }
}

.icon {
  color: var(--color-text-secondary);
  font-size: var(--body);
}


.verticalPortal {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 32%;
  z-index: -1;
}

.horizontalPortal {
  position: absolute;
  top: -74px;
  width: 150%;
  height: 119%;
  left: -278px;
  z-index: -1;
}

.popupPortal {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
}
