@import '../../../ui/styles/theme.scss';
@import '../../../../../common/src/ui/styles/theme.scss';

@mixin buttonStyle {
  width: size_unit(2.5);
  height: size_unit(2.5);
  color: $default-linear-gradient;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: size_unit(2);
  flex: 1;

  .buttonText {
    font-size: var(--body);
    font-weight: 600;
    line-height: size_unit(3);
    text-align: center;
  }

  .popupButton {
    flex: 1;
  }

  .iconArrowDown,
  .iconArrowUp {
    @include buttonStyle;

    @media (max-width: $breakpoint-large) {
      display: none;
    }
  }

  .popupIconArrowDown,
  .popupIconArrowUp {
    @include buttonStyle;
  }
}

.reversed {
  flex-direction: row-reverse;
}

.popupContainer {
  gap: size_unit(2);
}
