@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';
@import '../../../../../common/src/ui/styles/abstracts/mixins';

.listContainer {
  display: flex;
  flex-direction: column;
  @media (max-width: $breakpoint-popup) {
    margin-top: 0;
  }
  .outputRow {
    display: flex;
    flex-direction: column;
    gap: size_unit(4);
    padding-bottom: size_unit(5);
    border-bottom: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333));

    &:not(:first-child) {
      padding-top: size_unit(5);
    }
  }

  span.title {
    @include text-subHeading-bold;
    text-align: left;
    color: var(--text-color-primary);
  }

  .validityIntervalExpiresBy {
    @include text-body-medium;
    display: flex;
    flex-direction: column;
    color: var(--text-color-primary);
    overflow-wrap: break-word;
    text-align: right;
  }

  .metadataRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: size_unit(5) 0;
    border-bottom: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333));

    span.metadataLabel {
      @include text-bodyLarge-bold;
      color: var(--text-color-primary);
      text-align: left;
    }

    span.metadata {
      @include text-body-medium;
      color: var(--text-color-primary);
      overflow-wrap: break-word;
      text-align: right;
      flex: 60%;
      max-width: 60%;
    }
  }

  .feeContainer {
    display: flex;
    flex-direction: column;
    gap: size_unit(4);
    align-items: flex-start;
    padding: size_unit(5) 0;
  }
}
