.steps {
  * {
    margin: 0;
  }

  width: 100%;
  display: flex;
  gap: 10px;
  align-items: flex-end;

  .step {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    p {
      color: var(--text-color-grey, #6b7280);
    }

    .line {
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background: var(--light-mode-light-grey-plus);
    }

    .lineActive {
      background: var(--color-cyan, #2bf2c4);
    }
  }
}
