@import '../../styles/theme.scss';

.nftDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: size_unit(4);
  padding-bottom: size_unit(6);

  * {
    margin: 0;
  }
  .imageContainer {
    width: 320px;
    height: 320px;
    @media (max-width: $breakpoint-popup) {
      margin: 0 size_unit(2);
      width: 100%;
    }
  }

  .imageWrapper {
    border: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    align-items: center;
    border-radius: 16px;

    @media (max-width: $breakpoint-popup) {
      padding-bottom: 0;
    }

    .amount {
      background: var(--color-white, var(--dark-mode-mid-black, #252525));
      border-radius: size_unit(1);
      box-shadow: var(--shadows-lighter-assets);
      color: var(--text-color-primary, #3d3b39);
      font-size: var(--bodySmall, 14px);
      font-weight: 600;
      line-height: size_unit(3);
      padding: 0 size_unit(1);
      position: absolute;
      right: size_unit(1);
      top: size_unit(1);
      z-index: 1;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: size_unit(4);
    width: 100%;

    .separator {
      background-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey)) !important;
      height: 1px;
      width: 100%;
    }

    :global {
      .ant-breadcrumb-link {
        min-width: 100px;
        padding: size_unit(1);
        display: inline-flex;
        justify-content: center;
        gap: size_unit(0.75);
        align-items: center;
        background-color: var(--light-mode-light-grey, #f9f9f9);
        border-radius: 100px;
        color: var(--text-color-primary);
        font-weight: 500;
      }

      .ant-breadcrumb-separator {
        color: var(--text-color-black);
      }
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: size_unit(4);
      h4 {
        font-weight: 600;
        font-size: var(--subHeading, 25px);
        line-height: size_unit(4);
        color: var(--text-color-primary, #3d3b39);

        @media (max-width: $breakpoint-popup) {
          font-size: var(--bodyLarge, 18px);
        }
      }

      @media (max-width: $breakpoint-popup) {
        gap: size_unit(3);
      }
    }

    @media (max-width: $breakpoint-popup) {
      margin-top: size_init(1);
      gap: size_unit(3);
    }
  }

  .attributes {
    font-weight: normal;
    font-size: var(--bodyXS);
    line-height: 19px;
    letter-spacing: 0.02em;
    color: var(--text-color-grey, #6b7280);
  }

  @media (max-width: $breakpoint-popup) {
    gap: size_unit(3);
  }
}
