@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.nftItem {
  align-items: center;
  border-radius: size_unit(2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: size_unit(1);
  justify-content: space-between;
  padding: size_unit(1) 10px;
  position: relative;
  height: 100%;
  &:disabled {
    opacity: 0.24;
  }
  .disabled {
    opacity: 0.24;
  }
  &:hover {
    background: var(--light-mode-light-grey, var(--dark-mode-mid-grey));
  }
  &:active,
  &:focus {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
  }

  &.placeholder {
    gap: size_unit(4);
    &:hover,
    &:active,
    &:focus {
      background: none;
      cursor: default;
    }
    .container {
      padding-bottom: 100%;
      position: relative;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
      .content {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .amount {
    background: var(--color-white, var(--dark-mode-mid-black, #252525));
    border-radius: size_unit(1);
    box-shadow: var(--shadows-lighter-assets);
    color: var(--text-color-primary, #3d3b39);
    font-size: var(--bodySmall);
    font-weight: 500;
    line-height: size_unit(3);
    padding: 0 size_unit(1);
    position: absolute;
    right: 18px;
    top: 18px;
    z-index: 1;
  }

  .selectedIcon {
    position: absolute;
    right: size_unit(2);
    top: size_unit(2);
    z-index: 1;
    width: 24px;
    height: 24px;
    z-index: 2;
  }

  .imageWrapper {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    @media (max-width: $breakpoint-popup) {
      width: 147px;
      height: 147px;
      max-width: 100%;
    }
  }

  @media (max-width: $breakpoint-popup) {
    border-radius: 16px;
  }

  .name {
    color: var(--text-color-secondary);
    font-size: var(--bodySmall);
    font-weight: 400;
    line-height: size_unit(3);
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.overlay {
  background: #3d3b39;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.folderContainer {
  position: relative;
}

.folderWrapper {
  border: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  background-color: var(--light-mode-light-grey);
  border-radius: 11px;
  display: grid;
  flex: 1;
  grid-gap: size_unit(1);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  padding: size_unit(1);
  width: 100%;

  @media (max-width: $breakpoint-popup) {
    width: 147px;
    height: 147px;
    min-width: 147px;
    min-height: 147px;
  }

  .restOfNfts {
    @include text-bodyLarge-semi-bold;
    align-items: center;
    background: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333));
    border-radius: 8px;
    color: var(--text-color-secondary);
    display: flex;
    justify-content: center;
  }
  .restOfNftsNumber {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .imageWrapper {
    @media (max-width: $breakpoint-popup) {
      width: initial;
      height: initial;
    }
  }
}

.contextMenu {
  position: absolute;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  z-index: 20;
}
