@import '../../styles/theme.scss';
.nftImage {
  border-radius: inherit;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  &.detailView {
    @media (max-width: $breakpoint-popup) {
      border-radius: 16px;
      height: 310px;
      object-fit: cover;
      width: 310px;
      position: relative;
    }
  }
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
}

.border {
  border: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
}
