@import '../../styles/theme.scss';

.nftList {
  display: grid;
  &.two-rows {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  &.three-rows {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &.four-rows {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 4px;
  }
  &.five-rows {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  @media (max-width: $breakpoint-popup) {
    margin: 0 -#{size_unit(1)};
  }
}
