@import '../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../packages/common/src/ui/styles/abstracts/mixins';

.layoutContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--bg-color-body);
}

.layoutContent {
  flex: 1;
  min-height: 0;
  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .content {
      overflow-y: auto;
      flex: 1;
      display: flex;
      min-height: 0;
      width: 100%;
      > * {
        width: 100%;
      }

      @include scroll-bar-style;
    }
  }
}
