@import '../../../styles/theme.scss';
@import '../../../../../../common/src/ui/styles/abstracts/_typography.scss';

.body {
  display: flex;
  flex-direction: column;
  gap: size_unit(3);
  background-color: $theme-light-grey;
  border-radius: size_unit(2);
  padding: size_unit(2);
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  > * {
    display: flex;
    flex: 0 1 50%;
    min-width: 0;
  }

  .title {
    font-weight: 500;
    font-size: var(--body);
    line-height: size_unit(3);
    /* or 150% */
    /* Secondary - Black */
    color: var(--text-color-primary);
    text-align: right;
  }
  .value {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: size_unit(2);

    font-size: var(--bodySmall);
    font-weight: 500;
    line-height: size_unit(2);
    /* Secondary - Black */
    color: var(--text-color-primary);

    .bold {
      font-weight: 600;
      line-height: size_unit(3);
      font-size: var(--body);
      word-break: break-all;
    }

    .rightAligned {
      text-align: right;
      > div {
        justify-content: flex-end;
      }
      div,
      p {
        text-align: right;
      }
    }
  }
}

:global(.__react_component_tooltip) {
  @include tooltip-default;
}
