@keyframes icon-move {
  0% {
    left: 0;
  }
  50% {
    left: 2px;
  }
  100% {
    left: 0;
  }
}

@keyframes icon-move-active {
  0% {
    left: 2px;
  }
  50% {
    left: 4px;
  }
  100% {
    left: 2px;
  }
}

.square {
  width: 20px;
  height: 20px;
  border: solid 2px var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
  border-radius: 3px;
  position: relative;
  transition: all 0.25s ease-in-out;

  .icon {
    display: none;
    position: absolute;
    left: 0;
    top: 20%;
    width: 10px;
    height: 10px;
  }
}

.squareActive {
  background-color: var(--light-mode-dark-grey, #000);
  transition: all 0.25s ease-in-out;

  .icon {
    left: 2px;
  }
}

.switch {
  height: 20px;
  width: 8px;
  border: solid 2px var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
  border-radius: 0 3px 3px 0;
  background-color: var(--dark-mode-light-grey, #fff);
  position: absolute;
  top: -2px;
  right: -2px;
}

.active {
  transition: width 0.25s ease-in-out;
  background-color: var(--dark-mode-light-grey, #fff);
}

.roundBtn {
  padding: 0 !important;
  min-width: 50px !important;
  border-radius: 100px !important;
  background-color: var(--bg-color-body, #ffffff) !important;

  &:hover {
    background-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333)) !important;
    .square {
      background-color: var(--light-mode-dark-grey, #000);

      &.squareActive {
        background-color: transparent;
        .icon {
          display: block;
          color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
          animation: icon-move-active 0.5s linear infinite;
        }
      }

      .switch {
        background-color: var(--dark-mode-light-grey, #fff);

        &.active {
          width: 4px;
          background-color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
        }
      }

      .icon {
        display: block;
        color: var(--dark-mode-light-grey, #fff);
        animation: icon-move 0.5s linear infinite;
      }
    }
  }
}
