.square {
  width: 20px;
  height: 20px;
  border: solid 2px var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
  border-radius: 5px;
  position: relative;
  transition: all 0.25s ease-in-out;

  .icon {
    position: absolute;
    left: 7.5px;
    top: 30%;
    width: 0px;
    height: 6px;
  }
}

.squareActive {
  background-color: var(--light-mode-dark-grey, #000);
  transition: all 0.25s ease-in-out;

  .icon {
    left: 2px;
  }
}

.switch {
  height: 20px;
  width: 8px;
  border: solid 2px var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
  border-radius: 0 5px 5px 0;
  background-color: var(--bg-color-body, #fff);
  position: absolute;
  top: -2px;
  right: -2px;
  transition: background-color 0.25s ease-in-out;
}

.active {
  transition: width 0.25s ease-in-out;
  background-color: var(--dark-mode-light-grey, #fff);
}

.roundBtn {
  padding: 0 !important;
  min-width: 50px !important;
  border-radius: 100px !important;
  background-color: var(--bg-color-body, #ffffff) !important;

  &:hover {
    background-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333)) !important;
    .square {
      background-color: var(--light-mode-dark-grey, #000);

      &.squareActive {
        background-color: transparent;
        .icon {
          display: block;
          color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
          left: 4px;
        }
      }

      .switch {
        background-color: var(--dark-mode-light-grey, #fff);
        border-left: none;

        &.active {
          width: 4px;
          background-color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
        }
      }

      .icon {
        left: 1px;
        display: block;
        color: var(--dark-mode-light-grey, #fff);
        width: 7.5px;
        transition: all 0.5s ease;
      }
    }
  }
}
