@import '../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../packages/common/src/ui/styles/abstracts/typography';

.nameWrapper {
  display: flex;
  justify-content: space-between;
}

.saturationContainer {
  display: flex;
  flex-direction: column;

  .saturationTitle {
    @include text-body-semi-bold;
    color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
    text-align: right;
  }

  .saturationProgressContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }


  .saturationProgress {
    width: 136px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  > *:first-child {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.row {
  display: flex;
  flex-direction: column;
  margin-top: size_unit(4);
  &:first-child {
    margin-top: size_unit(5);
  }
}

.title {
  @include text-subHeading-semi-bold;
  align-items: center;
  color: var(--text-color-primary);
  display: flex;
  margin-bottom: size_unit(3);
}

.body {
  @include text-body-medium;
  color: var(--text-color-primary);
}

.social {
  display: flex;
  gap: size_unit(2);
}

.id {
  align-items: center;
  color: var(--text-color-primary);
  display: flex;
  font-size: var(--bodySmall);
  font-weight: 500;
  line-height: size_unit(2);
  margin-top: size_unit(2);
  &:first-child {
    margin-top: 0;
  }
}

.owner {
  align-items: center;
  color: var(--text-color-primary);
  display: flex;
  flex: 1;
  font-size: var(--bodySmall);
  font-weight: 500;
  justify-content: flex-start;
  line-height: size_unit(2);
  min-width: 0;
  + .owner {
    margin-top: 20px;
  }

  > * {
    width: 100%;
  }
}

.addressEllipsisParent {
  width: 100%;

  .addressEllipsis {
    width: 100%;
    margin-bottom: 0;
  }
}

.popupView {
  &.contentWrapper {
    .row {
      &:first-child {
        margin-top: size_unit(7);
      }
      .title {
        @include text-bodyLarge-bold;
      }
      .body {
        @include text-bodySmall-medium;
      }
    }
  }
  .social {
    color: var(--text-color-secondary);
    font-size: var(--bodySmall);
    font-weight: 600;
    gap: size_unit(2);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    line-height: size_unit(3);
  }
  .id {
    color: var(--text-color-primary);
    font-size: var(--bodySmall);
    font-weight: 500;
    line-height: size_unit(2);
    word-break: break-all;
  }
}
