@import '../../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.header {
  .title {
    align-items: center;
    color: var(--text-color-primary);
    display: flex;
    padding-top: size_unit(3);
    @include text-heading;
  }
  .subTitle {
    @include text-body-medium;
    color: var(--text-color-secondary);
    padding-top: size_unit(1);
  }
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: size_unit(5);
}

.password {
  display: flex;
  justify-content: center;
}
