@import '../themes/light';
@import './typography';
@import './variables';

// by default uses the light theme
// creates list of css custom properties for color palettes
@mixin theme-custom-properties($theme: $light-theme) {
  @each $color-name, $values in $theme {
    @each $shade-name, $shade-value in $values {
      --#{$color-name}-#{$shade-name}: #{$shade-value};
    }
  }
}

// creates list of css custom properties for font sizes
@mixin font-size-variables($font-map: $font-size-map) {
  @each $name, $value in $font-map {
    --#{$name}: #{$value};
  }
}

// scroll bar styles
@mixin scroll-bar-style(
  $width: $scroll-bar-default-width,
  $height: $scroll-bar-default-height,
  $thumb-height: $scroll-bar-thumb-default-height,
  $track-radius: $track-default-radius,
  $thum-raidus: $thumb-default-radius,
  $track-color: var(--scroll-bar-track),
  $thum-color: var(--scroll-bar-thum)
) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar-track {
    background-color: $track-color;
    border-radius: $track-radius;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thum-color;
    border-radius: $thum-raidus;
    height: $thumb-height;
  }

  &::-webkit-scrollbar-corner {
    background: $track-color;
  }
}

// Loader icon spin animation
@mixin spin-animation($speed: 4s) {
  -webkit-animation: spin $speed linear infinite;
  -moz-animation: spin $speed linear infinite;
  animation: spin $speed linear infinite;

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
