// scroll bar default value
$scroll-bar-default-width: 6px;
$scroll-bar-default-height: 6px;
$scroll-bar-thumb-default-height: 167px;
$track-default-radius: 0px 0px 0px 20px;
$thumb-default-radius: 20px;
