@import '../../styles/theme.scss';
@import '../../styles/abstracts/typography';

.drawerHeader {
  display: flex;
  flex-direction: column;
}

.title {
  @include text-subHeading-bold;
  @media (max-width: $breakpoint-popup) {
    margin-top: 0;
  }
}

.subtitle {
  @include text-body-medium;
  color: var(--text-color-secondary);
  margin-top: size_unit(1);
}

.headerTitle {
  color: var(--text-color-primary);
}

.popupView {
  .title {
    @include text-heading;
    margin-top: size_unit(1);
  }
}
