@import '../../styles/theme.scss';

.stakinConfirmationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.stakingConfirmationTitle {
  margin: size_unit(1) 0;
}

.separator {
  height: 1px;
  background: var(--light-mode-light-grey-plus);
  margin: size_unit(2) 0;
}
.h3 {
  /* Ext - H3 */
  font-weight: 700;
  font-size: var(--bodySmall);
  line-height: size_unit(2);
  color: var(--data-black);
  margin: 0 0 size_unit(2);
}
.detailRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: size_unit(2);

  label {
    //styleName: H5;
    font-size: var(--bodyXS);
    font-weight: 500;
    line-height: size_unit(2);
    text-align: left;
    color: var(--text-color-secondary);
  }

  p > #transactionFee,
  p > #deposit {
    //styleName: H6;
    font-size: var(--bodyXS);
    font-style: normal;
    font-weight: 700;
    line-height: size_unit(2);
    text-align: right;
    color: var(--data-black);
  }
}

.poolidText {
  //styleName: Address;
  font-size: var(--bodyXS);
  font-style: normal;
  font-weight: 400;
  line-height: size_unit(2);
  text-align: right;
  max-width: 50%;
  overflow-wrap: break-word;
  color: var(--text-color-black);
  margin: 0;
}
