@import '../../../../../common/src/ui/styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.container {
  display: flex;
  flex-direction: column;
  gap: size_unit(1.5);
  align-items: stretch;
}

.complexityLevel {
  display: flex;
  gap: size_unit(1);
  align-items: center;
  margin-left: size_unit(2) !important;

  .complexityLevelBar {
    height: size_unit(0.5);
    width: size_unit(6);
    border-radius: 5px;
    background-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333));
  }

  .low {
    background-color: var(--data-pink);
  }

  .mid {
    background-color: var(--data-orange);
  }

  .high {
    background-color: var(--data-green);
  }
}

.feedbackList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: size_unit(0.5);
  .feedbackMessage {
    @include text-form-label;
    color: var(--text-color-secondary);
    margin-left: size_unit(2);
  }
}
