@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/_typography.scss';

.warningAlert {
  flex-direction: row;
  background: var(--lace-cream);
  display: flex;
  align-items: center;
  border-radius: size_unit(2);
  padding: size_unit(2) size_unit(3);
  gap: size_unit(3);

  svg {
    height: size_unit(3);
    width: size_unit(3);
    color: var(--data-orange);
  }

  p {
    @include text-body-semi-bold;
    margin: 0;
  }
}
