@import '../../styles/theme';

@mixin popupViewContainer() {
  gap: 20px;
}

@mixin popupViewIconContainer() {
  align-items: center;
  align-self: auto !important;
  display: flex;
  margin-right: 0;
  margin-top: 2px;

  .icon {
    font-size: 24px;
  }
}

.bannerContainer {
  width: 100%;
  background-color: var(--dark-mode-dark-grey-plus, var(--color-magnolia, #fcf5e3));
  border-radius: 16px;
  padding: size_unit(2) 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: size_unit(1);
  gap: size_unit(3);

  &.popupView {
    @include popupViewContainer;
  }

  &.clickable {
    cursor: pointer;
  }

  @media (max-width: $breakpoint-popup) {
    @include popupViewContainer;
  }

  .chevronRightIconContainer {
    align-self: center;
    display: flex;

    svg {
      height: 16px;
      width: 16px;
    }
  }

  .iconContainer {
    align-self: center;
    display: flex;


    .icon {
      font-size: 20px;
      color: #ff8e3c;
    }

    svg {
      height: 20px;
      width: 20px;
    }

    &.popupView {
      @include popupViewIconContainer;
    }

    @media (max-width: $breakpoint-popup) {
      @include popupViewIconContainer;
    }

    &.withDescription {
      margin-top: size_unit(1);
    }
  }

  .contentContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .buttonContainer {
    height: 60%;
    padding-left: size_unit(1.25);
  }

  .descriptionContainer {
    flex-direction: column;
    @media (max-width: $breakpoint-popup) {
      display: inline !important;
      width: auto;
    }

    span.message {
      color: var(--text-color-primary);
      font-size: var(--body);
      font-weight: 600;
      line-height: size_unit(3);
      text-align: left;
      white-space: pre-line;
    }

    span.description {
      color: var(--text-color-primary);
      font-size: var(--body);
      font-weight: 400;
      line-height: size_unit(3);
      letter-spacing: -0.015em;
      text-align: left;

      @media (max-width: $breakpoint-popup) {
        font-size: var(--bodySmall);
      }
    }
  }
}
