@import '../../../../../../common/src/ui/styles/theme';
@import '../../../../../../common/src/ui/styles/abstracts/typography';

.root {
  padding: size_unit(8) size_unit(6.5);
}

.image {
  width: size_unit(10);
  height: size_unit(10);
  margin-bottom: size_unit(3);
}

.options {
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  width: 100%;
}

.separator {
  width: 1px;
  height: 100%;
  background: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
}
