@import '../../styles/theme.scss';

:global(.ant-table-thead > tr > th) {
  transition: none !important;
}

.tableContainer {
  th.ant-table-cell {
    padding-top: 0;
    padding-bottom: 0;
  }
  :global {
    .ant-table {
      background: var(--bg-color-body, #ffffff);
    }

    thead.ant-table-thead > tr > th.ant-table-cell {
      background-color: var(--bg-color-body, #ffffff);
      font-family: 'proxima-nova', sans-serif;
      font-size: var(--body);
      font-style: normal;
      font-weight: 500;
      line-height: size_unit(3);
      text-align: left;
      color: var(--text-color-secondary);
      border: none;
      padding-bottom: size_unit(1);
      &::before {
        display: none;
      }
    }
    .ant-table-container table > thead > tr:first-child th:first-child {
      padding-left: size_unit(2) !important;
    }
    .ant-table-container table > thead > tr:first-child th:last-child {
      text-align: right;
      padding-right: size_unit(2) !important;
    }
    .ant-table-cell-row-hover {
      background-color: var(--dark-mode-mid-grey, var(--light-mode-light-grey)) !important;

      &:first-child {
        border-radius: size_unit(2) 0 0 size_unit(2);
      }

      &:last-child {
        border-radius: 0 size_unit(2) size_unit(2) 0;
      }
    }
  }
  .rows {
    font-family: 'proxima-nova', sans-serif;
    font-size: var(--bodyLarge);
    font-style: normal;
    font-weight: 600;
    line-height: size_unit(3);
    text-align: left;
    color: var(--text-color-primary);
    border-radius: size_unit(2);
    cursor: pointer;

    td {
      border: none;
    }
  }
  .rows td:first-child {
    padding-left: size_unit(1) !important;
    border-radius: 16px 0 0 16px;
  }
  .rows td:last-child {
    text-align: right;
    padding-right: size_unit(2) !important;
    span {
      text-align: right !important;
    }

    border-radius: 0 16px 16px 0;
  }
}
.infiniteScrollContainer {
  background: var(--bg-color-body, #ffffff);
  margin-left: -#{size_unit(2)};
  margin-right: -#{size_unit(2)};
}
