@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/_typography.scss';

.details {
  display: flex;
  flex-direction: column;
}

.error {
  margin: size_unit(2) 0px;
}

.feeContainer {
  padding-bottom: size_unit(2.5);
}

.depositContainer {
  padding-bottom: size_unit(1.8) !important;
}

.transactionAssetsContainer {
  margin-bottom: size_unit(2.5);
}

.additionalInformation {
  color: var(--text-color-primary);
}
