@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/_typography.scss';

.details {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.error {
  margin: size_unit(2) 0px;
}

.dappInfo { 
  font-size:small;
  font-weight: 500;
  line-height: 1.7;
  color: var(--text-color-light-grey) !important;
}

.dappInfoContainer {
  padding: size_unit(2);
  margin: size_unit(1);
  background-color: var(--data-light-grey);
}

.address{
  display: flex;
  justify-content: space-between;
  padding: size_unit(2.5) 0;
}

 .addressInfo {
   color: $theme-light-grey !important;
 }
