@import '../../../../../common/src/ui/styles/abstracts/typography';

.transactionInOut {
  .txInOutContent {
    display: flex;
    flex-direction: column;
  }

  &.isOpen {
    padding-bottom: 20px;
  }

  .expanderHeader {
    display: flex;
    justify-content: space-between;
    padding: size_unit(3) 0px;

    button.arrowBtn[data-color='secondary'] {
      border-radius: size_unit(1) !important;
      min-width: size_unit(4) !important;
      min-height: size_unit(4) !important;
      max-width: size_unit(4) !important;
      max-height: size_unit(4) !important;
      width: size_unit(4) !important;
      height: size_unit(4) !important;

      .bracket {
        color: var(--text-color-primary);
      }
    }

    &.separatorLine {
      margin-bottom: 20px;
    }
  }

  .addressContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
    padding: size_unit(5) 0;

    @media (max-width: $breakpoint-popup) {
      padding-bottom: size_unit(4);
    }

    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: size_unit(1.5);

      .label {
        display: flex;
        flex: 0 0 50%;
        align-self: baseline;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: size_unit(2);

        text-align: right;
        word-break: break-all;

        .amount {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: flex-end;
        }
      }
    }

    &:first-of-type {
      padding-top: 0px;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.separatorLine {
  border-bottom: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
}

.topBorderContent {
  border-top: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  padding-top: size_unit(3);
}

.listHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: size_unit(4);
  width: 100%;

  .listHeaderTitle {
    display: flex;
    flex: 0 0 50%;
    align-self: baseline;
  }
}

.rotateOpen {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.rotateClose {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.rightAlign {
  text-align: right;
  word-break: break-all;
}

.addressTextContainer {
  line-height: size_unit(2);
}
