@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

$border-bottom: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));

.content {
  display: flex;
  flex-direction: column;
  gap: size_unit(1);
  width: 100%;

  @media (max-width: $breakpoint-popup) {
    padding: 0 0 size_unit(2) 0;
  }

  .block {
    border-bottom: $border-bottom;

    .label {
      display: flex;
      font-size: var(--bodyLarge);
      font-weight: 700;
      justify-content: space-between;
      line-height: 32px;
      padding: size_unit(3) 0px;

      .arrowContainer {
        @include icon-button;
        border-radius: 12px;
        border: 1.5px solid $theme-light-grey-border;
        cursor: pointer;
        padding: size_unit(2) 10px;
      }
    }

    .address {
      border-bottom: $border-bottom;
      margin-top: size_unit(6);
      &:first-of-type {
        margin-top: 0px;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .details,
  .hashContainer,
  .metadataContainer,
  .txCostContainer {
    color: var(--text-color-primary, #ffffff);
    display: flex;
    justify-content: space-between;
    margin-bottom: size_unit(4);
    width: 100%;

    .title {
      display: flex;
      flex: 0 0 50%;
      align-self: baseline;
      color: var(--text-color-primary, #ffffff);
      @include text-body-semi-bold;
    }

    .detail {
      align-items: end;
      display: flex;
      flex-direction: column;
      gap: size_unit(2);
      color: var(--text-color-primary, #ffffff);
      text-align: right;
      word-break: break-all;
      @include text-body-medium;

      @media (max-width: $breakpoint-popup) {
        flex-direction: column;
      }

      &.hash {
        @include text-address;
        font-weight: 500;
        text-align: right;
        cursor: pointer;
      }
      &.poolId {
        color: var(--text-color-secondary);
        font-size: var(--bodySmall);
        font-weight: 500;
        line-height: 17px;
      }

      &.addressTag {
        gap: size_unit(1);
      }
    }

    .timestamp {
      flex: 0 0 35%;
    }

    .addressDetail {
      font-size: var(--bodySmall, 14px);
      font-weight: 400;
      line-height: size_unit(2);
      text-align: right;
      margin-bottom: size_unit(5);
      @media (max-width: $breakpoint-popup) {
        margin-bottom: size_unit(6);
      }
    }

    .metadataLabel {
      display: flex;
      flex: 0 0 50%;
      align-self: baseline;
      @include text-bodyLarge-bold;
      color: var(--text-color-primary);
    }
  }

  .hashContainer {
    margin: 0;
    padding-bottom: size_unit(4);
    border-bottom: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  }

  .timestampContainer {
    flex-direction: row;
    .detail {
      gap: 0;
    }
  }

  .metadataContainer {
    padding: size_unit(5) 0;
    border-bottom: $border-bottom;
    margin-bottom: 0;
  }
}

.title {
  display: flex;
  gap: size_unit(1);
  align-items: center;
}

.hashLabel {
  max-width: initial;
  @media (max-width: $breakpoint-popup) {
    max-width: 85px;
    overflow-wrap: break-word;
  }
}

.labelWidth {
  @media (max-width: $breakpoint-popup) {
    flex: 40% !important;
  }
}

.infoIcon {
  width: size_unit(2);
  height: size_unit(2);
  color: var(--text-color-secondary);
  cursor: pointer;
}

.summary {
  @include text-bodyLarge-bold;
  color: var(--text-color-primary);
  padding-top: size_unit(4);
  padding-bottom: size_unit(3);
}

.addr,
.detailTitle {
  font-size: var(--bodySmall, 14px) !important;
  margin-top: size_unit(4);
  &:first-child {
    margin-top: 0;
    margin-bottom: size_unit(1);
  }
  .addr {
    margin-top: size_unit(0) !important;
    margin-bottom: size_unit(0) !important;
  }

  @media (max-width: $breakpoint-popup) {
    margin-top: size_unit(2);
    &:first-child {
      margin-bottom: 0 !important;
    }
  }
}

.description {
  @include text-body-medium;
  color: var(--text-color-primary);
}

.stakingInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: size_unit(2);
  gap: size_unit(1);

  .poolsTitle {
    @include text-body-semi-bold;
  }

  .poolsList {
    display: flex;
    flex-direction: column;
    gap: size_unit(2);
    text-align: right;
    overflow: hidden;
  }

  .poolHeading {
    display: flex;
    justify-content: flex-end;
    gap: size_unit(1);
  }

  .poolRewardAmount {
    display: flex;
    flex-direction: column;
    font-size: var(--bodySmall);
    .ada {
      color: var(--text-color-primary, #ffffff);
    }

    .fiat {
      color: var(--text-color-secondary, #878e9e);
    }
  }

  .lightLabel {
    color: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
  }

  .poolName {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.txLink {
  cursor: pointer !important;
  color: var(--text-color-blue, #3489f7) !important;
  line-height: 17px !important;
  @media (max-width: $breakpoint-popup) {
    flex: 60% !important;
  }
}

.header {
  color: var(--text-color-secondary, #878e9e);
  @include text-body-medium;
  margin-bottom: size_unit(9);

  @media (max-width: $breakpoint-popup) {
    font-size: var(--body, 16px);
    font-weight: 400;
    letter-spacing: -0.015em;
    margin-bottom: size_unit(4);
  }
}
