@import '../../../../../../common/src/ui/styles/theme.scss';

.icon {
  align-items: center;
  border-radius: 12px;
  color: var(--color-white, #fff);
  font-size: 32px;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.iconCold {
  background: var(--data-blue);
}

.iconHot {
  background: var(--data-pink);
}

.errorImage {
  flex-grow: 1;
  width: size_unit(14);
}
