@import '../../../../../styles/index';
@import '../../../../../../../../packages/common/src/ui/styles/theme.scss';

:root {
  --box-shadow-margin: 10px;
}

.flexRow {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
}

.header {
  align-items: baseline;
  color: var(--text-color-black);
  display: flex;
  font-size: var(--pageHeading);
  font-weight: 600;
  .subItem {
    color: var(--light-mode-dark-grey);
    font-size: var(--subHeading);
    font-style: normal;
    font-weight: 600;
    margin-bottom: -10px;
    margin-left: size_unit(1);
  }
}
