@import '../../styles/index.scss';

.avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  background: var(--color-white);
  border-radius: 100px;
  transition: 0.2s ease-in-out;
  padding-right: 1.5em;
  gap: 20px;
  &:hover {
    background: var(--light-mode-light-grey);
  }
}

.walletName {
  font-weight: bold;
  font-size: var(--body);
  line-height: 20px;
  color: var(--color-black);
  margin: 0;
  transition: 0.2s ease-in-out;
  &:hover {
    background: var(--light-mode-light-grey);
  }
}

.transparentContainer {
  border: none;
  padding: 0;
  background-color: transparent;
}

p.address {
  font-style: normal;
  font-weight: normal;
  font-size: var(--bodyXS) !important;
  line-height: 14px !important;
  letter-spacing: 0.02em;
  color: var(--text-color-black);
  word-break: break-all;
  width: 230px;
  margin: size_unit(0.5) 0 0;
}
