@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.row {
  align-items: baseline;
  display: flex;
  gap: size_unit(1);

  .type {
    @include text-subHeading-bold;
    color: var(--text-color-primary, #3d3b39);
  }
  .assets {
    @include text-body-semi-bold;
    color: var(--text-color-secondary, #3d3b39);
  }

  @media (max-width: $breakpoint-popup) {
    .type {
      font-size: var(--heading, 32px);
      font-weight: 700;
      line-height: size_unit(5);
    }

    .assets {
      color: var(--text-color-secondary, #3d3b39);
      font-size: var(--bodyLarge, 18px);
      font-weight: 600;
      line-height: size_unit(3);
    }
  }
}

.title {
  display: flex;
  gap: size_unit(1);
  align-items: center;
}

.infoIcon {
  font-size: var(--bodyLarge, 18px);
  margin-bottom: -#{size_unit(0.625)};
  color: var(--text-color-primary);
  cursor: pointer;
}
