@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.txFeeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: size_unit(1);
}

.txfee {
  color: var(--text-color-primary);
  @include text-body-semi-bold;
}

.details {
  color: var(--text-color-primary, #ffffff);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  .title {
    display: flex;
    flex: 0 0 50%;
    align-self: baseline;
    color: var(--text-color-primary, #ffffff);
    @include text-body-semi-bold;
  }

  .detail {
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: size_unit(2);
    color: var(--text-color-primary, #ffffff);
    text-align: right;
    word-break: break-all;
    @include text-body-medium;

    @media (max-width: $breakpoint-popup) {
      flex-direction: column;
    }

    &.hash {
      @include text-address;
      font-weight: 500;
      text-align: right;
      cursor: pointer;
    }
    &.txLink {
      color: var(--text-color-blue, #3489f7);
      line-height: 17px;
      @media (max-width: $breakpoint-popup) {
        flex: 60%;
      }
    }
    &.poolId {
      color: var(--text-color-secondary);
      font-size: var(--bodySmall);
      font-weight: 500;
      line-height: 17px;
    }
  }

  .timestamp {
    flex: 0 0 35%;
  }

  .amount {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;

    .ada {
      color: var(--text-color-primary, #ffffff);
    }

    .fiat {
      color: var(--text-color-secondary, #878e9e);
    }

    .addrName {
      margin-bottom: size_unit(1);
    }
  }

  .addressDetail {
    font-size: var(--bodySmall, 14px);
    font-weight: 400;
    line-height: size_unit(2);
    text-align: right;
    margin-bottom: size_unit(5);
    @media (max-width: $breakpoint-popup) {
      margin-bottom: size_unit(6);
    }
  }

  .metadataLabel {
    display: flex;
    flex: 0 0 50%;
    align-self: baseline;
    @include text-bodyLarge-bold;
    color: var(--text-color-primary);
  }
}
