@import '../../../../../common/src/ui/styles/theme.scss';

.container {
  background-color: var(--light-mode-body, var(--dark-mode-black));
  position: relative;
  box-shadow: var(--dark-mode-shadow-banner, var(--shadow-setup-box));

  background-repeat: no-repeat;
  // there is no good way do display light theme image under the text (small resolution)
  // hiding both images on small resolutions
  background-position: -1000% -1000%;

  @media screen and (min-width: $breakpoint-minimum) {
    background-position: right 40px bottom 50%;
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.title {
  color: var(--text-color-primary) !important;
  white-space: pre-wrap;
}

.description {
  color: var(--dark-mode-light-grey, var(--text-color-primary)) !important;
  white-space: pre-wrap;
}
