@import '../../styles/theme.scss';

.votingBannerContainer {
  width: 100%;
  padding: size_unit(4) size_unit(10) size_unit(4) 112px;
  background: var(--color-white, #ffffff);
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .statement {
    display: flex;
    flex-direction: column;
    gap: size_unit(3);
    max-width: 220px;

    h2 {
      color: #abb2b7;
      b {
        color: var(--text-color-black);
      }
      .highlight {
        color: var(--color-cyan, #2bf2c4);
      }
    }

    p {
      color: var(--text-color-grey, #6b7280);
      b {
        color: var(--text-color-black);
      }
    }
  }

  .description {
    max-width: 294px;
    color: var(--text-color-grey, #6b7280);
  }

  .addressBlock {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: size_unit(2);

    .explanation {
      color: var(--text-color-grey, #6b7280);
    }

    .address {
      word-break: break-all;
      color: var(--text-color-grey, #6b7280);
    }
  }
}

.stepContainer {
  p {
    margin: 0;
  }

  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  h5 {
    font-weight: bold;
    font-size: var(--body);
    line-height: size_unit(3);
    color: var(--text-color-grey, #6b7280);
  }

  .registrationImage {
    max-height: 344px;
    object-fit: contain;
  }

  .downloadContent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: size_unit(2);
    justify-items: center;

    .qrCodeContainer {
      padding: size_unit(4);
      background: var(--color-white, #ffffff);
      border-radius: 12px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .market {
      width: 84px;
    }
  }

  .walletPreview {
    width: 100%;
    background: var(--color-white, #ffffff);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 0px size_unit(1) rgba(0, 0, 0, 0.05);
    border-radius: 12px;
  }

  .confirmHeader {
    display: flex;
    flex-direction: column;
    gap: size_unit(1);
  }

  .confirmContent {
    display: flex;
    flex-direction: column;
    gap: size_unit(4);

    .fund {
      display: flex;
      align-items: center;
      gap: size_unit(1);
      img {
        height: size_unit(6);
        object-fit: contain;
      }
    }
  }

  .confirmFooter {
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    align-items: center;
    gap: size_unit(1);
    .fee {
      display: flex;
      align-items: center;
      gap: size_unit(1);
    }
  }

  .pinContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: size_unit(4);

    .reset {
      border: none;
      background: none;
      outline: none;
    }

    .error {
      color: var(--data-pink);
    }
  }

  .scanContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: size_unit(1);

    .attention {
      color: var(--data-pink);
    }

    .qrCode {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: size_unit(4);
    }
  }

  .scanFooter {
    display: flex;
    flex-direction: row-reverse;
  }

  .footer {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 150px 150px;
    gap: size_unit(1);
  }
}

.fundTimeline {
  * {
    margin: 0;
  }

  width: 100%;
  background: var(--color-white, #ffffff);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 0px size_unit(1) rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 20px size_unit(4);

  display: flex;
  flex-direction: column;
  gap: size_unit(3);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      gap: size_unit(1);
      align-items: center;
    }

    .timeLeft {
      font-weight: bold;
      color: var(--text-color-grey, #6b7280);
      b {
        color: var(--color-cyan, #2bf2c4);
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    gap: size_unit(0.5);

    .stage {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      text-align: center;

      h5 {
        font-weight: bold;
        color: #d5dade;
      }
      .active {
        color: var(--text-color-black);
      }

      .status {
        border: 2px solid var(--light-mode-light-grey);
        border-radius: size_unit(4);
        padding: size_unit(1) size_unit(2);
      }

      .success {
        font-weight: bold;
        color: var(--color-cyan, #2bf2c4);
      }
      .fail {
        font-weight: bold;
        color: var(--data-pink);
      }

      .progress {
        width: 100%;
        height: size_unit(0.5);
        border-radius: 1000px;
        background: var(--light-mode-dark-grey);

        .fill {
          height: 100%;
          border-radius: 1000px;
          background: var(--color-cyan, #2bf2c4);
        }
      }
    }
  }
}

.votingParticipation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  * {
    margin: 0;
  }

  .labeledInfo {
    p {
      font-weight: 500;
      font-size: var(--body);
      line-height: size_unit(3);
      color: var(--text-color-secondary);
    }

    h5 {
      font-weight: bold;
      font-size: var(--pageHeading);
      line-height: 56px;
      color: var(--text-color-black);

      span {
        font-weight: 600;
        font-size: var(--bodyLarge);
        line-height: size_unit(3);
        color: var(--text-color-secondary);
      }
    }
  }
}

.waitForNextFundCard {
  background: var(--color-white, #ffffff);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05), 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 270px;

  padding: size_unit(6) size_unit(5) size_unit(4) size_unit(5);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  * {
    margin: 0;
  }

  .badge {
    padding: size_unit(1) size_unit(3);
    background: var(--light-mode-light-grey);
    border-radius: 12px;
    font-weight: 600;
    font-size: var(--body);
    line-height: size_unit(3);
    color: var(--data-green);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: size_unit(1);

    max-width: 300px;

    .phase {
      font-weight: 500;
      font-size: var(--bodySmall);
      line-height: size_unit(3);
      color: var(--hover-orange);
    }

    .title {
      font-weight: bold;
      font-size: var(--bodyLarge);
      line-height: size_unit(4);
      color: var(--text-color-black);
    }

    .message {
      font-weight: 500;
      font-size: var(--body);
      line-height: size_unit(3);
      color: var(--text-color-secondary);
    }
  }

  .footer {
    display: flex;
  }

  .mask {
    position: absolute;
    right: -50px;
    top: -50px;
    width: 500px;
  }
}

.currentFund {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  * {
    margin: 0;
  }

  .title {
    display: flex;
    align-items: center;
    gap: size_unit(1);

    h5 {
      font-weight: 600;
      font-size: var(--bodyLarge);
      line-height: size_unit(3);
      letter-spacing: -0.015em;
      color: var(--text-color-black);
    }

    p {
      font-weight: 400;
      font-size: var(--bodySmall);
      line-height: size_unit(3);
      letter-spacing: -0.015em;
      color: var(--text-color-secondary);
    }
  }

  .registrationDeadline {
    font-weight: 400;
    font-size: var(--bodySmall);
    line-height: size_unit(3);
    letter-spacing: -0.015em;
    color: var(--text-color-secondary);

    b {
      font-weight: 700;
      font-size: var(--bodySmall);
      line-height: size_unit(3);
      color: var(--primary-default, #7f5af0);
    }
  }
}
