@import '../../../styles/theme.scss';

%textCommonStyles {
  font-size: var(--bodyLarge) !important;
  font-weight: 500 !important;
  letter-spacing: -0.015em !important;
  line-height: size_unit(3) !important;
}

.inputPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100% !important;

  .inputWrapper {
    position: relative;
    max-width: 100% !important;
    width: 100% !important;
  }

  @media (max-width: $breakpoint-popup) {
    justify-content: flex-start;
    width: 100%;
    .inputWrapper {
      width: 100%;
      max-width: 100%;
    }
  }

  .inputPassword {
    @extend %textCommonStyles;
    display: flex;
    align-items: center;
    background: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
    border-radius: size_unit(2) !important;
    box-shadow: none !important;
    height: size_unit(8) !important;
    padding-left: size_unit(3) !important;
    padding-right: size_unit(0.75) !important;
    border: 1px solid transparent !important;
    &:hover {
      border: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-grey)) !important;
    }
    &.withLabel {
      input {
        margin-top: size_unit(3);
      }
    }
    input {
      background: transparent !important;
      @extend %textCommonStyles;
      font-size: var(--bodyLarge) !important;
      color: var(--text-color-primary) !important;
      width: 100%;
      border: none;
      &:focus {
        color: var(--text-color-primary) !important;
      }
      &::placeholder {
        @extend %textCommonStyles;
        color: var(--text-color-secondary) !important;
        font-family: 'proxima-nova', sans-serif !important;
      }
      transition: none !important;
    }

    input[type='password'] {
      font-size: var(--bodyLarge) !important;
      font-family: Verdana, serif;
      letter-spacing: 0.15em !important;
      transition: none !important;
      padding-bottom: 2px;
    }
  }

  .largeDots {
    font-family: Verdana, serif;
    letter-spacing: 0.25em;
  }

  p {
    text-align: left;
    color: var(--data-pink);
    width: 100%;
    margin-left: size_unit(3);
    font-size: var(--bodyXS);
    font-weight: 500;
    line-height: size_unit(2);
    position: absolute;
    bottom: -#{size_unit(4)};
  }

  :global(.ant-input-prefix) {
    margin-right: 0;
  }

  :global(.ant-input-password-icon) {
    background-color: var(--color-white, var(--dark-mode-grey));
    border-radius: 11px;
    padding: 13px;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--subHeading);
    &:hover {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 0px 10px rgba(0, 0, 0, 0.05);
    }
  }

  :global(.ant-input-affix-wrapper) {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.label {
  font-family: 'proxima-nova', sans-serif !important;
  color: var(--text-color-secondary) !important;
  font-size: var(--bodyLarge);
  font-weight: 500;
  left: size_unit(3);
  line-height: size_unit(3);
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  z-index: 1;
  white-space: nowrap;
  &.filled {
    font-size: size_unit(1.5);
    line-height: size_unit(1.5);
    transform: translateY(0);
    top: 12px;
  }
}

.eyeIcon {
  color: var(--purple);
  font-size: size_unit(3);
}
:global(.ant-input-password-icon) {
  path {
    fill: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
  }
}
