@keyframes rotating {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.loader {
  animation: rotating 2s linear infinite;
  height: 126px;
  width: 126px;
}
