@import '../../../../common/src/ui/styles/theme.scss';
@import '../../../../common/src/ui/styles/abstracts/typography';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  .title {
    color: var(--text-color-primary);
    font-size: var(--heading);
    font-weight: bold;
    line-height: size_unit(4);
  }
  .subTitle {
    color: var(--text-color-secondary);
    font-size: var(--bodyLarge);
    font-weight: 500;
    line-height: size_unit(3);
    margin-top: size_unit(2);
  }
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;

  .passwordInput {
    max-width: 360px;
  }
}

.footer {
  .confirmBtn {
    width: 100%;
  }
}

.popupView {
  &.header {
    .title {
      @include text-heading;
      line-height: size_unit(4);
    }
    .subTitle {
      font-size: size_unit(2);
      margin-top: size_unit(1);
    }
  }
  &.container {
    .password {
      flex: 1;
      padding-top: size_unit(5);
      align-self: flex-start;
      width: 100%;

      .passwordInput {
        max-width: initial;
      }
    }
    .footer {
      box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
      padding: size_unit(2) size_unit(3) 0px size_unit(3);
    }
  }
}
.passwordContainer {
  width: 100%;
  padding: 0 size_unit(3);
}
