@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.tableWrapper {
  position: relative;
}

.table {
  display: flex;
  flex-direction: column;
  padding: size_unit(4) 0;
  .header {
    display: flex;
    flex-direction: column;
  }
  .title {
    color: var(--text-color-primary);
    @include text-subHeading-semi-bold;
    font-weight: 600;
    gap: size_unit(1);
  }

  .sideText {
    color: var(--text-color-secondary);
    margin-left: size_unit(0.5);
    @include text-bodyLarge-semi-bold;
  }
  .icon {
    font-size: var(--subHeading);
  }
}
