@import '../../../../../../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../../../../../../packages/common/src/ui/styles/abstracts/typography.scss';

.categoryText {
  color: var(--text-color-white);
}

.imageContainer {
  font-size: 20px;
  line-height: 0;
}
