@import '../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../packages/common/src/ui/styles/abstracts/_typography';
@import '../../../styles/rules/modal.scss';

.linkButton {
  @include text-body-bold;
  color: var(--text-color-secondary);
  cursor: pointer;
  margin-top: size_unit(5.5);
}

.modal {
  @extend %modal-globals;
  &:global(.ant-modal) {
    max-width: calc(100vw - 50px) !important;
  }
}

.title {
  text-align: center !important;
  color: var(--text-color-primary) !important;
  font-size: var(--subHeading) !important;
  line-height: size_unit(4) !important;
  font-weight: 700 !important;
  margin-bottom: size_unit(1) !important;
}

.description {
  margin-top: size_unit(2) !important;
  text-align: center;
  color: var(--text-color-secondary) !important;
  font-size: size_unit(2) !important;
  font-weight: 500 !important;
  line-height: size_unit(3) !important;
}

.buttons {
  display: flex;
  gap: size_unit(2);
  margin-top: size_unit(3) !important;
  flex-direction: column;
  width: size_unit(29);
}

.button {
  font-weight: 600 !important;
}
