@import '../../../../../packages/common/src/ui/styles/theme.scss';

.loaderContainer {
  @include flex-center;
  flex-direction: column;
  height: 100%;
  gap: size_unit(2);

  .loaderText {
    color: var(--text-color-primary);
  }
}

.loader {
  margin-left: 126px;
}
