@import '../../../../../packages/common/src/ui/styles/theme.scss';

.loaderContainer {
  @include flex-center;
  flex-direction: column;
  height: 100%;
  gap: size_unit(2);
}

.loader {
  margin-left: 126px;
}
