@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: size_unit(3);

  .statItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;

    .statHeader {
      color: var(--text-color-secondary);
      @include text-bodyLarge-medium;
    }

    .statBody {
      align-items: baseline;
      color: var(--text-color-primary);
      display: flex;
      @include text-bodyLarge-semi-bold;

      .suffix {
        @include text-bodySmall-semi-bold;
        color: var(--text-color-secondary);
        margin-left: size_unit(0.5);
      }
    }
  }
}

.popupView {
  &.stats {
    display: flex;
    border-bottom: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
    flex-direction: column;
    gap: size_unit(2);
    padding-bottom: size_unit(4);
    .statItem {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      .statHeader {
        @include text-body-semi-bold;
      }
      .statBody {
        @include text-body-medium;
      }
      .statBody {
        font-weight: 600;
        .suffix {
          @include text-bodySmall-medium;
          color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
        }
      }
    }
  }
}
