.progressBarContainer {
  background: var(--light-mode-light-grey, var(--dark-mode-mid-grey));
  height: 3px;
  width: 100%;

  .progressBar {
    background: var(--primary-gradient);
    height: 100%;
    width: 0;
  }
}
