@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.panel {
  background-color: var(--bg-color-body, #ffffff);
  border-radius: size_unit(2);
  border: 1.5px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  color: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
  font-size: size_unit(2);
  font-weight: 500;
  line-height: size_unit(3);
  margin-bottom: 20px;
}

.row {
  align-items: center;
  display: flex;
  flex: 1;
  min-height: 85px;
  border-bottom: 1.5px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  &:last-child {
    border-bottom: none;
  }
}

.col {
  align-items: center;
  align-self: stretch;
  border-left: 2px solid var(--light-mode-light-grey, var(--dark-mode-mid-grey));
  display: flex;
  flex: 1 0 0;
  padding: 0 size_unit(4);
  width: 50%;
  max-width: 100%;
  &:first-child {
    padding: 0 size_unit(4);
    border-left: none;
  }

  @media (max-width: calc($breakpoint-minimum + 100px)) {
    padding: 0 size_unit(2);

    &:first-child {
      padding: 0 size_unit(2);
    }
  }
}

.suffix {
  color: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
  font-size: var(--bodySmall);
  font-weight: 500;
  line-height: size_unit(3);
  margin-left: size_unit(0.5);
}

.justifyContentSpaceAround {
  justify-content: space-around;
}

.icon {
  cursor: pointer;
  font-size: var(--bodyLarge);
  position: relative;
}

.dropdownWrapper {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: size_unit(5);
  justify-content: center;
  margin-right: size_unit(1);
  width: size_unit(5);
  &:hover {
    background-color: var(--light-mode-light-grey);
  }
}

.stakingInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  &.popupView {
    .col {
      border-left: none;
      flex: 1;
      justify-content: center;
      padding: size_unit(2) 0px;
      width: initial;
    }
    .row:first-of-type {
      flex-direction: column;
      .col:first-of-type {
        padding: 0 size_unit(2);
      }
    }
    .row:not(:first-of-type) {
      .col {
        justify-content: flex-start;
        padding-left: size_unit(3);
      }
    }
  }
}
