@import '../../styles/theme.scss';

.mnemonicWordContainer,
.active {
  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey));
  border-radius: 100px;
  padding: size_unit(1) size_unit(2);
  display: flex;
  gap: size_unit(1);
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: var(--body);
  line-height: size_unit(3);
  color: var(--text-color-primary) !important;
  height: size_unit(6);
  border: 1px solid transparent;
  width: 176px;
  .number {
    color: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
    font-size: var(--body);
    margin: 0;
  }
  &:hover {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-grey));
  }
  &:active,
  &:focus,
  &::selection {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border: 1px solid transparent;
  }
  .active {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border: 1px solid transparent;
  }
  &:disabled {
    background: var(--light-mode-light-grey, var(--dark-mode-dark-grey));
    color: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
    .number {
      color: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
      margin: 0;
    }
  }
}

.disabled {
  cursor: not-allowed;

  &:hover {
    background: var(--light-mode-light-grey, var(--dark-mode-dark-grey));
    border: 1px solid transparent;
  }
}
