.textArea:global(.ant-input) {
  height: 136px !important;
  overflow-y: scroll;
  margin-top: 16px;
  padding-top: 0 !important;
  outline: 0 !important;
  border: none !important;

  &:hover {
    border: none !important;
  }
}

.validationContainer {
  height: 16px;
  padding-left: 24px;
  fill: var(--data-green);
  stroke: var(--data-green);
}

.wrapper {
  padding-top: 24px !important;
  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
  border-radius: 16px;
}

.privateKeyEntryMethod {
  label[for='pgp-private-key-upload'] {
    height: 136px !important;
  }
  > div,
  form,
  .pgpKeyBlockWrapper {
    width: 100%;
  }
}
