@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.overviewContainer {
  border-radius: size_unit(2);
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333));
  max-height: 296px;
}

.walletIconContainer {
  width: size_unit(4);
  height: size_unit(4);
  align-items: center;
  justify-content: center;
  border-radius: size_unit(1);
  background-color: var(--data-pink);
}

.credit {
  span,
  div {
    line-height: 20px;
    font-size: 12px;
  }
}
.infoIcon {
  color: var(--text-color-secondary);
}

.fullWidth {
  width: 100%;
}
