@import '../../../../../common/src/ui/styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';
@import '../../../../../common/src/ui/styles/abstracts/mixins';

.scrollArea {
  overflow-y: scroll;
  height: 100%;
  margin: 0 -#{size_unit(2)} 0 -#{size_unit(1)};
  margin-top: size_unit(1);

  $track: var(--scroll-bar-track);
  $thum: var(--scroll-bar-thum);

  @include scroll-bar-style($track-color: $track, $thum-color: $thum);

  @media (max-width: $breakpoint-popup) {
    margin: 0 !important;
  }
}

.assetsContainer {
  display: flex;
  flex-direction: column;
  gap: size_unit(3);
  height: 100% !important;
  margin-top: size_unit(5.5);
  @media (max-width: $breakpoint-popup) {
    margin-top: size_unit(0);
    gap: size_unit(2);
  }

  :global(.ant-select-selection-search-input) {
    padding: 0 6px 0 16px !important;
  }

  .dropdownHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-popup) {
      padding: 0 size_unit(1);
    }
    .dropdownHeaderTitle {
      color: var(--text-color-primary);
      font-size: var(--subHeading);
      font-weight: 600;
      line-height: size_unit(4);
    }

    .closeWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--light-mode-light-grey, var(--dark-mode-grey, #383838));

      border-radius: 100px;
      width: size_unit(5);
      height: size_unit(5);
      padding: 0;
      cursor: pointer;

      .closeIcon {
        color: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));
        font-size: var(--body);

        &:hover {
          color: var(--text-color-primary);
        }
      }
    }
  }
}

.radioButtons {
  width: 100%;
  background: var(--light-mode-light-grey, var(--dark-mode-mid-black, #252525));
  border-radius: size_unit(2);
  padding: 0 size_unit(1);
  height: size_unit(7);
  @media (max-width: $breakpoint-popup) {
    width: auto;
    margin: 0;
    gap: size_unit(0.75);
  }
  :global(.ant-radio-button-wrapper) {
    border-radius: 11px !important;
    background-color: transparent;
    height: size_unit(4);
    width: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  :global {
    .ant-radio-button-wrapper {
      > span {
        font-size: size_unit(2);
      }
    }

    .ant-radio-button-wrapper:not(:first-child)::before {
      display: none;
    }
    .ant-radio-group {
      width: 100%;
      display: flex;
      height: size_unit(7);
      align-items: center;
      gap: size_unit(1);
      .ant-radio-button-wrapper {
        color: var(--text-color-secondary) !important;
      }
    }
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: var(--text-color-primary) !important;
      background: var(--color-white, var(--dark-mode-mid-grey, #ffffff)) !important;
      border: none transparent !important;

      @include text-body-semi-bold;

      @media (max-width: $breakpoint-popup) {
        @include text-bodySmall-semi-bold;
      }
    }
    .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
      border-right-color: transparent !important;
      height: size_unit(5);
    }
    .ant-radio-button-wrapper:first-child {
      border-left: 1px solid transparent;
      transition: none;
    }
    .ant-radio-button-wrapper:hover {
      position: relative;
      color: var(--text-color-primary) !important;
      font-weight: 600;
    }
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
      color: var(--text-color-primary) !important;
      background: var(--color-white, var(--dark-mode-mid-grey, #ffffff)) !important;
      border-color: transparent !important;
      max-width: 280px;
      border-radius: 11px;
    }
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within,
    .ant-radio-button-wrapper:focus-within {
      box-shadow: 0 0 0 3px transparent !important;
    }
  }
}

.listBox {
  height: 100% !important;
}

