$base-spacing-unit: 8px;
// Theme colours
$theme-primary: #ff92e1;
$theme-secondary: #fdc300;
$theme-text-color-black: var(--text-color-primary, #3d3b39);
$theme-text-color-light-grey: var(--text-color-light-grey, #878e9e);
$theme-light-grey: var(--data-light-grey, #f9f9f9);
$theme-light-grey-border: #efefef;
$theme-light-grey-border-opacity: #efefef8f;
$theme-white: #ffffff;

$breakpoint-minimum: 668px;
$breakpoint-xsmall: 1024px;
$breakpoint-small: 1281px;
$breakpoint-medium: 1440px;
$breakpoint-xmedium: 1550px;
$breakpoint-large: 1660px;
$breakpoint-xlarge: 1920px;
$breakpoint-popup: 360px;

// Sizing units
$base-spacing-unit: 8px;
$scroll-offset: 4px;

$navigation-width: 190px;

@function size_unit($size) {
  @return $size * $base-spacing-unit;
}

@mixin light-grey-border {
  border: 2px solid $theme-light-grey-border;
}

@mixin flex-center {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}

@mixin default-button {
  min-height: size_unit(6);
  min-width: 130px;
  padding: size_unit(1) size_unit(3) !important;
}

@mixin primary-button {
  @include flex-center;
  @include default-button;
  background-color: var(--primary-default, #7f5af0) !important;
  border-color: var(--primary-default, #7f5af0) !important;
  border-radius: size_unit(2) !important;
  box-shadow: none !important;
  color: var(--text-color-white, #ffffff) !important;
  font-size: var(--body) !important;
  font-weight: 600 !important;
  line-height: size_unit(3) !important;
  min-height: size_unit(6);
  min-width: size_unit(6);
  &:disabled {
    opacity: 0.25;
  }
}

@mixin secondary-button {
  @include flex-center;
  @include default-button;
  min-height: size_unit(6);
  min-width: size_unit(6);
  background-color: $theme-light-grey !important;
  box-shadow: none !important;
  color: $theme-text-color-black;
  &:hover {
    background-color: $theme-light-grey-border-opacity !important;
  }
  &:focus {
    background-color: $theme-light-grey-border !important;
  }
  &:disabled {
    opacity: 0.25;
  }
}

@mixin icon-button {
  @include flex-center;
  @include secondary-button;
  min-height: size_unit(6);
  min-width: size_unit(6);
  background-color: transparent !important;
  border: 2px solid $theme-light-grey-border !important;
  box-shadow: none !important;
  padding: 0 !important;

  img {
    width: 18px;
    height: 18px;
  }

  &:focus {
    border: none;
  }
}

@mixin gradient-button {
  @include flex-center;
  @include default-button;
  gap: size_unit(1);
  border-radius: size_unit(2) !important;
  box-shadow: none !important;
  border: 2px solid transparent !important;
  color: $theme-text-color-black !important;

  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, $theme-primary, $theme-secondary) border-box !important;

  &:active,
  &:hover,
  &:focus {
    box-shadow: 0 4px 10px 0 #a78fa033 !important;
  }
}

$default-linear-gradient: linear-gradient(to right, $theme-primary, $theme-secondary);

@mixin tooltip-default {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 16px #a78fa033 !important;
  border-radius: 8px !important;
  color: $theme-text-color-light-grey !important;
  padding: 6px 16px !important;
}
