.overlay {
  z-index: 1000 !important;
}

.menuOverlay {
  border-radius: 16px !important;
  border: 1px var(--light-mode-light-grey) solid !important;
  box-shadow: var(--shadows-toast-tooltip);
  margin-top: 4px !important;
  background-color: var(--bg-color-container, #ffffff) !important;
  padding: 8px;
}

.walletOptionWithArrow {
  padding-right: 12px;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background: var(--light-mode-light-grey, var(--dark-mode-mid-grey));
  }

  > div:first-child:hover {
    background: transparent !important;
  }
}

.arrowIcon {
  color: var(--text-color-secondary, #878e9e);
  font-size: 16px;
  margin-left: 8px;
  flex-shrink: 0;
}

.walletOptionMidnight > div {
  background: var(--data-charcoal);
}
