@import '../../styles/theme.scss';
@import '../../styles/abstracts/typography';
@import '../../styles/abstracts/mixins';

@mixin outlined-btn-border($color) {
  border: 1.5px solid $color;
}

// ==== Primary btn Pallet ====
$btn-primary-bg: var(--primary-default, #7f5af0);
$btn-primary-bg-hover: var(--primary-hover, #7452db);
$btn-primary-bg-active: var(--primary-active, #7452db);

$btn-primary-shadow: var(--shadows-hover-btn, none);
$btn-primary-border: none;
$btn-primary-color: var(--text-color-white, #ffffff);

// ==== Secondary Button Pallet ====
$btn-secondary-bg: var(--light-mode-light-grey, var(--dark-mode-grey, #f9f9f9));
$btn-secondary-bg-hover: var(--light-mode-light-grey, var(--dark-mode-mid-grey, #f9f9f9));
$btn-secondary-bg-active: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey, rgba(239, 239, 239, 0.56)));

$btn-secondary-shadow: var(--shadows-hover-btn, none);
$btn-secondary-border: none;

$btn-secondary-color: var(--text-color-secondary, #878e9e);
$btn-secondary-color-hover: var(--text-color-primary, #ffffff);
$btn-secondary-color-active: var(--text-color-primary, #ffffff);

// ==== Gradient Button Pallet ====
$btn-gradient-bg: var(--color-white, var(--dark-mode-bg-black, #ffffff));
$btn-gradient2-bg: var(--color-white, var(--bg-color-container, #ffffff));
$btn-gradient-bg-hover: var(--color-white, var(--dark-mode-mid-grey, #ffffff));
$btn-gradient2-bg-hover: var(--color-white, var(--dark-mode-bg-black, #ffffff));
$btn-gradient-bg-active: var(--light-mode-light-grey, var(--dark-mode-bg-black, #ffffff));

$btn-gradient-shadow: var(--shadows-hover-btn, none);

$btn-gradient-border: 2px solid transparent;
$btn-gradient-border-disabled: 2px solid var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));

$btn-gradient-color: var(--text-color-primary, #ffffff);
$btn-gradient-color-hover: var(--text-color-primary, #ffffff);
$btn-gradient-color-active: var(--text-color-primary, #ffffff);
$btn-gradient-color-disabled: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));

$btn-gradient-focused-outline-color: var(--primary-accent, rgba(127, 90, 240, 0.3));

// ==== Outlined button ====
$btn-outlined-bg: transparent;
$btn-outlined-bg-hover: var(--light-mode-light-grey, var(--dark-mode-dark-grey-plus, #ffffff));
$btn-outlined-bg-active: var(
  --light-mode-light-grey-plus-56,
  var(--dark-mode-dark-grey-plus, rgba(239, 239, 239, 0.56))
);

$btn-outlined-shadow: none;

$btn-outlined-border-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #efefef));
$btn-outlined-border-color-hover: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #efefef));
$btn-outlined-border-color-active: var(--light-mode-light-grey-plus, var(--dark-mode-dark-grey-plus, #efefef));
$btn-outlined-border-color-disabled: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));

$btn-outlined-color: var(--text-color-primary, #ffffff);
$btn-outlined-color-hover: var(--text-color-primary, #ffffff);
$btn-outlined-color-active: var(--text-color-primary, #ffffff);
$btn-outlined-color-disabled: var(--light-mode-dark-grey, var(--dark-mode-light-grey, #a9a9a9));

// ==== Button sizes ====
$small-padding: size_unit(1) size_unit(2);
$medium-padding: size_unit(1) size_unit(3);
$large-padding: size_unit(1) size_unit(5);

$btn-small-padding: var(--btn-small-pd, $small-padding);
$btn-medium-padding: var(--btn-medium-pd, $medium-padding);
$btn-large-padding: var(--btn-large-pd, $large-padding);

$btn-small-min-height: var(--btn-small-min-height, size_unit(5));
$btn-small-min-width: var(--btn-small-min-width, 50px);

$btn-medium-min-height: var(--btn-medium-min-height, size_unit(6));
$btn-medium-min-width: var(--btn-medium-min-width, 130px);

$btn-large-min-height: var(--btn-large-min-height, size_unit(6));
$btn-large-min-width: var(--btn-large-min-width, 140px);

$btn-large-min-size: var(--btn-large-min-size, size_unit(5));

// ==== Button border radius ====
$btn-border-radius: var(--btn-border-radius, size_unit(2));
$btn-gap: var(--btn-gap, size_unit(1));

.btn {
  @include flex-center;
  gap: $btn-gap;
  border-radius: $btn-border-radius;
  cursor: pointer;
  border: none;
  position: relative;
  transition: 0.2s ease;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.loading,
  &:disabled {
    border: none;
    cursor: not-allowed;
  }

  &.outlined {
    background-color: transparent;
  }

  &.text {
    background-color: transparent !important;
    border: none !important;
    color: var(--light-mode-dark-grey, var(--text-color-white)) !important;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.small {
    @include text-form-label;
    font-weight: bold;
    padding: $btn-small-padding;
    min-height: $btn-small-min-height;
    min-width: $btn-small-min-width;
  }

  &.medium {
    @include text-body-semi-bold;
    padding: $btn-medium-padding;
    min-height: $btn-medium-min-height;
    min-width: $btn-medium-min-width;
  }

  &.large {
    @include text-body-semi-bold;
    padding: $btn-large-padding;
    min-height: $btn-large-min-height;
    min-width: $btn-large-min-width;
  }

  &.icon {
    min-height: $btn-large-min-size !important;
    min-width: $btn-large-min-size !important;
    width: size_unit(5);
    height: size_unit(5);
    padding: 0 !important;
  }

  .dimm {
    background: var(--bg-color-body);
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0.76;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .content {
    @include flex-center;
    gap: $btn-gap;
    position: relative;
    background: transparent;
    &.loadingContent {
      // loader size + magin
      margin-left: 28px;
    }
  }
}

.btn[data-color='primary'] {
  color: $btn-primary-color;
  background-color: $btn-primary-bg;

  &:hover:not(.loading) {
    box-shadow: $btn-primary-shadow;
    background-color: $btn-primary-bg-hover;
  }

  &:active:not(.loading) {
    box-shadow: none;
    background-color: $btn-primary-bg-active;
  }

  &:disabled:not(.loading) {
    opacity: 0.24;
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
  }

  &.outlined {
    @include outlined-btn-border($btn-primary-color);

    &:hover:not(.loading) {
      @include outlined-btn-border($btn-primary-bg-hover);
    }

    &:active:not(.loading) {
      @include outlined-btn-border($btn-primary-bg-active);
    }
  }

  &.text {
    color: var(--text-color-secondary) !important;

    &:hover {
      color: var(--text-color-secondary) !important;
      background: var(--light-mode-light-grey, var(--dark-mode-mid-grey)) !important;
      box-shadow: none !important;
    }

    &:active {
      background: var(--light-mode-light-grey, var(--dark-mode-mid-grey)) !important;
      color: var(--text-color-primary) !important;
    }
  }
}

.btn[data-color='secondary'] {
  color: $btn-secondary-color;
  background-color: $btn-secondary-bg;

  &:hover:not(.loading) {
    color: $btn-secondary-color-hover;
    background-color: $btn-secondary-bg-hover;
  }

  &:active:not(.loading) {
    background-color: $btn-secondary-bg-active;
    color: $btn-secondary-color-active;
  }

  &:disabled:not(.loading) {
    opacity: 0.32;
    color: $btn-secondary-color;
    background-color: $btn-secondary-bg;
  }

  &.outlined {
    @include outlined-btn-border($btn-outlined-border-color);
    background-color: $btn-outlined-bg;
    color: $btn-outlined-color;

    &:hover:not(.loading) {
      @include outlined-btn-border($btn-outlined-border-color-hover);
      background-color: $btn-outlined-bg-hover;
    }

    &:active:not(.loading) {
      @include outlined-btn-border($btn-outlined-border-color-active);
      background-color: $btn-outlined-bg-active;
    }

    &:disabled:not(.loading) {
      @include outlined-btn-border($btn-outlined-border-color-disabled);
      color: $btn-outlined-color-disabled;
    }
  }

  &.text {
    color: $btn-outlined-color;

    &:hover {
      color: $btn-outlined-color-hover;
    }

    &:active {
      color: $btn-outlined-color-active;
      background-color: $btn-secondary-bg-active;
    }
  }
}

.btn[data-color='gradient'] {
  color: $btn-gradient-color;
  background-color: $btn-gradient-bg;
  background: linear-gradient($btn-gradient-bg, $btn-gradient-bg) padding-box, var(--lace-gradient) border-box;
  border: $btn-gradient-border;

  &:hover:not(.loading) {
    box-shadow: $btn-gradient-shadow;
    background: linear-gradient($btn-gradient-bg-hover, $btn-gradient-bg-hover) padding-box,
      var(--lace-gradient) border-box;
  }

  &:active:not(.loading) {
    background: linear-gradient($btn-gradient-bg-active, $btn-gradient-bg-active) padding-box,
      var(--lace-gradient) border-box;
  }

  &:focus:not(:active) {
    outline: $btn-gradient-focused-outline-color solid 4px;
  }

  &:disabled:not(.loading) {
    color: $btn-gradient-color-disabled;
    opacity: 0.24;
    background: transparent !important;
    border: $btn-gradient-border-disabled;
  }
}

.btn[data-color='gradient-secondary'] {
  @extend .btn, [data-color='gradient'];
  background: linear-gradient($btn-gradient2-bg, $btn-gradient2-bg) padding-box, var(--lace-gradient) border-box;

  &:hover:not(.loading) {
    background: linear-gradient($btn-gradient2-bg-hover, $btn-gradient2-bg-hover) padding-box,
      var(--lace-gradient) border-box;
  }
}

.loaderContainer {
  display: flex;
  left: -#{size_unit(1)};
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  z-index: 2;
}

.loader {
  @include spin-animation();
  font-size: 20px !important;
  color: var(--primary-default) !important;
}
