@import '../../../../../../../../../packages/common/src/ui/styles/theme';
@import '../../../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.container {
  border-radius: size_unit(2);
  box-shadow: var(--dark-mode-shadow-banner, var(--shadow-setup-box));
  background: var(--bg-color-container);
  overflow: hidden;
  padding: size_unit(3) size_unit(4) size_unit(5) size_unit(4);
  position: relative;
  width: 100%;
  .content {
    z-index: 1;

    &:first-of-type {
      max-width: 442px;
    }
  }

  .bg {
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
  }

  .title {
    @include text-subHeading-bold;
    line-height: size_unit(4);
    color: var(--text-color-primary);
    margin-bottom: 22px;
  }

  .description {
    @include text-body-regular;
    color: var(--text-color-secondary);
  }

  &.popupView {
    flex-direction: column;
    padding: size_unit(3) size_unit(4);
    .content {
      justify-content: flex-start;
    }

    .bg {
      left: 30px;
      width: 100%;
      bottom: 0;
    }

    .description {
      font-weight: 500;
      font-size: var(--body);
      line-height: size_unit(3);
      color: var(--text-color-secondary);
    }
  }
}
