@import '../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.titleContainer {
  display: flex;
  gap: size_unit(0.5);
  margin-top: size_unit(1.5);
  span {
    display: flex;
  }

  label {
    color: $theme-text-color-light-grey;
    font-size: size_unit(2);
    font-weight: 500;
    line-height: size_unit(3);
    text-align: left;
    display: flex;
    align-items: center;
    gap: size_unit(1);
    width: 100%;
  }

  @media (max-width: $breakpoint-popup) {
    margin-top: 0;
  }
}

.iconWrapper {
  cursor: pointer;
  display: flex;
}

.icon {
  color: var(--text-color-secondary);
  font-size: 19px;
  &:hover {
    color: var(--text-color-primary);
  }
}

.balance {
  display: flex;
  align-items: baseline;
  gap: size_unit(1);
  line-height: 70px;

  .codeTextLarge,
  .codeTextMedium {
    color: var(--text-color-secondary);
    font-weight: 700;
    text-align: left;
    margin: 0;
  }

  .codeTextLarge {
    font-size: var(--subHeading);
    line-height: size_unit(4);
    font-weight: 700;
  }

  .codeTextMedium {
    font-size: var(--bodyLarge);
    line-height: size_unit(4);
  }

  .balanceTextLarge,
  .balanceTextMedium,
  .balanceTextLargePopup .balanceTextMediumPopup {
    color: $theme-text-color-black;
    font-weight: 600;
    text-align: left;
    margin: 0;
  }

  .balanceTextLarge {
    font-size: var(--display);
    @media (max-width: $breakpoint-popup) {
      font-size: var(--pageHeading);
      line-height: size_unit(7);
    }
  }

  .balanceTextMedium {
    font-size: var(--pageHeading);
    line-height: size_unit(7);
  }
}

.variationTextLarge,
.variationTextMedium {
  font-weight: 600;
  text-align: left;
  color: $theme-text-color-light-grey;
  margin: 0;
}

.variationTextLarge {
  font-size: var(--subHeading);
  line-height: size_unit(5);
}

.variationTextMedium {
  font-size: var(--bodyLarge);
  line-height: size_unit(3);
}

.positive {
  color: var(--text-color-green, #2cb67d);
}

.negative {
  color: var(--text-color-red, #ff5470);
}

.neutral {
  color: var(--text-color-secondary) !important;
}

.popupView {
  &.titleContainer {
    margin-bottom: size_unit(0.5);
  }

  &.balance {
    .balanceTextLarge {
      font-size: var(--pageHeading);
      line-height: size_unit(7);
      font-weight: 700;
    }
    .balanceTextXLarge {
      font-size: var(--display);
      line-height: size_unit(8);
      font-weight: 700;
      margin-bottom: -#{size_unit(1)};
    }

    .balanceTextMedium {
      font-size: var(--heading);
      line-height: size_unit(5);
    }

    .codeTextLarge {
      font-size: var(--bodyLarge);
      line-height: size_unit(4);
      font-weight: 700;
    }

    .codeTextMedium {
      font-size: var(--body);
      line-height: size_unit(3);
      font-weight: 700;
    }
  }

  &.variationTextLarge {
    font-size: size_unit(2);
    line-height: size_unit(3);
  }

  &.variationTextMedium {
    font-size: size_unit(2);
    line-height: size_unit(3);
    margin-top: 0;
  }
}

.warningBanner {
  margin: size_unit(3) 0 -#{size_unit(3)} 0;
}
