[data-theme='dark'] {
  .container {
    background-color: #2e2e2e;
  }
}

.container {
  width: 840px;
  height: 584px;
}

.timeline {
  margin-left: 22px !important;
  margin-top: 48px !important;

  li {
    width: max-content;
  }
}
