@import '../../../../../common/src/ui/styles/abstracts/typography';

.confirmationBanner {
  position: fixed;
  padding: 0 size_unit(2);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: var(--primary-default, #7E5BF0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.confirmationBannerMessage {
  @include text-body-bold;
  color: var(--text-color-white, #ffffff);
}

.buttons {
  display: flex;
  gap: size_unit(1);
}

.secondaryButton {
  background: var(--text-color-white, #ffffff) !important;
  color:var(--primary-default, #7f5af0) !important;
  &:hover {
    color: #3D3B39 !important;
  }
}
