@import '../../styles/theme.scss';

.mnemonicWordsWritedown {
  flex-wrap: wrap;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 174px 174px;
  row-gap: size_unit(2);
  column-gap: size_unit(3);
}

.word {
  width: 100%;
  text-align: left;
  cursor: not-allowed;
}

.fourColumnViewContainer {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $breakpoint-popup) {
    padding-top: size_unit(4);
  }
}

.fourColumnWordContainer {
  flex: 1 0 calc(25% - #{size_unit(2.25)});
  justify-content: start !important;
  gap: size_unit(0.75) !important;
  margin: size_unit(2) size_unit(2) 0 0;
}

.blur {
  filter: blur(size_unit(0.5));
}

.fourColumnWord {
  margin: auto 0;
}
