@import '../../styles/theme.scss';

.mnemonicWordsConfirm {
  flex-wrap: wrap;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 190px 190px;
  row-gap: size_unit(2);
  column-gap: size_unit(3);

  input {
    border: none;
    background: transparent;
    outline: none;
  }
}
