@import '../../styles/theme.scss';

.socialLink {
  width: 100%;
  background: var(--light-mode-light-grey, var(--dark-mode-grey));
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: size_unit(2) size_unit(3) size_unit(2) size_unit(2);

  outline: none;
  font-weight: 600;
  font-size: var(--body);
  line-height: size_unit(3);
  color: var(--text-color-primary);

  &:hover {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-mid-grey));
  }

  &:active,
  &:focus {
    background: var(--light-mode-light-grey, var(--dark-mode-dark-grey));
  }

  .logo {
    width: size_unit(6);
    height: size_unit(6);
    border-radius: 100px;
    background: var(--light-mode-black, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--subHeading);
    color: var(--bg-color-body, #ffffff);
  }

  .content {
    display: flex;
    align-items: center;
    gap: size_unit(2);
  }

  .arrow {
    color: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
  }
}
