@import '../../styles/theme.scss';

%textCommonStyles {
  font-size: var(--body) !important;
  font-weight: 400 !important;
  line-height: size_unit(3) !important;
}

.walletSetupPasswordStep {
  display: flex;
  flex-direction: column;
  gap: size_unit(3);
  margin-top: size_unit(2);

  p {
    font-size: var(--bodyXS);
    color: var(--text-color-secondary);
  }

  .error {
    font-size: var(--bodyXS);
    line-height: size_unit(1);
    color: var(--data-pink);
    position: absolute;
    top: size_unit(9);
    left: size_unit(3);
  }
}

.formError {
  color: var(--data-red);
  margin-top: size_unit(2);
}

.subtitle {
  font-size: var(--body);
  line-height: size_unit(3);
  color: var(--text-color-primary);
  margin-bottom: size_unit(9);
}

.input {
  width: 100% !important;
  max-width: none !important;

  :global(.ant-input-suffix) {
    margin-left: size_unit(2);
  }
}
