@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';
$btn-gradient-border: 2px solid transparent;
$btn-gradient-bg: var(--light-mode-light-grey, var(--dark-mode-mid-grey));
$btn-gradient-bg-hover: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));

.hdWalletsWrapper {
  display: flex;
  flex-direction: column;
  gap: size_unit(2);
  margin-bottom: size_unit(9);
  margin-top: size_unit(8);
}

.hdWallets {
  align-items: center;
  display: flex;
  gap: size_unit(2);
  justify-content: center;
  width: 100%;

  .hdWallet {
    flex: 1;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-mode-light-grey, var(--dark-mode-grey));
    box-sizing: border-box;
    border-radius: size_unit(2);
    cursor: pointer;
    padding: 0;
    border: none;

    &:hover {
      background: var(--light-mode-light-grey-plus-56, var(--dark-mode-mid-grey));
    }

    &Active {
      background-color: $btn-gradient-bg;
      background: linear-gradient($btn-gradient-bg, $btn-gradient-bg) padding-box, var(--lace-gradient) border-box;
      border: $btn-gradient-border;
      &:hover {
        background-color: $btn-gradient-bg-hover;
        background: linear-gradient($btn-gradient-bg-hover, $btn-gradient-bg-hover) padding-box, var(--lace-gradient) border-box;
        border: $btn-gradient-border;
      }
    }
  }
}

.subTitle {
  @include text-body-regular;
  color: var(--text-color-primary) !important;
}

.text {
  @include text-bodySmall-medium;
  color: var(--text-color-secondary) !important;
}

.logo {
  font-size: 100px;
  color: var(--text-color-primary) !important;
}
