@import '../../styles/theme.scss';

.walletSetupModeStep {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: size_unit(28);

    .walletSetupModeText {
        font-weight: 400;
        font-size: var(--body);
        line-height: size_unit(3);
        color: var(--text-color-primary);
        margin: 1;
        text-align: left;

        &.title {
            font-weight: 600;
        }
    }

    .walletSetupModeOption {
        gap: var(--btn-gap, 20px) !important;
        border-radius: var(--btn-border-radius, 8px) !important;      
        justify-content: start !important;    
    }
}


.fullHeight {
    height: 100%;
}