@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';
@import "shared.scss";

.walletSetupOption {
  flex: 1;
  text-align: center;
  padding: size_unit(2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .title {
    @include text-body-semi-bold;
    color: var(--text-color-primary);
    margin: 0;
  }
  .description {
    @include text-bodySmall-medium;
    color: var(--text-color-secondary);
    margin-bottom: size_unit(3);
    white-space: pre-line;
  }
  .icon {
    margin-bottom: size_unit(3);
    font-size: var(--subHeading);
    transform: scale(1.2);
  }
}

.ContainerWordsConfirm {
  margin-top: size_unit(2) !important;
}

.link {
  color: var(--data-blue);
  cursor: pointer;
}

.button {
  width: 160px;
}

.errorMessage {
  @include text-bodyXs-semi-bold;
  margin-top: size_unit(2) !important;
  color: var(--color-pink, #ff5470);
}

.videoContainer {
  position: relative;
  height: 272px;
  border-radius: 16px;
  border: 1px solid #efefef;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: none;
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  top: 0;
  left: 0;
  opacity: 0;
}

.btnContentWrapper {
  @extend .btnContentWrapper;
}
