@import '../../styles/theme.scss';

.options {
  display: flex;
  flex-direction: column;
  gap: size_unit(2);
  .flex {
    display: flex;
    gap: size_unit(1);
  }
  p {
    font-weight: 400;
    font-size: var(--body);
    line-height: size_unit(3);
    color: var(--text-color-primary);
  }
}

.link {
  color: var(--data-blue);
  cursor: pointer;
}

.description {
  font-size: var(--body) !important;
  line-height: size_unit(3) !important;
  color: var(--text-color-primary, #3d3b39);
  margin-bottom: size_unit(4) !important;
  margin-top: size_unit(0.25) !important;
}
