@import '../../styles/theme.scss';

.walletSetupSelectAccountsStep {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: size_unit(1.25);

  .account {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: size_unit(2);
    color: var(--text-color-primary);
    font-weight: 400;
    font-size: var(--body, 16px);
    line-height: size_unit(3);
    cursor: pointer;
    :global {
      .ant-radio-inner {
        width: 19px !important;
        height: 19px !important;
        background-color: var(--bg-color-body) !important;
        border-color: var(--light-mode-dark-grey, var(--dark-mode-light-grey)) !important;
        border-width: 2px !important;
      }
      .ant-radio-checked .ant-radio-inner {
        border-color: var(--primary-default) !important;
        background-color: var(--bg-color-container) !important;
        border-width: 5px !important;
        &::after {
          display: none;
        }
      }
      .ant-radio-inner::after {
        background-color: var(--bg-color-body) !important;
      }
      .ant-radio:hover {
        .ant-radio-inner {
          border-color: var(--light-mode-dark-grey, var(--dark-mode-light-grey)) !important;
          background-color: var(--dark-mode-grey, --bg-color-body) !important;
        }
        &.ant-radio-checked .ant-radio-inner {
          background-color: var(--dark-mode-grey, --bg-color-body) !important;
          border-color: var(--primary-default) !important;
        }
      }
      .ant-radio-input:focus + .ant-radio-inner {
        box-shadow: none !important;
      }
    }
  }
  .account p {
    color: var(--text-color-primary);
  }
}
.subtitle {
  font-size: var(--body, 16px) !important;
  line-height: size_unit(3) !important;
  color: var(--text-color-primary) !important;
  margin-bottom: size_unit(3);
}

.footerText {
  color: var(--text-color-secondary) !important;
  font-weight: 400;
  font-size: var(--bodySmall);
  line-height: size_unit(3);
  margin-bottom: size_unit(5);
}
