@import '../../styles/theme.scss';

.walletSetupFinalStep {
  display: flex;
  flex-direction: column;
  gap: size_unit(2);

  p {
    font-size: var(--body);
    line-height: size_unit(3);
    color: var(--text-color-primary);
  }
}

@keyframes rotating {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.walletCreationStep {
  align-items: center;
  height: 100%;
  justify-content: center;
}

.loader {
  animation: rotating 2s linear infinite;
  height: 126px;
  width: 126px;
}
