@import '../../../../../../../packages/common/src/ui/styles/theme.scss';

$container-width: 840px;

.modal {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  :global(.ant-modal-content) {
    background-color: var(--bg-color-container);
    box-shadow: var(--shadow-setup-box, none);
    border-radius: size_unit(2);
    max-width: $container-width;
    max-height: 584px;
    width: 100%;
    height: 100%;
  }
  :global(.ant-modal-body) {
    padding: 0;
    height: 584px;
  }
  :global(.ant-modal-close-x) {
    display: none;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $container-width;

  .content {
    background-color: var(--bg-color-container-9);
    box-shadow: var(--shadow-setup-box, none);
    border-radius: size_unit(2);
    max-width: $container-width;
    max-height: 584px;
    width: 100%;
    height: 100%;
  }
}
