@import '../../../../../../../packages/common/src/ui/styles/theme.scss';

@mixin concealable-menu-label($display) {
  .concealableMenuLabel {
    display: $display !important;
  }
}

.menuContainer {
  pointer-events: auto;
  padding-left: 12px;
  @include concealable-menu-label(none);

  &:hover {
    @include concealable-menu-label(block);
  }

  @media (min-width: $breakpoint-xsmall) {
    padding-left: 0;
    @include concealable-menu-label(block);
  }
}

:global {
  ul.ant-menu-inline {
    border: none !important;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: transparent !important;
  }
}

.icon {
  flex-shrink: 0;
  color: var(--dark-mode-light-grey, var(--text-color-primary, #3d3b39));
  font-size: 18.5px !important;

  &.tokensLinkIcon {
    font-size: var(--body, 16px) !important;
  }
}
