@import '../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../src/styles/rules/flex.scss';

.actions {
  display: flex;
  gap: size_unit(1);
  justify-content: space-evenly;
  flex-direction: column;
}

.spaceBetween {
  justify-content: space-between;
  padding-top: size_unit(2);
}

.transactionContainer { 
  display: flex;
  flex-direction: column;
  flex: 1;
}

.actions {
  background-color: var(--bg-color-body);
  @extend %flex-column;
  justify-content: center;
  padding: size_unit(2) size_unit(3) size_unit(2) size_unit(3);
  border-top: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  position: sticky;
  bottom: 0;
  .actionBtn {
    width: 100%;
  }
}
