@import '../../styles/theme.scss';

:global(.ant-list-split) :local(.listItemWrapper) {
  border-bottom: none !important;
  padding-top: 0px;
  padding-bottom: 0;
  :last-child {
    padding-bottom: 0px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.header {
  color: var(--text-color-secondary);
  display: flex;
  display: grid;
  font-size: var(--body);
  font-weight: 500;
  gap: 3%;
  grid-template-columns: 35% 62%;
  letter-spacing: -0.015em;
  line-height: size_unit(3);
  margin-bottom: size_unit(1);
  padding: 0px size_unit(2);
}

.skeleton {
  padding: size_unit(1) size_unit(2);
  &.popupView {
    padding: size_unit(2) size_unit(1);
  }
}
