@import '../../../../../common/src/ui/styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.root {
  @include light-grey-border;
  border: 2px solid var(--dark-mode-mid-black, var(--light-mode-light-grey-plus));
  background: var(--dark-mode-dark-grey-plus);
  display: flex;
  padding: size_unit(2);
  border-radius: size_unit(2);
  position: relative;

  @media (min-width: $breakpoint-minimum) {
    padding: size_unit(3);
  }

  & + & {
    margin-top: size_unit(4);
  }

  .copyButton {
    color: var(--dark-mode-mid-grey, var(--light-mode-light-grey));
    cursor: pointer;
    margin-left: auto;
    opacity: 0;
  }

  &:hover {
    background: var(--dark-mode-mid-grey, var(--light-mode-light-grey));

    .copyButton {
      opacity: 1;
    }
  }
}

.highlighted {
  border-radius: size_unit(2);
  border: 2px solid var(--lace-pink);
  box-shadow: 0 0 20px 0 var(--lace-pink-shadow);
}

.qrCodeContainer {
  @include flex-center;
  margin-right: size_unit(2.5);
  box-shadow: 100px 100px 100px 100px var(--bg-color-container, #ffffff) inset;
  border: 2px solid transparent;
  background: var(--primary-gradient, linear-gradient(94.22deg, #ff92e1 -18.3%, #fdc300 118.89%)) border-box;
  border-radius: size_unit(1.5);

  @media (min-width: $breakpoint-minimum) {
    margin-right: size_unit(4);
    padding: size_unit(1.5);
  }
}

.infoContainer {
  flex: 1;
  overflow: hidden;

  .name {
    margin: 0;
    margin-left: size_unit(1);
    margin-bottom: size_unit(1);
    line-height: size_unit(3);
    font-size: $font-size-body;
    font-weight: $font-weight-bold;
    color: var(--text-color-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (min-width: $breakpoint-minimum) {
      font-size: $font-size-bodyLarge;
    }
  }

  .address {
    margin: 0;
    margin-left: size_unit(1);
    font-size: $font-size-bodySmall;
    font-weight: $font-weight-semi-bold;
    line-height: size_unit(3);
    line-break: anywhere;
    color: var(--light-mode-dark-grey, --text-color-primary);
  }

  .tag {
    background-color: var(--color-white);
    border-radius: size_unit(3);
    font-size: 14px;
    width: fit-content;
    padding: size_unit(0.5) size_unit(1) size_unit(0.5) size_unit(1);
    gap: size_unit(1);
  }
}

.moreIcon {
  transform: rotate(90deg);
  background-color: var(--data-orange);
  border-radius: size_unit(3);
  padding: size_unit(0.75);
  fill: var(--color-white);
}

.copyIcon {
  color: var(--text-color-secondary);
}

.customRender {
  text-align: center;
  padding: size_unit(1);
  background-color: #ffffff;
  border-radius: size_unit(1);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

  :global(.ant-dropdown-menu) {
    background-color: none !important;
    box-shadow: none !important;
  }
}
