@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.errorParagraph {
  color: var(--data-red);
  font-size: var(--bodyXS);
  font-style: normal;
  font-weight: 400;
  line-height: size_unit(2);
  letter-spacing: 0.02em;
  text-align: left;
}

.coinInputContainer {
  flex: 1;
}
