@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.costsContainer {
  display: flex;
  flex-direction: column;
  gap: size_unit(3);
  border-top: none;
  padding-top: size_unit(1);

  .titleContainer {
    color: var(--text-color-primary);

    .title {
      @include text-subHeading-bold;
      margin: 0;
      padding: 0;
      text-align: left;
      color: var(--text-color-primary);
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;

      @media (max-width: $breakpoint-popup) {
        @include text-bodyLarge-bold;
      }
    }
  }

  @media (max-width: $breakpoint-popup) {
    border-top: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey, #333333));
    padding-top: size_unit(4);
  }
}

.actionsBtnContainer {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: size_unit(2);

  button.actionBtn {
    flex: 1;
    font-size: var(--body, 16px);
    font-weight: 600;
    line-height: size_unit(3);
    letter-spacing: -0.015em;
    text-align: center;
    color: var(--text-color-black);
    height: size_unit(6);
    border: 1.5px solid var(--data-light-grey-plus);
    border-radius: 12px;
    transition: 0.2s ease;

    &:hover {
      background: var(--light-mode-light-grey);
    }

    &:disabled {
      background-color: var(--color-white, #ffffff);
      opacity: 0.3;
    }

    .bundleIcon {
      font-size: var(--body, 16px);
    }
  }

  .message {
    color: var(--text-color-secondary);
    @include text-body-medium;
    text-align: center;
  }
}
