@import '../../styles/theme.scss';

.menu {
  border-radius: size_unit(2);
  border: 1px solid var(--light-mode-dark-grey);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px 0px 10px rgba(0, 0, 0, 0.05) !important;
  width: 167px;
  padding: 0px !important;
  &:global(.ant-menu) {
    background: var(--color-white, #ffffff) !important;
  }

  .menuItem {
    align-items: center;
    color: var(--text-color-black);
    display: flex;
    font-size: var(--body);
    height: size_unit(8) !important;
    letter-spacing: -0.015em;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding: 0px size_unit(4) !important;
    :global(.ant-dropdown-menu-title-content) {
      align-items: center;
      display: flex;
    }

    &:hover {
      color: var(--text-color-black) !important;
      font-weight: 600;
    }
  }

  .menuIcon {
    font-size: var(--bodySmall);
    margin-right: 12px;
  }
}
