@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/theme.scss';

.card {
  background: var(--bg-color-container);
  border-radius: 16px;
  border: 2px solid var(--light-mode-light-grey-plus, var(--dark-mode-mide-black));
  display: flex;
  flex-direction: column;
  padding: size_unit(3) size_unit(4);
  width: 100%;

  @media (max-width: $breakpoint-small) {
    padding: size_unit(3);
  }
}

.title {
  color: var(--text-color-primary);
  font-size: var(--subHeading);
  line-height: size_unit(4);
  font-weight: 600;
  padding-bottom: size_unit(3);
}

.body {
  gap: size_unit(3);
  display: flex;
  flex-direction: column;
  .stats {
    &:first-child {
      padding-top: 0px;
    }
  }
}

.stats {
  align-items: center;
  display: flex;

  .label {
    display: flex;
    flex: 1 0 auto;
    color: var(--text-color-secondary);
    font-size: var(--bodyLarge);
    font-weight: 400;
    line-height: size_unit(3);
    white-space: nowrap;
  }
  .value {
    justify-content: flex-end;
    color: var(--text-color-primary);
    display: flex;
    flex: 1 1 50%;
    font-size: var(--body);
    font-weight: 500;
    line-height: size_unit(4);
    text-align: right;
    .suffix {
      color: var(--text-color-primary);
      font-weight: normal;
      margin-left: 4px;
    }
  }
}
