@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header {
  .title {
    align-items: center;
    color: var(--text-color-black);
    display: flex;
    font-size: var(--heading);
    font-weight: bold;
    line-height: size_unit(4);
  }
  .subTitle {
    color: var(--text-color-secondary);
    font-size: var(--bodyLarge);
    font-weight: 600;
    line-height: size_unit(3);
    margin-top: size_unit(2);
  }
}

.password {
  display: flex;
  justify-content: center;
}

.footer {
  .confirmBtn {
    width: 100%;
  }
}

.footerFail {
  display: flex;
  gap: size_unit(2);
  justify-content: space-between;
  flex-direction: column-reverse;
}

.popupView {
  &.container {
    .header {
      padding-left: size_unit(3);
      padding-right: size_unit(3);
      .title {
        font-weight: 700;
        font-size: var(-subHeading);
        line-height: size_unit(4);
      }
      .subTitle {
        font-size: var(--body);
        margin-top: size_unit(2);
      }
    }
    img {
      max-width: initial;
      max-height: initial;
    }
    &.fail {
      img {
        width: 100px;
        max-width: initial;
      }
    }
    .footer,
    .footerFail {
      box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
      padding: size_unit(2) size_unit(3) 0px size_unit(3);
    }
  }
}

.containerFail {
  display: flex;
  align-items: center;
  height: 80%;
  justify-content: center;
}
