@import '../../../../../../../packages/common/src/ui/styles/theme.scss';

.loaderContainer {
  @include flex-center;
  flex-direction: column;
  height: 100%;
  gap: size_unit(2);

  .loaderText {
    color: var(--text-color-primary);
  }
}

.loader {
  margin-left: 126px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-mode-black, #3d3b39);
  opacity: 0.88;
  z-index: 2000; // antd dropdown has a z-index of 1050

  .loaderText {
    color: $theme-light-grey-border;
  }
}
