@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';

.stat {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .title {
    color: var(--text-color-secondary);
    font-size: var(--body);
    font-weight: normal;
    line-height: size_unit(3);
  }
  .value {
    color: var(--text-color-primary);
    font-size: var(--bodyLarge);
    font-weight: bold;
    line-height: size_unit(4);
    text-align: left;
  }

  &.popupView {
    flex: 1;
    padding-left: size_unit(3);
  }
}

.tooltipWrapper {
  display: flex;
  align-items: baseline;
}
