@import '../../styles/index.scss';

.textAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--bodySmall);
  font-weight: 500;
  color: var(--color-cyan);
  background: #f5f5f5;
  border-radius: 100%;
  width: size_unit(5);
  height: size_unit(5);
  margin: size_unit(1);
}
.big {
  width: size_unit(7);
  height: size_unit(7);
  margin: 0;
}
