@import '../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../packages/common/src/ui/styles/abstracts/typography.scss';

$header-height: size_unit(11);
$padding: 70px;
$container-width: 840px;

.walletSetupLayout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 70px;
  margin: auto;
  min-width: 980px;
  max-width: 1680px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $container-width;

    .content {
      background-color: var(--bg-color-container-9);
      box-shadow: var(--shadow-setup-box, none);
      border-radius: size_unit(2);
      max-width: $container-width;
      max-height: 700px;
      width: 100%;
      height: 100%;
    }
  }

  .support {
    font-style: normal;
    font-weight: 500;
    font-size: var(--bodySmall);
    line-height: 16px;
    color: var(--text-color-white, #ffffff);
    padding: size_unit(2) size_unit(3);
    border-radius: 16px;
    text-decoration: none;
    background: #1f2937;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0;
  }

  .legalButtonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: size_unit(2);
    min-width: $container-width;
    padding: 40px 0 24px 0;
    a {
      @include text-bodySmall-bold;
      color: var(--light-mode-mid-grey);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: $header-height;
  min-width: $container-width;

  button.helpSupport {
    font-size: var(--body);
    font-weight: 600;
    text-align: center;
    background: var(--primary-gradient) border-box;
    box-shadow: var(--shadow-inset-white);
    color: var(--text-color-primary);
    border-radius: size_unit(2);
    border: 2px solid transparent;
    height: size_unit(6);
    padding: 0 size_unit(8.75) 0 size_unit(4);
    display: flex;
    align-items: center;
    gap: size_unit(0.5);

    &:active,
    &:hover {
      box-shadow: var(--shadow-inset-white), 0px 4px 10px rgba(167, 143, 160, 0.2);
    }
    &:focus {
      box-shadow: var(--shadow-inset-lgray);
    }
    &:disabled {
      border: 2px solid var(--light-mode-dark-grey);
    }
  }
}
