@import '../../../styles/theme.scss';
@import '../../../styles/abstracts/typography';

%areaCommonStyles {
  color: var(--text-color-grey, #6b7280) !important;
  font-size: var(--body) !important;
  font-weight: 500 !important;
}

.wrapper {
  position: relative;
  min-height: 64px !important;
}

.textArea {
  @include text-bodyLarge-medium;
  align-items: center;
  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
  border-radius: size_unit(2) !important;
  box-shadow: none !important;
  color: var(--text-color-primary) !important;
  display: flex;
  overflow: hidden;
  padding: 0 size_unit(3) size_unit(1) size_unit(3) !important;
  border: 2px solid transparent !important;
  position: relative;
  &:hover {
    border: 2px solid var(--light-mode-light-grey-plus, var(--dark-mode-grey, #383838)) !important;
  }

  &.withLabel {
    padding-top: size_unit(3) !important;
  }

  &.invalid {
    .label {
      color: var(--data-red);
    }
  }
  &.isResizable {
    resize: vertical;
  }

  & ::placeholder {
    @include text-bodyLarge-medium;
    color: var(--text-color-secondary) !important;
  }
}

.label {
  color: var(--text-color-secondary);
  font-size: var(--bodyLarge);
  font-weight: 500;
  left: size_unit(3.375);
  line-height: size_unit(3);
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  z-index: 1;
  &.focused {
    font-size: var(--bodyXS);
    line-height: size_unit(2);
    transform: translateY(0);
    top: 10px;
  }
}
