@import '../../../../../common/src/ui/styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.root {
  @include light-grey-border;
  border: 2px solid var(--dark-mode-mid-black, var(--light-mode-light-grey-plus));
  background: var(--dark-mode-dark-grey-plus);
  display: flex;
  padding: size_unit(2);
  border-radius: size_unit(2);
  position: relative;

  @media (min-width: $breakpoint-minimum) {
    padding: size_unit(3);
  }

  & + & {
    margin-top: size_unit(4);
  }

  &:hover {
    background: var(--dark-mode-mid-grey, var(--light-mode-light-grey));

    .copyButtonContainer {
      .copyButton {
        opacity: 1;
      }
    }
  }

  .copyButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: size_unit(2.5);
    right: size_unit(2.5);

    @media (min-width: $breakpoint-minimum) {
      top: size_unit(3.5);
      right: size_unit(3.5);
    }

    .copyButton {
      color: var(--light-mode-black, #fff);
      cursor: pointer;
      width: size_unit(3);
      height: size_unit(3);
      opacity: 0;
    }
  }
}
