@import '../../../../../common/src/ui/styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';

.imageContainer {
  @include flex-center;
  width: size_unit(13.5);
  height: size_unit(13.5);
  min-height: size_unit(13.5);
  min-width: size_unit(13.5);
  margin-right: size_unit(2.5);
  position: relative;

  @media (min-width: $breakpoint-minimum) {
    width: size_unit(20);
    height: size_unit(20);
    margin-right: size_unit(4);
  }

  .image {
    border-radius: size_unit(1.5);
  }

  .profile {
    position: absolute;
    top: size_unit(1.0);
    left: 50%;
    transform: translateX(-50%);
    filter: invert(1);
    width: size_unit(4);
    height: size_unit(4);

    @media (min-width: $breakpoint-minimum) {
      top: size_unit(1.5);
      width: size_unit(6);
      height: size_unit(6);
    }
  }
}

.symbol {
  height: size_unit(2.5);
  width: size_unit(2.5);

  @media (min-width: $breakpoint-minimum) {
    height: size_unit(4);
    width: size_unit(4);
  }
}

.pillContainer {
  align-items: center;
  display: flex;
  flex: 1;
  margin-right: size_unit(2.5);

  @media (min-width: $breakpoint-minimum) {
    margin-right: size_unit(4);
  }

  .pill {
    display: inline-flex;
    color: var(--text-color-primary);
    flex-direction: row;
    align-items: center;
    padding: size_unit(1) size_unit(2) size_unit(1) size_unit(1);
    gap: size_unit(1);
    background: var(--light-mode-light-grey, var(--dark-mode-grey));
    border-radius: size_unit(12.5);
  }

  .name {
    max-width: size_unit(11.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (min-width: $breakpoint-minimum) {
      max-width: unset;
    }
  }
}
