@import '../../styles/theme.scss';
@import '../../styles/abstracts/typography';

.sideTimeline {
  margin: size_unit(7) 0 size_unit(7) size_unit(5) !important;

  :global {
    .ant-timeline-item {
      height: 130px;
    }
    .ant-timeline-item-content {
      @include text-bodySmall-medium;
      color: var(--text-color-primary);
      margin-left: 17px;
    }
    .ant-timeline-item-head {
      width: size_unit(2.5);
      height: size_unit(2.5);
      background: transparent;
    }
    .ant-timeline-item-tail {
      left: 0;
      border-left: 2px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
    }
  }
}

.dot {
  width: size_unit(1.5);
  height: size_unit(1.5);
  border-radius: 50%;
}

.activeDot {
  @extend .dot;
  border: 2px solid transparent;
  background-image: var(--primary-gradient);
}

.inactiveDot {
  @extend .dot;
  border: 2px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  background-color: var(--light-mode-light-grey-plus, var(--dark-mode-light-grey));
}
