@import '../../../styles/theme.scss';
@import '../../../../../../common/src/ui/styles/abstracts/typography';

%textCommonStyles {
  font-size: var(--body) !important;
  font-weight: 400 !important;
  line-height: size_unit(3) !important;
}



.walletSetupNamePasswordStep {
  display: flex;
  flex-direction: column;
  margin-top: size_unit(2);
  gap: 24px;

  * {
    margin: 0;
  }

  p {
    font-size: var(--bodyXS);
    color: var(--text-color-secondary);
  }

  .label {
    @include text-bodySmall-medium;
    font-size: var(--bodyXS);
    line-height: size_unit(2);
    color: var(--text-color-secondary);
    &.error {
      color: var(--data-pink) !important;
    }
  }

  .paddingLeft {
    padding-left: 24px;
  }
}

.inputName:global(.ant-input) {
  display: flex;
  align-items: center;
  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
  border-radius: 16px !important;
  box-shadow: none !important;
  border: none !important;
  height: size_unit(8) !important;
  padding-left: size_unit(4) !important;
  padding-right: size_unit(4) !important;
  font-size: var(--body) !important;
  position: relative;
  &::placeholder {
    @extend %textCommonStyles;
    color: var(--text-color-secondary) !important;
  }
}

.inputName:global(.ant-input-password > input[type='password']) {
  font-size: var(--heading) !important;
  letter-spacing: size_unit(1) !important;
  color: var(--text-color-primary, var(--text-color-primary)) !important;
  transition: none !important;
}

input::placeholder {
  color: var(--text-color-secondary) !important;
}

.formError {
  color: var(--data-pink);
  margin-top: size_unit(0.5);
  margin-left: size_unit(3);
}

.subtitle {
  font-size: var(--body);
  line-height: size_unit(3);
  color: var(--text-color-primary);
  margin-bottom: size_unit(9);
}

.formError {
  color: var(--data-red);
  margin-top: size_unit(2);
}

.subtitle {
  font-size: var(--body);
  line-height: size_unit(3);
  color: var(--text-color-primary);
  margin-bottom: size_unit(9);
}

.input {
  width: 100% !important;
  max-width: none !important;

  :global(.ant-input-suffix) {
    margin-left: size_unit(2);
  }
}

