@import '../../styles/theme.scss';
@import '../../../../../common/src/ui/styles/abstracts/typography';
@import '../../../../../common/src/ui/styles/theme.scss';

.assetInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 66px;
  height: 66px;

  @media (max-width: $breakpoint-popup) {
    max-height: 60px;
  }
}

.assetConfigRow,
.assetBalancesRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.assetError {
  text-align: right;
}

.assetConfigRow {
  .input {
    text-align: right;
    color: var(--text-color-primary);
    @include text-subHeading-bold;
    padding: 0 !important;
    width: 30%;
    transition: none;

    &::placeholder {
      color: var(--text-color-primary);
      font-size: var(--subHeading, 25px) !important;
    }

    @media (max-width: $breakpoint-popup) {
      width: 60%;
    }
  }

  .ant-input:placeholder-shown {
    font-size: var(--subHeading, 25px) !important;
  }
}

.tickerContainer {
  text-align: left;
  display: flex;
  align-items: center;

  gap: size_unit(1);
  border-radius: var(--boder-md, 12px);
  padding: 0 size_unit(2);
  margin-left: -#{size_unit(2)};
  overflow: hidden;
  min-width: 100px;

  cursor: pointer;

  .ticker {
    @include text-subHeading-bold;
    color: var(--text-color-primary);
    padding: 0;
    margin: 0;

    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: $breakpoint-popup) {
      max-width: 150px;
    }
  }

  .icon {
    color: var(--text-color-primary);
    font-size: size_unit(2);
  }

  &:hover {
    background-color: var(--light-mode-light-grey-plus, var(--dark-mode-grey, #383838));
  }

  &:active {
    background-color: var(--light-mode-light-grey-plus-56, var(--dark-mode-mid-grey, #333333));
  }
}

.balanceText {
  margin: 0;
  flex: 1;
  @include text-body-medium;
  color: var(--text-color-secondary);

  @media (max-width: 365px) {
    @include text-bodySmall-medium;
    color: var(--text-color-secondary);
  }

  &:last-child {
    text-align: right;
  }
}

.invalidInput {
  margin-top: size_unit(1);
  color: var(--data-pink);
  font-size: var(--bodyXS);
  font-weight: 500;
  line-height: size_unit(2);
  text-align: right;
}

.amountContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: size_unit(3);
  max-width: 100%;
  overflow: hidden;
  &:hover {
    button.maxBtn {
      display: initial !important;
    }
  }
}

button.maxBtn.show {
  display: initial !important;
}

button.maxBtn {
  display: none !important;
  padding: 4px 11px !important;
  min-width: 48px !important;
  @include text-bodyXS-medium;
  min-height: 24px !important;
  max-height: 24px !important;

  background-color: var(--light-mode-light-grey-plus, var(--dark-mode-grey, #333333)) !important;
  color: var(--text-color-secondary) !important;

  &:hover {
    background-color: var(--light-mode-light-grey-plus, var(--dark-mode-grey, #333333)) !important;
    color: var(--text-color-primary) !important;
  }

  &:active {
    background-color: var(--light-mode-light-grey-plus, var(--dark-mode-grey, #333333)) !important;
    color: var(--text-color-secondary) !important;
  }
}
