@import '../../styles/colors.scss';

.iog-font--primary {
  color: $color-font-primary !important;
}

.iog-font--primary-purple {
  color: $color-font-primary-purple !important;
}

.iog-font--secondary {
  color: $color-font-secondary !important;
}

.iog-font--dark {
  color: $color-font-dark !important;
}

.iog-font--light {
  color: $color-font-light !important;
}

.iog-font--error {
  color: $color-font-error !important;
}

.iog-font--feedback {
  color: $color-font-feedback !important;
}

.iog-font--lilac {
  color: $color-font-primary-lilac !important;
}

.iog-font--black {
  color: $color-font-black !important;
}

.iog-font--secondary-purple {
  color: $color-font-secondary-purple !important;
}

.iog-font--heading {
  color: $color-font-heading !important;
}
