@import '../../styles/theme.scss';

.pinCodeContainer {
  display: flex;
  gap: size_unit(1);
  height: size_unit(6);
}

.pinCodeInput {
  width: size_unit(6);
  height: 100%;

  text-align: center;

  background: var(--color-white, #ffffff);
  border: 1px solid var(--light-mode-light-grey-plus);
  border-radius: 12px;
}

.pinCodePartPreview {
  width: size_unit(6);
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-white, #ffffff);
  border: 1px solid var(--light-mode-light-grey-plus);
  border-radius: 12px;

  .dot {
    width: size_unit(1);
    height: size_unit(1);
    border-radius: size_unit(1);
    background: var(--color-cyan, #2bf2c4);
  }
}
