@import '../../../../styles/theme.scss';
@import '../../../../../../../common/src/ui/styles/abstracts/typography';

.cbor {
  word-break: break-all;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.copyButton {
  color: var(--dark-mode-mid-grey, var(--light-mode-light-grey));
  cursor: pointer;
  font-size: 26px;
}
