@import '../../../../../common/src/ui/styles/theme';
@import '../../../../../common/src/ui/styles/abstracts/mixins';

.search {
  position: relative;
  :global {
    .ant-select {
      width: 100%;
      &.ant-select-focused {
        .ant-select-selector {
          box-shadow: none !important;
          border: 1.5px solid var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
        }
      }
      .ant-select-selector {
        align-items: center;
        background: var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
        border-radius: 16px !important;
        border: 1.5px solid var(--light-mode-light-grey, var(--dark-mode-dark-grey)) !important;
        display: flex;
        height: size_unit(8) !important;
        padding-left: size_unit(8) !important;
        padding-right: size_unit(3) !important;
        transition: none !important;

        &:hover {
          border: 1.5px solid var(--light-mode-light-grey-plus-56, var(--dark-mode-grey, #383838)) !important;
        }
      }
      .ant-select-selection-search {
        left: 0 !important;
        right: 0 !important;
      }
      .ant-select-selection-search-input {
        color: var(--text-color-primary) !important;
        height: size_unit(8) !important;
        padding-left: size_unit(8) !important;
        padding-right: size_unit(11) !important;
      }
      .ant-select-selection-item,
      .ant-select-selection-placeholder,
      input {
        color: var(--text-color-secondary) !important;
        font-size: var(--bodyLarge) !important;
        font-weight: 400 !important;
        line-height: size_unit(3) !important;
        width: 80%;
      }
    }
  }

  &.withSearchResults {
    :global {
      .ant-select {
        &.ant-select-focused {
          .ant-select-selector {
            background-color: var(--light-mode-light-grey, var(--dark-mode-mid-grey)) !important;
            border: 1px solid var(--light-grey-plus-56, var(--dark-mode-grey)) !important;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-bottom: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-dark-grey-plus)) !important;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05), 0px 0px 20px rgba(0, 0, 0, 0.05) !important;
          }
        }
      }
    }
  }

  &.withDropdown {
    :global {
      .ant-select {
        &.ant-select-focused {
          .ant-select-selector {
            background-color: var(--color-white, var(--dark-mode-mid-grey, #333333)) !important;
          }
        }
      }
    }
  }
}

.dropdown {
  background: var(--color-white, var(--dark-mode-mid-grey)) !important;
  top: size_unit(8) !important;
  border-radius: 0 !important;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.05), 0 6px 16px 0 rgba(0, 0, 0, 0.05), 0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
  :global {
    .rc-virtual-list {
      padding: size_unit(0.75) !important;
    }
    .ant-select-item {
      padding: size_unit(2) !important;
      background: var(--dark-mode-mid-grey, var(--color-white)) !important;
      border-radius: 11px !important;

      &:hover {
        background: var(--dark-mode-grey, var(--light-mode-light-grey)) !important;
      }
    }
  }
}

.name {
  align-items: center;
  display: flex;
  gap: size_unit(2);
  .image {
    border-radius: 50%;
    border: 1px solid var(--light-mode-light-grey-plus);
    height: size_unit(5);
    min-height: size_unit(5);
    min-width: size_unit(5);
    width: size_unit(5);
  }

  > div {
    min-width: 0;
    h6 {
      color: var(--text-color-primary);
      font-size: var(--body);
      font-weight: 600;
      line-height: size_unit(3);
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      display: block;
      color: var(--text-color-secondary) !important;
      font-size: var(--bodySmall);
      font-weight: 500;
      line-height: size_unit(3);
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.searchIcon {
  left: size_unit(3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: var(--subHeading);
}

.reset {
  position: absolute;
  right: size_unit(0.8);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconsContainer {
  display: flex;
  justify-content: flex-end;
  gap: size_unit(1);
}

.loaderContainer {
  display: flex;
  position: absolute;
  right: size_unit(0.8);
  top: 50%;
  transform: translate(-57px, -50%);
  z-index: 2;
}
.loader {
  @include spin-animation();
  font-size: 20px !important;
  color: var(--light-mode-mid-grey, var(--dark-mode-light-grey)) !important;
}
