@import '../../../../../common/src/ui/styles/abstracts/typography';

.contextMenuContainer {
  position: absolute;
  z-index: 20;
  background-color: var(--color-white, var(--dark-mode-bg-black, #ffffff));
  color: var(--text-color-primary);
  padding: size_unit(0.75) size_unit(0.5);
  border-radius: size_unit(1);
  width: 240px;
  border: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
}

.contextMenuItem {
  @include text-body-semi-bold;
  padding: size_unit(2) size_unit(1.5);
  border-radius: 8px;

  &:hover {
    background-color: var(--light-mode-light-grey, var(--dark-mode-mid-grey, #333333));
    cursor: pointer;
  }
}
