@import '../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.text {
  min-width: 100px;
  margin-left: 1em;
  margin-bottom: 0;
  font-size: var(--body);
  line-height: size_unit(3);
  display: flex;
  text-transform: capitalize;
  font-weight: $font-weight-semi-bold;
  align-items: center;
  color: var(--dark-mode-light-grey, var(--text-color-primary, #3d3b39));

  :global(.ant-menu-item-selected) & {
    font-weight: $font-weight-bold !important;
    color: var(--text-color-primary, #3d3b39) !important;
  }

  :global(.ant-menu-item-active) & {
    color: var(--text-color-primary, #3d3b39) !important;
  }
}
