@import '../../../../../../../packages/common/src/ui/styles/theme.scss';

@mixin concealable-menu-label($display) {
  .concealableMenuLabel {
    display: $display !important;
  }
}

@mixin buttonStyle {
  width: 100px;
  height: 40px;
  border-radius: size_unit(2);
  background-color: var(--primary-default, #7f5af0);
  color: var(--text-color-white, #ffffff);
  border: none;
  font-size: var(--body);
  font-weight: 500;

  &:hover {
    background-color: var(--primary-default, #7f5af0) !important;
    color: var(--text-color-white, #ffffff) !important;
  }
  &:focus {
    background-color: var(--primary-default, #7f5af0) !important;
    color: var(--text-color-white, #ffffff) !important;
  }
}

.menuContainer {
  pointer-events: auto;
  padding-left: 12px;
  @include concealable-menu-label(none);

  &:hover {
    @include concealable-menu-label(block);
  }

  @media (min-width: $breakpoint-xsmall) {
    padding-left: 0;
    @include concealable-menu-label(block);
  }
}

:global {
  ul.ant-menu-inline {
    border: none !important;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: transparent !important;
  }
}

.icon {
  flex-shrink: 0;
  color: var(--dark-mode-light-grey, var(--text-color-primary, #3d3b39));
  font-size: 18.5px !important;

  &.tokensLinkIcon {
    font-size: var(--body, 16px) !important;
  }
}

.tour {
  :global {
    .ant-tour-title {
      font-size: size_unit(2.5) !important;
      margin-bottom: 16px;
    }

    .ant-tour-description {
      font-size: 16px;
      margin-bottom: 16px;
    }

    .ant-tour-buttons {
      button {
        @include buttonStyle;
      }
    }

    .ant-tour-indicators .ant-tour-indicator-active {
      background: var(--primary-default, #7f5af0) !important;
    }
  }
}