@import '../../../ui/styles/theme.scss';

.dapp {
  align-items: center;
  display: flex;
  width: 100%;
}

.body {
  align-items: center;
  color: var(--text-color-grey, #6b7280);
  display: flex;
  flex: 1;
  font-size: var(--bodyXS);
  font-weight: normal;
  gap: 10%;
  line-height: 21px;
  min-width: 0;
  @media (max-width: $breakpoint-popup) {
    flex-direction: column;
    align-items: flex-start;
  }
  .name {
    color: var(--text-color-primary);
    display: flex;
    flex: 0 0 30%;
    font-size: var(--bodyLarge);
    font-weight: 600;
    letter-spacing: -0.015em;
    line-height: size_unit(3);
    min-width: 0;
    @media (max-width: $breakpoint-popup) {
      font-weight: 500;
      font-size: var(--body);
    }
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  .url {
    color: var(--text-color-secondary);
    display: flex;
    flex: 0 0 60%;
    font-size: var(--body);
    font-weight: 500;
    line-height: size_unit(3);
    min-width: 0;
    @media (max-width: $breakpoint-popup) {
      font-weight: 400;
      font-size: var(--bodySmall);
    }
    div {
      overflow: hidden;
      word-break: break-all;
      width: 100%;
    }
  }
}

.imageContainer {
  height: size_unit(6);
  min-height: size_unit(6);
  margin-right: size_unit(3);
  width: size_unit(6);
  min-width: size_unit(6);
  @media (max-width: $breakpoint-popup) {
    height: size_unit(5);
    min-height: size_unit(5);
    margin-right: size_unit(2);
    width: size_unit(5);
    min-width: size_unit(5);
  }
  .logo {
    align-items: center;
    background: var(--color-white, #ffffff);
    border-radius: 50%;
    border: 1px solid var(--light-mode-light-grey-plus);
    box-sizing: border-box;
    display: flex;
    height: size_unit(5);
    justify-content: center;
    width: size_unit(5);
    img {
      border-radius: 50%;
      @media (max-width: $breakpoint-popup) {
        width: size_unit(5) !important;
        height: size_unit(5) !important;
      }
    }
  }
}

.delete {
  font-size: var(--bodyLarge);
  color: var(--text-color-secondary) !important;
  margin-top: size_unit(0.5);
  &:hover {
    color: var(--text-color-primary) !important;
  }
  @media (max-width: $breakpoint-popup) {
    font-size: 24px;
  }
}
