@import '../../../../../packages/common/src/ui/styles/theme.scss';

.transactionHashBox {
  max-height: 128px;
  word-break: break-all;
  text-align: left;
  overflow: auto;
}

.button {
  width: 175px;
  max-width: 175px;
}

.icon {
  font-size: 16px;
}
