@import '../../styles/theme.scss';

.infoWalletContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .data {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: size_unit(2);
  }

  .qrCodeContainer {
    padding: size_unit(2);
    box-shadow: 100px 100px 100px 100px var(--bg-color-container, #ffffff) inset;
    border: 2px solid transparent;
    background: var(--primary-gradient, linear-gradient(94.22deg, #ff92e1 -18.3%, #fdc300 118.89%)) border-box;
    border-radius: 12px;
    margin-bottom: size_unit(3);
    display: flex;
    justify-content: center;
    align-items: center;

    .address {
      width: 100%;
      height: 100%;
    }

    > div {
      background-color: var(--bg-color-container, #ffffff);
      border-radius: 10px !important;
    }
  }

  .walletName {
    margin: 0;
    line-height: size_unit(4);
    text-align: center;
    color: var(--text-color-primary, #3d3b39);
  }

  .largeWalletName {
    font-size: var(--subHeading);
    font-weight: 600;
  }

  .smallWalletName {
    font-size: var(--bodyLarge);
    font-weight: 600;
  }

  .walletAddressBox {
    margin-top: size_unit(1);
    max-width: 350px;
    word-break: break-all;

    .walletAddress {
      font-weight: 400;
      line-height: size_unit(3);
      text-align: center;
      color: var(--text-color-secondary);
      margin: 0;
    }

    .smallWalletAddress {
      font-size: var(--bodySmall);
    }

    .largeWalletAddress {
      font-size: var(--body);
    }
  }

  button.copyBtn {
    min-width: 116px !important;
    margin: size_unit(3) auto 0;
    font-weight: 600 !important;
  }
}

@media screen and (max-width: 365px) {
  .infoWalletContainer {
    .qrCodeContainer {
      max-width: 204px;
      max-height: 204px;

      .address {
        width: 100%;
        height: 100%;
      }

      > div {
        background-color: var(--bg-color-container, #ffffff);
      }
    }

    .walletName {
      font-size: var(--bodyLarge);
    }

    .walletAddressBox {
      margin-top: size_unit(1);
      max-width: 360px;
      word-break: break-all;

      .walletAddress {
        font-size: var(--bodySmall);
        line-height: size_unit(2);
      }
    }
  }
}

.inlineCopy {
  position: relative;
  top: 5px;
  left: 5px;

  cursor: pointer;

  font-size: size_unit(3);
}
