@import '../../../../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../../../../packages/common/src/ui/styles/abstracts/typography.scss';

.iog-swiper-container {
  width: 100%;
  position: relative;

  .swiper:active {
    cursor: grab;
  }
}

.iog-swiper-container--horizontal {
  width: 100%;
}

// # Button Container
.iog-swiper-button-container {
  position: absolute;
  display: inline-flex;
  right: 0;
  top: -56px;

  &:not(.iog-swiper-button-container--horizontal) > .iog-button-icon:first-child {
    margin-right: 10px;
  }

  .swiper-button-disabled {
    opacity: 0.3;
  }
}

.iog-swiper-button-container--horizontal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: -1px;
  top: 0;
  width: 70px;
  z-index: 1;
  background: var(--bg-color-body);

  .iog-button-icon {
    height: 48px;
    width: 48px;
    background-color: var(--light-mode-light-grey, var(--dark-mode-grey));

    &:hover {
      background-color: var(--light-mode-mid-grey, var(--dark-mode-mid-grey));
    }

    path {
      stroke: var(--text-color-primary);
    }
  }
}

.iog-swiper-button-nav--horizontal--left {
  left: -1px;
  right: auto;
  justify-content: flex-start !important;
  z-index: 88 !important;
  background: var(--bg-color-body);
}
