@import '../../styles/theme.scss';
//styles to switch theme

.switch {
  &:global(.ant-switch) {
    background-color: var(--primary-default);
    background: var(--primary-default);
    height: size_unit(3);
  }
  &:global(.ant-switch-checked) {
    background-color: var(--primary-gradient);
    background: var(--primary-gradient);
    &:focus,
    &:focus:hover {
      box-shadow: none;
      outline: none;
    }
  }
  &:global(.ant-switch-checked .ant-switch-inner) {
    margin: 0 size_unit(3) 0 size_unit(0.5) !important;
  }

  :global {
    .ant-switch-handle::before {
      border-radius: size_unit(10) !important;
    }
    .ant-switch-inner {
      align-items: center;
      display: flex;
      font-size: 13px !important;
      padding-top: 0px !important;
    }
    .ant-switch-handle {
      height: size_unit(2.5) !important;
      width: size_unit(2.5) !important;
    }
    .ant-click-animating-node {
      box-shadow: none;
      outline: none;
    }
  }
  &:global(.ant-switch-checked .ant-switch-handle) {
    left: calc(100% - #{size_unit(2.25)} - 4px) !important;
  }
}
