@import '../../styles/theme.scss';

.navigationButton {
  @include flex-center;
  background-color: var(--dark-mode-dark-grey-plus, var(--light-mode-light-grey, #f9f9f9)) !important;
  border: none !important;
  color: var(--text-color-secondary) !important;
  width: size_unit(5);
  height: size_unit(5);

  &:hover {
    color: var(--text-color-primary) !important;
  }

  &:disabled {
    opacity: 0.24;
  }

  &:focus {
    transition: none;
  }
}

.backArrow {
  font-size: 17px !important;
}

.crossArrow {
  @media (max-width: $breakpoint-popup) {
    height: size_unit(1.5);
    width: size_unit(1.5);
  }
}
