.skeleton {
  display: flex;
  align-items: center;
  gap: size_unit(3);
  min-height: 64px;
  padding: size_unit(3) size_unit(3) 0 size_unit(1);

  .skeletonAvatar {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border-radius: 100px;
    height: size_unit(6);
    width: size_unit(6);
  }
  .skeletonTitle {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border-radius: 12px;
    height: 19px;
    flex: 1;
  }
}
