@import '../../../../styles/utils/functions.scss';
@import '../../../../../../../packages/common/src/ui/styles/abstracts/typography';

:root {
  :global(.ant-drawer-header) {
    border: none;
  }
}

.drawerHeaderTitle {
  display: flex;
  flex-direction: column;
  gap: size_unit(2);
  .title {
    @include text-heading;
    letter-spacing: -0.015em;
    text-align: left;
    color: var(--text-color-primary);
    margin: 0;
  }
  .subtitle {
    margin: 0;
    @include text-bodyLarge-medium;
    letter-spacing: -0.015em;
    text-align: left;
    color: var(--text-color-secondary);
  }
}

.infoContainer {
  padding: size_unit(4.5) 0;
}
