@import '../../styles/theme.scss';
@import '../../styles/abstracts/typography';
@import '../../styles/abstracts/mixins';

.inlineInfoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: size_unit(3);

  * {
    margin: 0;
  }

  .inlineInfo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: size_unit(3);

    * {
      margin: 0;
    }

    .name {
      @include text-body-semi-bold;
      max-width: 50%;
      color: var(--text-color-primary, #3d3b39);
    }

    .valueContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      max-width: 50%;
      
      .value {
        @include text-bodySmall-medium;
        max-width: 100%;
        color: var(--light-mode-dark-grey, var(--dark-mode-light-grey)) !important;
        word-break: break-word;
        text-align: end;

        @media (max-width: $breakpoint-popup) {
          line-height: 17px;
        }
      }

      .link {
        cursor: pointer;
      }

      .copyButton {
        color: var(--light-mode-black, #fff);
        cursor: pointer;
        height: 0;
        width: 0;
        opacity: 0;
      }

      &:hover {
        .valueContainer {
          gap: size_unit(2);
        }

        .copyButton {
          opacity: 1;
          height: size_unit(3);
          width: size_unit(3);
          min-width: size_unit(3);
        }
      }
    }

    @media (max-width: $breakpoint-popup) {
      gap: size_unit(4);
    }
  }
}
