@import '../../../styles/theme';

.container {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $breakpoint-popup) {
    padding-top: size_unit(4);
  }
}

.wordContainer {
  flex: 1 0 calc(25% - #{size_unit(2.25)});
  justify-content: start !important;
  gap: size_unit(0.75) !important;
  margin: size_unit(2) size_unit(2) 0 0;
}

.blur {
  filter: blur(size_unit(0.5));
}

.word {
  margin: size_unit(2.5) 0;
}
