@import '../../../styles/theme';
@import '../../../../../../common/src/ui/styles/abstracts/typography';

.mnemonicWordContainer,
.active {
  @include text-bodySmall-medium;

  background: var(--light-mode-light-grey, var(--dark-mode-dark-grey));
  border-radius: 100px;
  padding: size_unit(1);
  display: flex;
  gap: size_unit(1);
  align-items: center;
  justify-content: space-between;
  color: var(--text-color-primary) !important;
  height: size_unit(4.5);
  border: 1px solid transparent;
  width: size_unit(13);
  .number {
    @include text-bodySmall-semi-bold;
    margin: 0;
  }
  &:hover {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border: 1px solid var(--light-mode-light-grey-plus, var(--dark-mode-grey));
  }
  &:active,
  &:focus,
  &::selection {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border: 1px solid transparent;
  }
  .active {
    background: var(--light-mode-light-grey-plus-56, var(--dark-mode-dark-grey));
    border: 1px solid transparent;
  }
  &:disabled {
    background: var(--light-mode-light-grey, var(--dark-mode-dark-grey));
    color: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
    .number {
      color: var(--light-mode-dark-grey, var(--dark-mode-light-grey));
      margin: 0;
    }
  }
}

.disabled {
  cursor: not-allowed;

  &:hover {
    background: var(--light-mode-light-grey, var(--dark-mode-dark-grey));
    border: 1px solid transparent;
  }
}
