@import '../../../styles/theme';

.container {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $breakpoint-popup) {
    padding-top: size_unit(4);
  }
}

.fourColumnWordContainer {
  flex: 1 0 calc(25% - #{size_unit(2.25)});
  justify-content: start !important;
  gap: size_unit(0.75) !important;
  margin: size_unit(1) size_unit(1) 0 0;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.threeColumnWordContainer {
  flex: 1 0 calc(33.3% - #{size_unit(2.25)});
  justify-content: start !important;
  gap: size_unit(0.75) !important;
  margin: size_unit(2) size_unit(2) 0 0;
}
