@import '../../../styles/theme.scss';
@import '../../../../../../common/src/ui/styles/abstracts/typography';
@import './WalletSetupMnemonicRevampCommon.module';

.mnemonicContainer {
  margin-top: size_unit(2) !important;
}

:global {
  .ant-segmented {
    display: inline-flex !important;
    width: fit-content;
    padding: size_unit(1) !important;
    margin-left: size_unit(3) !important;
    flex-shrink: 0;
    border-radius: 100px !important;
    border: 0px solid var(--light-mode-light-grey, #f9f9f9);
    background-color: var(--dark-mode-light-black, #ffffff) !important;
    box-shadow: var(--dark-mode-shadow-setup-box, var(--shadow-setup-box));
  }

  .ant-segmented-item {
    width: auto;
    height: auto;
    color: var(--text-color-primary) !important;
    margin: 0px size_unit(0.25);

    &.ant-segmented-item-selected {
      border-radius: 100px;
      color: var(--text-color-white, #ffffff) !important;
      background-color: var(--primary-default, #7f5af0);
    }

    .ant-segmented-item-label {
      width: size_unit(3.5);
      height: size_unit(3.5);
      padding: 0;
    }
  }

  .ant-segmented-thumb {
    border-radius: 100px !important;
  }

  .ant-segmented-thumb-motion-appear-active {
    transition-duration: 0.1s;
    background-color: var(--primary-default, #7f5af0) !important;
  }
}

.errorMessage {
  @include text-bodyXs-semi-bold;
  margin-top: size_unit(2) !important;
  color: var(--color-pink, #ff5470);
}
