@import '../../../../../../../packages/common/src/ui/styles/theme.scss';

$navigation-col-width: 215px;

@mixin concealable-menu-label($display) {
  // without the global there is no way to target SideMenuLabel inside this module
  // this is done in the scope of this file, so the entire navigation container handles the hover behaviour and hides and shows the side menu labels on hover
  :global {
    .ant-menu-title-content {
      .concealable-menu-label {
        display: $display !important;
      }
    }
  }
}

.navigation {
  position: sticky;
  top: 0;
  left: 0;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: center;
  justify-self: center;
  padding: 0 24px;
  background-color: var(--bg-color-body);
  z-index: 100;
  @include concealable-menu-label(none);

  &:hover {
    box-shadow: var(--bg-color-body) 18px 0px 32px 12px;
    @include concealable-menu-label(block);
  }

  @media (min-width: $breakpoint-xsmall) {
    width: $navigation-col-width;
    @include concealable-menu-label(block);
    &:hover {
      box-shadow: none;
    }
  }
}

.stickyMenuInner {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: size_unit(6.5);
  top: 0;
}

.logoContainer {
  max-height: 88px;
  padding-top: size_unit(3);
  display: flex;
  align-items: center;

  .logo {
    cursor: pointer;
  }
}

.shortenedLogo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.networkPillContainer {
  position: absolute;
  left: 35px;
}
