@import '../../../../styles/rules/flex.scss';
@import '../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../packages/common/src/ui/styles/abstracts/typography';

.spaceBetween {
  justify-content: space-between;
  padding-top: size_unit(2);
}

.container {
  justify-content: space-between;
  flex: 1;
  display: flex;
  flex-direction: column;

  .collateralSend {
    display: flex;
    flex-direction: column;
    gap: size_unit(3);
    padding: size_unit(2) 0;
  }

  .collateralDescription {
    @include text-body-medium;
    color: var(--text-color-primary);
  }

  .noTopMargin {
    margin-top: 0;
  }
}

.footer {
  background-color: var(--bg-color-body);
  @extend %flex-column;
  justify-content: center;
  gap: size_unit(1);
  padding: size_unit(2);
  border-top: 2px solid var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey));
  margin: 0 size_unit(-4);
  position: sticky;
  margin: 0 -24px;
  padding: size_unit(2);
  gap: size_unit(1);
  bottom: 0;
  .footerBtn {
    width: 100%;
  }
}

.insufficientFunds {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 size_unit(3);
}

.sadFace {
  width: size_unit(14);
  height: size_unit(14);
}

.sadFaceDescription {
  @include text-body-medium;
  color: var(--text-color-secondary) !important;
  text-align: center;
}
