@import '../../common/src/ui/styles/abstracts/mixins';
@import '../../common/src/ui/styles/themes/dark';
@import '../../common/src/ui/styles/themes/light';

@mixin dark-theme {
  /*
    in case the theme provider is not being used, this media query allows us to use the theme set on the user system
    */
  @media (prefers-color-scheme: dark) and (data-theme: dark) {
    :root {
      @include theme-custom-properties($dark-theme);
    }
  }

  html[data-theme='dark']:not(:has(div[data-theme='light'])),
  div[data-theme='dark'] {
    @include theme-custom-properties($dark-theme);
  }
}

@mixin light-theme {
  /*
    in case the theme provider is not being used, this media query allows us to use the theme set on the user system
    */
  @media (prefers-color-scheme: light) and (data-theme: light) {
    :root {
      @include theme-custom-properties($light-theme);
    }
  }

  html[data-theme='light']:not(:has(div[data-theme='dark'])),
  div[data-theme='light'] {
    @include theme-custom-properties($light-theme);
  }
}

@include dark-theme;
@include light-theme;

:global(.ant-radio:hover .ant-radio-inner) {
  border-color: var(--light-mode-dark-grey, var(--dark-mode-light-grey)) !important;
  background: var(--color-white, var(--dark-mode-grey));
}
:global(.ant-tooltip) {
  color: var(--light-mode-dark-grey, var(--dark-mode-light-grey)) !important;
  font-weight: 400 !important;
  font-size: var(--bodySmall) !important;
}
:global(.ant-tooltip-inner) {
  background-color: var(--dark-mode-mid-grey, #ffffff) !important;
  border-radius: 11px !important;
  color: var(--dark-mode-light-grey, --light-mode-dark-grey) !important;
  padding: size_unit(1) size_unit(2) !important;
}
:global(.ant-tooltip-arrow-content) {
  background-color: var(--dark-mode-mid-grey, #ffffff) !important;
}

:global(.ant-tooltip-arrow-content:before) {
  background: var(--dark-mode-mid-grey, #ffffff) !important;
}

:global(.ant-modal-mask) {
  background: var(--light-mode-black, var(--dark-mode-bg-black)) !important;
  opacity: 0.9;
}

:global(.ant-drawer.ant-drawer-open .ant-drawer-mask) {
  animation: none;
}

:global(.ant-drawer) {
  transition: none;
}

:global {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--primary-default) !important;
    border-color: var(--primary-default) !important;
  }
}

body {
  background-color: var(--bg-color-body, #ffffff) !important;
  color: var(--text-color-primary, #3d3b39);
}
