@import '../../../../../../../packages/common/src/ui/styles/abstracts/mixins';

.overlay {
  background-color: rgba(85, 83, 81, 0.88);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow-y: auto;
  @include scroll-bar-style;
}

.stickyTopNavigation {
  position: sticky;
  top: 0;
  right: 32px;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 365px;
  padding-right: 32px;
  margin-top: 68px;
}
