.card {
  background-image: var(--midnight-pre-launch-banner-image);
  background-size: cover;
  background-position: center right;
  padding: 30px 20px 30px 20px;
}

.heading {
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}

.description {
  color: #A9A9A9;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
