.passwordContainer {
  background: transparent;
  border: 3px solid #19a9a2;
  padding: 0;
  div > button {
    transform: scale(0.65);
    background-color: #38414d;
    svg * {
      stroke: #fff;
    }
  }
}
