.namiPasswordContainer {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.16);
  outline-offset: 1px;
  &:focus-within {
    border: 2px solid #19a9a2;
    outline-offset: 0px;
  }
  border-radius: 0.5rem;
  padding: 0;
  div > button {
    transform: scale(0.65);
  }
}

html[data-theme='dark'] {
  .namiPasswordContainer {
    div > button {
      background-color: #38414d;
      &:hover {
        background-color: rgba(255, 255, 255, 0.16);
      }
      svg * {
        stroke: #fff;
      }
    }
  }
}

html[data-theme='light'] {
  .namiPasswordContainer {
    div > button {
      background-color: #edf2f7;
      &:hover {
        background-color: #e2e8f0;
      }
      svg * {
        stroke: currentcolor;
      }
    }
  }
}
