name: Build lace dev preview

on:
  workflow_dispatch:
jobs:
  build:
    name: Build + test
    runs-on: self-hosted
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Decrypt test data
        working-directory: ./packages/e2e-tests
        run: ./decrypt_secret.sh
        env:
          WALLET_1_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
      - name: Build chrome stable version of Lace
        uses: ./.github/shared/build
        with:
          BUILD_DEV_PREVIEW: 'true'
          LACE_EXTENSION_KEY: ${{ secrets.DEV_PREVIEW_MANIFEST_PUBLIC_KEY  }}
          PRODUCTION_MODE_TRACKING: 'false'
      - name: Check for linter issues
        run: yarn lint
      - name: Run unit tests
        env:
          AVAILABLE_CHAINS: 'Preprod,Preview,Mainnet'
          DEFAULT_CHAIN: 'Preprod'
        run: yarn test --maxWorkers=2 --silent
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: Lace (Developer Preview)
          path: apps/browser-extension-wallet/dist
