name: Build lace dev preview

on:
  workflow_dispatch:
jobs:
  build:
    name: Build + test
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js and install dependencies
        uses: ./.github/actions/install
        with:
          WALLET_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build dev preview version of Lace
        uses: ./.github/shared/build
        with:
          BUILD_DEV_PREVIEW: 'true'
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          LACE_EXTENSION_KEY: ${{ secrets.DEV_PREVIEW_MANIFEST_PUBLIC_KEY  }}
          PRODUCTION_MODE_TRACKING: 'false'
      - name: Check for linter issues
        run: yarn lint
      - name: Execute unit tests
        uses: ./.github/actions/test/unit
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: Lace (Developer Preview)
          path: apps/browser-extension-wallet/dist
