name: Continuous Integration

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - main
      - 'release/**'

permissions:
  pull-requests: write
  actions: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Collect Workflow Telemetry Build Packages
        uses: catchpoint/workflow-telemetry-action@v2
        with:
          comment_on_pr: false

      - name: Setup Node.js and install dependencies
        uses: ./.github/actions/install
        with:
          WALLET_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}

      - name: Build icons
        uses: ./.github/actions/build/package
        with:
          DIR: packages/icons
          NAME: packages-icons

      - name: Build ui
        uses: ./.github/actions/build/package
        with:
          DIR: packages/ui
          NAME: packages-ui

      - name: Build common
        uses: ./.github/actions/build/package
        with:
          DIR: packages/common
          NAME: packages-common

      - name: Build cardano
        uses: ./.github/actions/build/package
        with:
          DIR: packages/cardano
          NAME: packages-cardano

      - name: Build translation
        uses: ./.github/actions/build/package
        with:
          DIR: packages/translation
          NAME: packages-translation

      - name: Build core
        uses: ./.github/actions/build/package
        with:
          DIR: packages/core
          NAME: packages-core

      - name: Build staking
        uses: ./.github/actions/build/package
        with:
          DIR: packages/staking
          NAME: packages-staking

  unitTests:
    name: Unit tests
    runs-on: ubuntu-20.04
    needs: prepare

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js and install dependencies
        uses: ./.github/actions/install
        with:
          WALLET_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}

      - name: Download packages-icons
        uses: actions/download-artifact@v4
        with:
          name: packages-icons
          path: packages/icons/dist

      - name: Download packages-ui
        uses: actions/download-artifact@v4
        with:
          name: packages-ui
          path: packages/ui/dist

      - name: Download packages-common
        uses: actions/download-artifact@v4
        with:
          name: packages-common
          path: packages/common/dist

      - name: Download packages-cardano
        uses: actions/download-artifact@v4
        with:
          name: packages-cardano
          path: packages/cardano/dist

      - name: Download packages-midnight
        uses: actions/download-artifact@v4
        with:
          name: packages-midnight
          path: packages/midnight/dist

      - name: Download packages-translation
        uses: actions/download-artifact@v4
        with:
          name: packages-translation
          path: packages/translation/dist

      - name: Download packages-core
        uses: actions/download-artifact@v4
        with:
          name: packages-core
          path: packages/core/dist

      - name: Download packages-staking
        uses: actions/download-artifact@v4
        with:
          name: packages-staking
          path: packages/staking/dist

      - name: Collect Workflow Telemetry Unit Tests
        uses: catchpoint/workflow-telemetry-action@v2
        with:
          comment_on_pr: false

      - name: Execute unit tests
        uses: ./.github/actions/test/unit

  smokeTests:
    name: Smoke tests
    runs-on: ubuntu-20.04
    needs: prepare

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js and install dependencies
        uses: ./.github/actions/install
        with:
          WALLET_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}

      - name: Download packages-icons
        uses: actions/download-artifact@v4
        with:
          name: packages-icons
          path: packages/icons/dist

      - name: Download packages-ui
        uses: actions/download-artifact@v4
        with:
          name: packages-ui
          path: packages/ui/dist

      - name: Download packages-common
        uses: actions/download-artifact@v4
        with:
          name: packages-common
          path: packages/common/dist

      - name: Download packages-cardano
        uses: actions/download-artifact@v4
        with:
          name: packages-cardano
          path: packages/cardano/dist

      - name: Download packages-translation
        uses: actions/download-artifact@v4
        with:
          name: packages-translation
          path: packages/translation/dist

      - name: Download packages-core
        uses: actions/download-artifact@v4
        with:
          name: packages-core
          path: packages/core/dist

      - name: Download packages-staking
        uses: actions/download-artifact@v4
        with:
          name: packages-staking
          path: packages/staking/dist

      - name: Collect Workflow Telemetry Smoke Tests
        uses: catchpoint/workflow-telemetry-action@v2
        with:
          comment_on_pr: false

      - name: Build Lace browser extension
        uses: ./.github/actions/build/app
        with:
          DIR: apps/browser-extension-wallet
          NAME: lace-browser-extension
          LACE_EXTENSION_KEY: ${{ secrets.MANIFEST_PUBLIC_KEY }}
          POSTHOG_PRODUCTION_TOKEN_MAINNET: ${{ startsWith(github.ref, 'refs/heads/release') && secrets.POSTHOG_PRODUCTION_TOKEN_MAINNET || '' }}
          POSTHOG_PRODUCTION_TOKEN_PREPROD: ${{ startsWith(github.ref, 'refs/heads/release') && secrets.POSTHOG_PRODUCTION_TOKEN_PREPROD || '' }}
          POSTHOG_PRODUCTION_TOKEN_PREVIEW: ${{ startsWith(github.ref, 'refs/heads/release') && secrets.POSTHOG_PRODUCTION_TOKEN_PREVIEW || '' }}
          PRODUCTION_MODE_TRACKING: ${{ startsWith(github.ref, 'refs/heads/release') && 'true' || 'false' }}
          BANXA_LACE_URL: ${{ startsWith(github.ref, 'refs/heads/release') && 'https://lacewallet.banxa.com/' }}

      - name: Execute smoke tests
        uses: ./.github/actions/test/smoke
        with:
          WALLET_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
          TEST_DAPP_URL: ${{ secrets.TEST_DAPP_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          E2E_AWS_ACCESS_KEY_ID: ${{ secrets.E2E_AWS_ACCESS_KEY_ID }}
          E2E_AWS_SECRET_ACCESS_KEY: ${{ secrets.E2E_AWS_SECRET_ACCESS_KEY }}
          E2E_REPORTS_USER: ${{ secrets.E2E_REPORTS_USER }}
          E2E_REPORTS_PASSWORD: ${{ secrets.E2E_REPORTS_PASSWORD }}
          E2E_REPORTS_URL: ${{ secrets.E2E_REPORTS_URL }}
          RUN: ${{ github.run_number }}
          BRANCH: ${{ github.ref_name }}

  if-core-changed:
    name: When core changed
    if: ${{ github.event.pull_request.draft == false }}
    runs-on: ubuntu-20.04
    outputs:
      requireChromaticCheck: ${{ steps.diffcheck.outputs.requireChromaticCheck }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: diffcheck
        run: |
          set +e
          git diff --quiet ${{ github.event.pull_request.base.sha }}..${{ github.sha }} -- packages/core/**
          echo "requireChromaticCheck=$?" >> "$GITHUB_OUTPUT"
          cat $GITHUB_OUTPUT
          set -e

  chromaticCore:
    name: >
      Run Chromatic check: Core
    runs-on: ubuntu-20.04
    needs:
      - prepare
      - if-core-changed

    steps:
      - name: Checkout repository
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js and install dependencies
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 1 }}
        uses: ./.github/actions/install
        with:
          WALLET_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}

      - name: Download packages-icons
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-icons
          path: packages/icons/dist

      - name: Download packages-ui
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-ui
          path: packages/ui/dist

      - name: Download packages-common
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-common
          path: packages/common/dist

      - name: Download packages-cardano
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-cardano
          path: packages/cardano/dist

      - name: Download packages-translation
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-translation
          path: packages/translation/dist

      - name: Download packages-core
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-core
          path: packages/core/dist

      - name: Chromatic packages-core
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 1 }}
        uses: ./.github/actions/chromatic
        with:
          DIR: packages/core
          NAME: packages-core
          TOKEN: ${{ secrets.CHROMATIC_LACE_CORE_TOKEN }}

      - name: Skip
        if: ${{ needs.if-core-changed.outputs.requireChromaticCheck == 0 }}
        run: echo "Chromatic check for packages/core not needed"
          exit 0

  if-staking-changed:
    name: When staking change
    if: ${{ github.event.pull_request.draft == false }}
    runs-on: ubuntu-20.04
    outputs:
      requireChromaticCheck: ${{ steps.diffcheck.outputs.requireChromaticCheck }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: diffcheck
        run: |
          set +e
          git diff --quiet ${{ github.event.pull_request.base.sha }}..${{ github.sha }} -- packages/staking/**
          echo "requireChromaticCheck=$?" >> "$GITHUB_OUTPUT"
          cat $GITHUB_OUTPUT
          set -e

  chromaticStaking:
    name: >
      Run Chromatic check: Staking
    runs-on: ubuntu-20.04
    needs:
      - prepare
      - if-staking-changed

    steps:
      - name: Checkout repository
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js and install dependencies
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: ./.github/actions/install
        with:
          WALLET_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}

      - name: Download packages-icons
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-icons
          path: packages/icons/dist

      - name: Download packages-ui
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-ui
          path: packages/ui/dist

      - name: Download packages-common
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-common
          path: packages/common/dist

      - name: Download packages-cardano
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-cardano
          path: packages/cardano/dist

      - name: Download packages-translation
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-translation
          path: packages/translation/dist

      - name: Download packages-core
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-core
          path: packages/core/dist

      - name: Download packages-staking
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-staking
          path: packages/staking/dist

      - name: Chromatic packages-staking
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 1 }}
        uses: ./.github/actions/chromatic
        with:
          DIR: packages/staking
          NAME: packages-staking
          TOKEN: ${{ secrets.CHROMATIC_LACE_STAKING_TOKEN }}

      - name: Skip
        if: ${{ needs.if-staking-changed.outputs.requireChromaticCheck == 0 }}
        run: echo "Chromatic check for packages/staking not needed"
          exit 0

  if-ui-changed:
    name: When ui changed
    if: ${{ github.event.pull_request.draft == false }}
    runs-on: ubuntu-20.04
    outputs:
      requireChromaticCheck: ${{ steps.diffcheck.outputs.requireChromaticCheck }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: diffcheck
        run: |
          set +e
          git diff --quiet ${{ github.event.pull_request.base.sha }}..${{ github.sha }} -- packages/ui/**
          echo "requireChromaticCheck=$?" >> "$GITHUB_OUTPUT"
          cat $GITHUB_OUTPUT
          set -e

  chromaticUi:
    name: >
      Run Chromatic check: UI
    runs-on: ubuntu-20.04
    needs:
      - prepare
      - if-ui-changed

    steps:
      - name: Checkout repository
        if: ${{ needs.if-ui-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js and install dependencies
        if: ${{ needs.if-ui-changed.outputs.requireChromaticCheck == 1 }}
        uses: ./.github/actions/install
        with:
          WALLET_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}

      - name: Download packages-icons
        if: ${{ needs.if-ui-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-icons
          path: packages/icons/dist

      - name: Download packages-ui
        if: ${{ needs.if-ui-changed.outputs.requireChromaticCheck == 1 }}
        uses: actions/download-artifact@v4
        with:
          name: packages-ui
          path: packages/ui/dist

      - name: Chromatic packages-ui
        if: ${{ needs.if-ui-changed.outputs.requireChromaticCheck == 1 }}
        uses: ./.github/actions/chromatic
        with:
          DIR: packages/ui
          NAME: packages-ui
          TOKEN: ${{ secrets.CHROMATIC_LACE_UI_TOOLKIT_TOKEN }}

      - name: Skip
        if: ${{ needs.if-ui-changed.outputs.requireChromaticCheck == 0 }}
        run: echo "Chromatic check for packages/ui not needed"
          exit 0
