name: E2E Tests Linux

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - 'release/**'
  workflow_dispatch:
    inputs:
      browser:
        description: 'Browser to use'
        required: true
        default: 'chrome'
        type: choice
        options:
          - chrome
          - edge
      network:
        type: choice
        description: network to use
        options:
          - preprod
          - mainnet
      runs-on:
        description: 'Run job on'
        required: false
        default: self-hosted
        type: choice
        options:
          - ubuntu-22.04
          - ubuntu-20.04
          - self-hosted

run-name: "E2E | os: Linux | browser: ${{ github.event.inputs.browser || 'chrome' }} | tags: ${{ github.event.inputs.tags || 'empty' }} | network: ${{ github.event.inputs.network }} | #${{ github.run_number }}"

env:
  TAGS: ${{ github.event.inputs.tags || 'empty' }}
  BROWSER: ${{ github.event.inputs.browser || 'chrome' }}
  NETWORK: ${{ github.event.inputs.network || 'preprod' }}
  RUN: ${{ github.run_number }}
  DISPLAY: ':99.0'
  NODE_OPTIONS: --max-old-space-size=16384
  BRANCH: ${{ github.ref_name }}
  RUNS_ON: ${{ github.event.inputs.runs-on || 'self-hosted' }}

jobs:
  tests-run-part-1:
    runs-on: ${{env.RUNS_ON}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Decrypt test data
        working-directory: ./packages/e2e-tests
        run: ./decrypt_secret.sh
        env:
          WALLET_1_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
      - name: Build dist version of Lace
        uses: ./.github/shared/build
        with:
          LACE_EXTENSION_KEY: ${{ secrets.MANIFEST_PUBLIC_KEY }}
      - name: Start XVFB
        run: |
          Xvfb :99 &
      - name: Execute E2E tests
        id: e2e-tests
        working-directory: ./packages/e2e-tests
        env:
          WALLET_1_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
          TEST_DAPP_URL: ${{ secrets.TEST_DAPP_URL }}
          ENV: ${{ env.NETWORK }}
        run: |
          runCommand="yarn wdio run wdio.conf.${BROWSER}.ts --cucumberOpts.tags='@Onboarding or @SendTx-Simple-Extended or @SendTx-Simple-Popup or @Staking-NonDelegatedFunds-Extended or @Settings-Extended and @Testnet and not @Pending'"
          eval "$runCommand";
      - name: Save tests results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tests-run-part-1-results
          path: ./packages/e2e-tests/reports/allure/results

  tests-run-part-2:
    runs-on: ${{env.RUNS_ON}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Decrypt test data
        working-directory: ./packages/e2e-tests
        run: ./decrypt_secret.sh
        env:
          WALLET_1_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
      - name: Build dist version of Lace
        uses: ./.github/shared/build
        with:
          LACE_EXTENSION_KEY: ${{ secrets.MANIFEST_PUBLIC_KEY }}
      - name: Start XVFB
        run: |
          Xvfb :99 &
      - name: Execute E2E tests
        id: e2e-tests
        working-directory: ./packages/e2e-tests
        env:
          WALLET_1_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
          TEST_DAPP_URL: ${{ secrets.TEST_DAPP_URL }}
          ENV: ${{ env.NETWORK }}
        run: |
          runCommand="yarn wdio run wdio.conf.${BROWSER}.ts --cucumberOpts.tags='@Analytics or @E2E and @Testnet and not @Pending'"
          eval "$runCommand";
      - name: Save tests results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tests-run-part-2-results
          path: ./packages/e2e-tests/reports/allure/results

  tests-run-part-3:
    runs-on: ${{env.RUNS_ON}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Decrypt test data
        working-directory: ./packages/e2e-tests
        run: ./decrypt_secret.sh
        env:
          WALLET_1_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
      - name: Build dist version of Lace
        uses: ./.github/shared/build
        with:
          LACE_EXTENSION_KEY: ${{ secrets.MANIFEST_PUBLIC_KEY }}
      - name: Start XVFB
        run: |
          Xvfb :99 &
      - name: Execute E2E tests
        id: e2e-tests
        working-directory: ./packages/e2e-tests
        env:
          WALLET_1_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
          TEST_DAPP_URL: ${{ secrets.TEST_DAPP_URL }}
          ENV: ${{ env.NETWORK }}
        run: |
          runCommand="yarn wdio run wdio.conf.${BROWSER}.ts --cucumberOpts.tags='@AddressBook-extended or @AddressBook-popup or @NFT-Folders-Extended or @NFT-Folders-Popup or @Transactions-Extended or @Transactions-Popup or @Collateral-extended or @Collateral-popup or @SendTx-Bundles-Extended and @Testnet and not @Pending'"
          eval "$runCommand";
      - name: Save tests results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tests-run-part-3-results
          path: ./packages/e2e-tests/reports/allure/results

  tests-run-part-4:
    runs-on: ${{env.RUNS_ON}}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Decrypt test data
        working-directory: ./packages/e2e-tests
        run: ./decrypt_secret.sh
        env:
          WALLET_1_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
      - name: Build dist version of Lace
        uses: ./.github/shared/build
        with:
          LACE_EXTENSION_KEY: ${{ secrets.MANIFEST_PUBLIC_KEY }}
      - name: Start XVFB
        run: |
          Xvfb :99 &
      - name: Execute E2E tests
        id: e2e-tests
        working-directory: ./packages/e2e-tests
        env:
          WALLET_1_PASSWORD: ${{ secrets.WALLET_PASSWORD_TESTNET }}
          TEST_DAPP_URL: ${{ secrets.TEST_DAPP_URL }}
          ENV: ${{ env.NETWORK }}
        run: |
          runCommand="yarn wdio run wdio.conf.${BROWSER}.ts --cucumberOpts.tags='@Testnet and not @Pending and not @Onboarding and not @Analytics and not @E2E and not @SendTx-Simple-Extended and not @SendTx-Simple-Popup and not @Staking-NonDelegatedFunds-Extended and not @Settings-Extended and not @AddressBook-extended and not @AddressBook-popup and not @NFT-Folders-Extended and not @NFT-Folders-Popup and not @Transactions-Extended and not @Transactions-Popup and not @Collateral-extended and not @Collateral-popup and not @SendTx-Bundles-Extended'"
          eval "$runCommand";
      - name: Save tests results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tests-run-part-4-results
          path: ./packages/e2e-tests/reports/allure/results

  results-processing:
    needs: [tests-run-part-1, tests-run-part-2, tests-run-part-3, tests-run-part-4]
    runs-on: ubuntu-22.04
    if: always()
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Download reports from part 1
        uses: actions/download-artifact@v4
        with:
          name: tests-run-part-1-results
          path: ./tests-run-part-1-results
      - name: Download reports from part 2
        uses: actions/download-artifact@v4
        with:
          name: tests-run-part-2-results
          path: ./tests-run-part-2-results
      - name: Download reports from part 3
        uses: actions/download-artifact@v4
        with:
          name: tests-run-part-3-results
          path: ./tests-run-part-3-results
      - name: Download reports from part 4
        uses: actions/download-artifact@v4
        with:
          name: tests-run-part-4-results
          path: ./tests-run-part-4-results
      - name: Copy allure results
        if: always()
        run: |
          mkdir -p ./allure/results
          cp -r ./tests-run-part-1-results/* ./allure/results
          cp -r ./tests-run-part-2-results/* ./allure/results
          cp -r ./tests-run-part-3-results/* ./allure/results
          cp -r ./tests-run-part-4-results/* ./allure/results
      - name: Create allure properties
        if: always()
        run: |
          echo "
          branch=${BRANCH}
          env=${NETWORK}
          browser=${BROWSER}
          tags=${TAGS}
          platform=Linux
          " > environment.properties
      - name: Publish allure report to S3
        uses: andrcuns/allure-publish-action@v2.6.0
        if: always()
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.E2E_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.E2E_AWS_SECRET_ACCESS_KEY }}
        with:
          storageType: s3
          resultsGlob: './allure/results'
          bucket: lace-e2e-test-results
          prefix: 'all/linux/${BROWSER}/${RUN}'
          copyLatest: true
          ignoreMissingResults: true
          baseUrl: 'https://${{ secrets.E2E_REPORTS_USER }}:${{ secrets.E2E_REPORTS_PASSWORD }}@${{ secrets.E2E_REPORTS_URL }}'
      - name: Add link to summary
        if: always()
        run: |
          echo "TEST RESULTS:"
          echo "https://${{ secrets.E2E_REPORTS_USER }}:${{ secrets.E2E_REPORTS_PASSWORD }}@${{ secrets.E2E_REPORTS_URL }}/all/linux/${{ env.BROWSER }}/${{ env.RUN }}/index.html | tags: ${{ env.TAGS }} | browser: ${{ env.BROWSER }} | network: ${{ env.NETWORK }} | platform: linux" >> $GITHUB_STEP_SUMMARY
      - name: Publish artifacts (logs, reports, screenshots)
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-artifacts
          path: |
            ./allure
          retention-days: 10
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2.2.0
        if: always()
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON_EMOJI: ':lace:'
          SLACK_MESSAGE: 'https://${{ secrets.E2E_REPORTS_USER }}:${{ secrets.E2E_REPORTS_PASSWORD }}@${{ secrets.E2E_REPORTS_URL }}/all/linux/${{ env.BROWSER }}/${{ env.RUN }}/index.html | tags: ${{ env.TAGS }} | browser: ${{ env.BROWSER }} | network: ${{ env.NETWORK }} | platform: linux'
          SLACK_TITLE: 'Test automation results :rocket:'
          SLACK_USERNAME: lace-qa-bot
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

