name: 'Label PRs'
on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  logs:
    runs-on: ubuntu-latest
    steps:
      - name: Log github context
        run: echo '${{ toJSON(github.envent.pull_request_target) }}'

  triage:
    if: github.event.pull_request_target.draft == false
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v5
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          sync-labels: true
          dot: true

