name: Post-integration

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Build dist version of Lace
        uses: ./.github/shared/build
        with:
          LACE_EXTENSION_KEY: ${{ secrets.MANIFEST_PUBLIC_KEY  }}
      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          name: lightwallet
          path: apps/browser-extension-wallet/dist
      - name: Run unit tests, generate test coverage report
        run: yarn test:coverage --maxWorkers=2 --silent
      - name: Upload Coveralls report
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.COVERALLS_REPO_TOKEN  }}
          allow-empty: true
