name: Post-integration

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build dist version of Lace
        uses: ./.github/shared/build
        with:
          LACE_EXTENSION_KEY: ${{ secrets.MANIFEST_PUBLIC_KEY  }}
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: lightwallet
          path: apps/browser-extension-wallet/dist
      - name: Run unit tests
        env:
          AVAILABLE_CHAINS: 'Preprod,Preview,Mainnet'
          DEFAULT_CHAIN: 'Preprod'
          NODE_OPTIONS: '--max_old_space_size=8192'
        run: yarn test --maxWorkers=2 --silent
