name: Create Release

on:
  workflow_dispatch:
    inputs:
      app:
        description: 'Which app to release (extension)'
        required: true
        type: choice
        options:
          - extension
      version:
        description: 'The version to release'
        required: true

run-name: 'Create Release | app: ${{ inputs.app }} | version: ${{ inputs.version }}'

jobs:
  create_release:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Create release branch
        run: git checkout -b release/v${{ inputs.version }}

      - name: Push branch
        run: git push --set-upstream origin release/v${{ inputs.version }}

      - name: Bump version in manifest files
        if: inputs.app == 'extension'
        run: |
          sed -i "s/\"version\": \"[0-9.]*\"/\"version\": \"${{ inputs.version }}\"/g" apps/browser-extension-wallet/manifest.json

      - name: Create pull request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: 'chore(${{ inputs.app }}): bump version to ${{ inputs.version }}'
          title: Release version ${{ inputs.version }} for ${{ inputs.app }}
          body: |
            This pull request is to release version ${{ inputs.version }} for ${{ inputs.app }} app.
          branch: release/v${{ inputs.version }}
          base: main
          labels: release
