name: Sync main with Upstream

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.UPSTREAM_SYNC_PAT }}

      - name: Set up Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Add upstream remote
        run: git remote add upstream https://github.com/input-output-hk/lace.git

      - name: Fetch upstream main
        run: git fetch upstream

      - name: Checkout main branch
        run: |
          if git rev-parse --verify main 1>/dev/null 2>&1 ; then
            git checkout main
            git branch --set-upstream-to=origin/main main
          else
            git checkout --track origin/main
          fi

      - name: Create a branch and push
        env:
          GITHUB_TOKEN: ${{ secrets.UPSTREAM_SYNC_PAT }}
        run: |
          set -euo pipefail
          git merge --abort
          git checkout -b conflict-branch upstream/main
          git reset --hard upstream/main
          git push -u origin conflict-branch:conflict-branch --force

      - name: Create Pull Request from conflict-branch if the previous PR is already closed
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          set -euo pipefail
          num_existing=$(curl -fsSL -H "Authorization: token $GITHUB_TOKEN" \
              -H "Accept: application/vnd.github.v3+json" \
              "https://api.github.com/repos/${GITHUB_REPOSITORY}/pulls?state=open&head=input-output-hk:conflict-branch" \
              | jq length)
          if [ "$num_existing" = 0 ] ; then
            # For some reason `gh pr create` fails with `GraphQL: Resource not accessible by integration (createPullRequest)`, so:
            curl -fsSL -X POST -H "Authorization: token $GITHUB_TOKEN" \
              -H "Accept: application/vnd.github.v3+json" \
              https://api.github.com/repos/${GITHUB_REPOSITORY}/pulls \
              -d '{
                "title": "Resolve conflicts with upstream",
                "head": "conflict-branch",
                "base": "main",
                "body": "This PR will resolve conflicts between the `main` branch and `upstream/main`.\n\nPlease, **do not squash** the upstream, but **merge it instead**, as this will make it easier for Git in the final merge/rebase."
              }'
          fi
