@import '../../../ui/styles/theme.scss';

:global(.ant-list-split) :local(.listItemWrapper) {
  border-bottom: none !important;
  padding: size_unit(2) !important;
  margin: 0 -#{size_unit(2)};
  &:hover {
    padding: size_unit(2) !important;
    background: var(--light-mode-light-grey, var(--dark-mode-mid-grey));
    border-radius: size_unit(2);
  }
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    padding-bottom: 0px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.infiniteScrollContainer {
  height: 100%;
  overflow: visible;

  :global(.infinite-scroll-component) {
    overflow: inherit !important;
  }
}
