@import '../../../../../../../../../packages/common/src/ui/styles/theme.scss';
@import '../../../../../../../../../packages/common/src/ui/styles/abstracts/typography.scss';

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: size_unit(4);

  .separator {
    background-color: var(--light-mode-light-grey-plus, var(--dark-mode-mid-grey)) !important;
    height: 1px;
    width: 100%;
  }

  .listTitle {
    font-size: var(--subHeading);
    font-weight: 600;
    line-height: size_unit(5);
    text-align: left;
  }

  .buttonContainer {
    margin-top: -#{size_unit(3)};
    padding-bottom: size_unit(3);
    width: 100%;
  }

  button.viewAllButton {
    width: 100%;
  }

  .viewAllIcon {
    font-size: var(--subHeading);
  }

  @media (max-width: $breakpoint-popup) {
    gap: size_unit(3);
  }

  .activityListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-popup) {
      margin-top: -#{size_unit(2)};
    }
  }

  .listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tokenInformationWrapper {
      display: flex;
      flex-direction: column;
      gap: size_unit(4);
      width: 100%;
      margin-bottom: size-unit(4);
    }

    .activityListWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .viewAll[data-color='primary'] {
      @include text-bodyLarge-medium;
      text-align: right;
      color: var(--primary-default, #7f5af0) !important;
      min-width: auto !important;
      padding: 0 !important;

      &:active,
      &:hover,
      &:focus {
        color: var(--primary-active, #702bed) !important;
        background: none !important;
      }
    }

    .listTitle {
      @include text-subHeading-bold;
      color: var(--text-color-primary);
      text-align: left;

      @media (max-width: $breakpoint-popup) {
        @include text-bodyLarge-semi-bold;
        text-align: left;
      }
    }

    @media (max-width: $breakpoint-popup) {
      margin-top: size_unit(2);
    }
  }
}

.popupDetails {
  margin-top: 0;
}
