@import '../../../styles/theme.scss';
@import '../../../../../../common/src/ui/styles/abstracts/_typography.scss';

.body {
  display: flex;
  flex-direction: column;
  gap: size_unit(3);
  background-color: var(--light-mode-light-grey, var(--dark-mode-grey, #f9f9f9));
  border-radius: size_unit(2);
  padding: size_unit(2);

  .detail {
    @include text-body-semi-bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: var(--text-color-primary);
      line-height: 1;
    }

    .value {
      display: flex;
      max-width: 50%;
      align-items: flex-end;
      flex-direction: column;
      gap: size_unit(2);

      font-size: var(--bodySmall);
      font-weight: 500;
      line-height: 1;
      /* Secondary - Black */
      color: var(--text-color-primary);
    }

    .ellipsis > p {
      margin: 0;
    }
  }
}
